{% extends 'layout.html' %}

{% block pageTitle %}
  Buying Catalogue
{% endblock %}

{% block header %}
  {% include "includes/header-proxy.html" %}
  {% endblock%}

  <!-- Breadcrumb goes inside the beforeContent block -->
  {% block beforeContent %}{% endblock %}

  <!-- Your page content goes inside the content block -->
  {% block content %}
    {% from 'back-link/macro.njk' import backLink %}

    {{ backLink({
  "href": "3-supplier-autocomplete",
  "text": "Go back"
}) }}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h1>Supplier details
          <span class="nhsuk-caption-xl nhsuk-caption--bottom">
            <span class="nhsuk-u-visually-hidden">
              -
            </span>
            Order C000001-01
          </span>
        </h1>
        <p class="nhsuk-lede-text">Confirm this is the supplier you want to order from.</p>
        {% from "summary-list/macro.njk" import summaryList %}

        {{ summaryList({
        rows: [
          {
            key: {
              text: "Supplier name"
            },
            value: {
              text: "EMIS Health"
            },
            actions: {
              items: [

              ]
            }
          },
          {
            key: {
              text: "Legal name"
            },
            value: {
              text: "EMIS Health Ltd"
            },
            actions: {
              items: [
              ]
            }
          },
          {
            key: {
              text: "Registered address"
            },
            value: {
              html: '<p>EMIS House</p>
              <p>Green Lane</p>
              <p>West Yorkshire</p>
              <p>LS19 7BY</p>
              <p>England</p>'
            },
            actions: {
              items: [
              ]
            }
          }
        ]
      }) }}
        {{ actionLink({
        "text": "Search for a different supplier",
        "href": "order-5-10-supplier"
      }) }}

        {% from 'inset-text/macro.njk' import insetText %}
        {{ insetText({
      "HTML": "<h3>Confirming your supplier</h3><p>Once you’ve confirmed your supplier you’ll not be able to change it for this order.</p>
      <p>If you do progress and later decide that you want to change your supplier, you’ll need to start a new order.</p>"
      }) }}
        <br/>

        <div>
          <div style="display:inline-block;">
            <form method="post" action="3-supplier-contact-details">
              {% from 'button/macro.njk' import button %}

              {{ button({
              "text": "Save and continue"
            }) }}
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>

  <br/><br/>
{% endblock %}

{% block footer %}
  {% include "includes/footer.html" %}
{% endblock %}
