<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- In /views/layout.html you can: - change the header and footer - add custom CSS and JavaScript -->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Index pages
{% endblock %}

{% block header %}
  {% include "includes/header-nonav.html" %}
{% endblock%}

  <!-- Breadcrumb goes inside the beforeContent block -->
  {% block beforeContent %}{% endblock %}

  {% block content %}
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

        <h1>Prototype index</h1>
      </div>
    </div>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <!-- LATEST PROTOTYPES -->

        <h2>Latest prototypes</h2>

        <h3>Amend order</h3>

        <ul>
          <li>
            <a href="../amend-order/order-dashboard">
              Journey start
            </a>
          </li>
          <li>
            <a href="../amend-order/edit-dashboardtasklists/tasklist-start">
              Order tasklist
            </a>
          </li>
          <li>
            <a href="../amend-order/edit-dashboard">
              Edit solutions and services
            </a>
          </li>
        </ul>

        <br />

        <h3>Importing Service Recipients</h3>

        <ul>
          <li>
            <a href="../order-v2/import-service-recipients-happy/0-select-service-recipients">
              Happy path (work in progress)
            </a>
          </li>
        </ul>

        <ul>
          <li>
            <a href="../order-v2/import-service-recipients-unhappy/0-select-service-recipients">
              Unhappy path (work in progress)
            </a>
          </li>
        </ul>

        <br />

        <h3>Tech Innovation Framework (TIF)</h3>

        <ul>
          <li>
            <a href="../marketing-page/marketing-page-tif">
              Marketing page
            </a>
          </li>
          <li>
            <a href="../admin-solutions/admin-add-solution">
              Adding a framework (admin)
            </a>
          </li>
          <li>
            <a href="../catalogue-solution/index">
              Catalogue solutions page with updated framework filter
            </a>
          </li>
          <li>
            <a href="../index-tif">
              Homepage with "What's new" section
            </a>
          </li>
          <li>
            <a href="../tif/tif-info">
              TIF information page
            </a>
          </li>
        </ul>

        <hr />

        <!-- OLDER PROTOTYPES -->

        <h2>Older prototypes</h2>

        <h3>Delete an order (admin)</h3>

        <ul>
          <li>
            <a href="../admin-all-orders/view-order">
              Order overview including delete link
            </a>
          </li>
          <li>
            <a href="../admin-all-orders/confirm-delete-order">
              Confirm order deletion
            </a>
          </li>
        </ul>

        <br />

        <h3>Select a framework</h3>

        <ul>
          <li>
            <a href="../order-v2/order-5-7-choose-framework">
              Choose framework
            </a>
          </li>
          <li>
            <a href="../order-v2/order-5-7-confirm-framework">
              Confirm framework change
            </a>
          </li>
          <li>
            <a href="../order-v2/order-5-7-funding-framework">
              Funding source page with framework info
            </a>
          </li>
        </ul>

        <br />

        <h3>Planned delivery dates</h3>

        <h4>User test scenarios</h4>
        <ul>
          <li>
            <a href="../contracts-testing/planned-delivery-date-ut-scenario-1/order-4-summary-funding-completed">
              Scenarios 1, 2 and 3
            </a>
          </li>
          <li>
            <a href="../contracts-testing/planned-delivery-date-ut-scenario-4/order-4-summary-funding-completed">
              Scenario 4
            </a>
          </li>
          <li>
            <a href="../contracts-testing/planned-delivery-date-ut-scenario-5/order-4-summary-funding-completed">
              Scenario 5
            </a>
          </li>
          <li>
            <a href="../contracts-testing/planned-delivery-date-ut-scenario-6a/review-planned-delivery-dates-main">
              Review screen (Order Tracker Service Recipients - <br />ordered alphabetically)
            </a>
          </li>
          <li>
            <a href="../contracts-testing/planned-delivery-date-ut-scenario-6b/review-planned-delivery-dates-main">
              Review screen (Order Tracker Service Recipients - <br />ordered chronologically)
            </a>
          </li>
          <li>
            <a href="../contracts-testing/planned-delivery-date-ut-scenario-6c/review-planned-delivery-dates-main">
              Review screen (Order Tracker Service Recipients - <br />ordered by table)
            </a>
          </li>
          <li>
            <a href="../contracts-testing/planned-delivery-date-ut-scenario-6d/review-planned-delivery-dates-main">
              Review screen (Scenario 4 Service Recipients - <br />ordered alphabetically)
            </a>
          </li>
          <li>
            <a href="../contracts-testing/planned-delivery-date-ut-scenario-6e/review-planned-delivery-dates-main">
              Review screen (Scenario 4 Service Recipients - <br />ordered chronologically)
            </a>
          </li>
          <li>
            <a href="../contracts-testing/planned-delivery-date-ut-scenario-6f/review-planned-delivery-dates-main">
              Review screen (Scenario 4 Service Recipients - <br />ordered by table)
            </a>
          </li>
        </ul>

        <br />

        <h3>Search filter</h3>

        <ul>
          <li>
            <a href="../order-v2/filter/v5/catalogue-solutions-start">
              Filter Catalogue Solutions
            </a>
          </li>
        </ul>

        <br />

        <h4>Start where you left off</h4>

        <ul>
          <li>

            <a href="../order-v2/order-4-restart">
              Change Additional Services
            </a>
          </li>
        </ul>

        <br />

        <h3>Order form</h3>

        <ul>

          <li>
            <a href="../order-v2/order-1-guidance">
              Catalogue Solutions and services
            </a>
          </li>
          <li>
            <a href="../order-v2/order-1-guidance">
              Associated Services only
            </a>
          </li>
          <li>
            <a href="../order-v2/order-4-edit-solutions-and-services">
              Edit Solutions and services
            </a>
          </li>
          <li>
            <a href="../order-v2/edit-associated-services/v3/order-4-edit-solutions-and-services-3">
              Edit Associated Services only
            </a>
          </li>
        </ul>

        <br />

        <h3>Tiered pricing</h3>

        <h4>Adding a new tier</h4>

        <ul>

          <li>
            <a href="../admin-solutions/list-price/list-price-select-type">
              Add a list price
            </a>
          </li>

        </ul>

        <h4>Editing an existing tier</h4>

        <ul>

          <li>
            <a href="../admin-solutions/list-price/list-price-edit-price-tiered">
              Editing an unpublished tiered list price
            </a>
          </li>

          <li>
            <a href="../admin-solutions/list-price/list-price-edit-published-price-tiered">
              Editing a published tiered list price
            </a>
          </li>

        </ul>

        <h4>Order flow (buyer side)</h4>

        <ul>

          <li>
            <a href="../order-v2/tiered-pricing/catalogue-solution-price-tiered">
              Select tiered list price
            </a>
          </li>

          <li>
            <a href="../order-v2/tiered-pricing/additional-service-1-price-tiered">
              Select tiered additional service price
            </a>
          </li>

          <li>
            <a href="../order-v2/tiered-pricing/order-5-4-2-select-associated-confirm-price-tiered">
              Select tiered associated service price
            </a>
          </li>

        </ul>

        <h4>Tier capping</h4>

        <ul>

          <li>
            <a href="../admin-solutions/list-price/list-price-add-price-tiered-bands-max-5">
              Add price
            </a>
          </li>

          <li>
            <a href="../admin-solutions/list-price/list-price-edit-price-tiered-max">
              Edit price
            </a>
          </li>

        </ul>

        <h4>Schedule 2.3</h4>

        <ul>

          <li>
            <a href="../schedule-2-3/order-4-summary-completed">
              Summary page
            </a>
          </li>

        </ul>

        <br />

        <h3>Email whitelisting</h3>

        <ul>

          <li>
            <a href="../admin-all-users/email-domains-whitelist">Whitelisted email domains table</a>
          </li>

          <li>
            <a href="../admin-all-users/add-email-domain">Add a new domain to the whitelist</a>
          </li>

          <li>
            <a href="../admin-all-users/delete-email-domain">Confirm deletion</a>
          </li>

        </ul>

        <!-- <ul>
          <li>
            <a href="../contracts-testing/order-4-summary-funding-completed">
              Planned delivery dates
            </a>
          </li>
        </ul> -->


        <!--<h3>Other links (For Dan)</h3>

        <ul>
          <li>
            <a href="../your-account/index">
              User account landing page (old - hide link from page and archive)
            </a>
          </li>
        </ul>-->

      </div>
    </div>
    <br/><br/>


  {% endblock %}

  {% block footer %}
    {% include "includes/footer.html" %}
  {% endblock %}
