<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- In /views/layout.html you can: - change the header and footer - add custom CSS and JavaScript -->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Your account
{% endblock %}

{% block header %}
  {% include "includes/header-admin.html" %}
  {% endblock%}

  <!-- Breadcrumb goes inside the beforeContent block -->
  {% block beforeContent %}{% endblock %}

  {% block content %}
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

        <h1>Your account</h1>
        <p class="nhsuk-lede-text">
          Manage your orders, shortlists, Service Recipient groups. Also find links to documents, and the buyers guide.
        </p>
        <hr>
      </div>
    </div>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h2>Manage orders, groups and shortlists</h2>

        <ul>

          <li>
            <a href="your-orders">
              <strong>Your orders</strong>
            </a>
            <br>
            View the orders that you have created.
          </li>

          <li>
            <a href="groups/0-dashboard">
              <strong>Your groups</strong>
            </a>
            <br>
            View, edit and remove groups of Service Recipients 
          </li>
          <li>
            <a href="shortlist-your-shortlist">
              <strong>Your shortlists</strong>
            </a>
            <br>
            View and manage your search criteria for the Suppliers to be used in a Further Competition.
          </li>

        </ul>


        <h2>Lorem ipsum</h2>

        <ul>

          <li>
            <a href="">
              <strong>Important documentats</strong>
            </a>
            <br>
            View and download important documents from various sources.
          </li>

          <li>
            <a href="">
              <strong>Further Competition</strong>
            </a>
            <br>
            Jump to the last paged saved in your Further Competition process.
          </li>

          <li>
            <a href="">
              <strong>Buyers guide</strong>
            </a>
            <br>
            Guidance to support you in procuring from the GP IT Futures Framework.
          </li>

        </ul>

      </div>
    </div>
    <br/><br/>
  {% endblock %}

  {% block footer %}
    {% include "includes/footer.html" %}
  {% endblock %}
