{% extends 'layout.html' %}

{% block pageTitle %}
  Buying Catalogue
{% endblock %}

{% block header %}
{% include "includes/header-proxy.html" %}
{% endblock%}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}

{% endblock %}
<!-- Your page content goes inside the content block -->
{% block content %}
{% from 'back-link/macro.njk' import backLink %}

<script>
  function sendForm() {
    var selectedValue = document.querySelector('input[name="example-hints"]:checked').value;

    switch(selectedValue){
        case "yes":
           document.location.href = "../step-2-edit/edit-flow/order-5-4-2-add-solution-service-recipient-edit";
           break;
        case "no":
           document.location.href = "/order-v2/order-4-edit-solutions-and-services";
            break;
    }
  }
</script>


{{ backLink({
  "href": "order-1-guidance",
  "text": "Go back"
}) }}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

{% from 'radios/macro.njk' import radios %}
{% from 'fieldset/macro.njk' import fieldset %}
{% from 'hint/macro.njk' import hint %}
{% from 'input/macro.njk' import input %}

<h1>Are you sure you want to change your Additional Services?</h1>

<!-- {% from 'inset-text/macro.njk' import insetText %}

{{ insetText({
  "HTML": "<p>You will not be able to retrieve you order once confirmed.</p>"
}) }} -->

<p class="nhsuk-lede-text">You’ll lose all the information you’ve previously entered for any Additional Services you remove.</p>
{{ warningCallout({
  "heading": "Changing an Additional Service",
  "HTML": "<p>Changing an Additional Service will remove the Service Recipients, quantities and prices you've previously entered.</p>"
}) }}

<h2>Changes to your Additional Services</h2>
<p>You’ve made the following changes to your order.</p>
    <p><b>Removed:</b></p>
    <ol class="nhsuk-list nhsuk-list--bullet">
      <li>Assura ER LLP Hull Dermatology</li>
      <li>Bevan Ltd</li>
    </ol>
  <br/>
  <p><b>Added:</b></p>
    <ol class="nhsuk-list nhsuk-list--bullet">
      <li>Extract Services</li>
    </ol>
  <hr/>

{% from 'radios/macro.njk' import radios %}

{{ radios({
  "idPrefix": "example-hints",
  "name": "example-hints",
  "fieldset": {
    "legend": {
      "text": "Do you want to confirm your changes?",
      "classes": "nhsuk-fieldset__legend--l",
      "isPageHeading": true
    }
  },
  "items": [
    {
      "value": "yes",
      "text": "Yes, I want to change my Additional Services",
      "hint": {
        "text": ""
      }
    },
    {
      "value": "no",
      "text": "No, I do not want to change my Additional Services",
      "hint": {
        "text": ""
      }
    }
  ]
}) }}


<br/>


<form>
{{ button({
  "text": "Save and continue",
  "href":"javascript: sendForm();"
}) }}
</form>

    </div>
  </div>

  <br /><br />
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
