{% extends 'layout.html' %}

{% block pageTitle %}
Caltech Web GP - Development plans
{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% endblock%}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}

{% from 'breadcrumb/macro.njk' import breadcrumb %}

<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/catalogue-solution/">Catalogue Solutions</a></li>
      <li class="nhsuk-breadcrumb__item">Caltech Web GP</li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="">Back to Caltech Web GP</a></p>
  </div>
</nav>


{% endblock %}

<!-- Your page content goes inside the content block -->
{% block content %}


<article>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third sidebar" id="sidebar">
      <nav class="side-nav">
        {% set template = "includes/sticky-side-nav.njk" %}
        {% include template %}
      </nav>
    </div>
    <div class="nhsuk-grid-column-two-thirds content" id="content">

      <h1>
        Development plans
        <span class="nhsuk-caption-xl">Caltech Web GP</span> 
      </h1>
      {% from 'contents-list/macro.njk' import contentsList %}
      {% from "summary-list/macro.njk" import summaryList %}

      <dl class="nhsuk-summary-list">
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Supplier name
          </dt>
          <dd class="nhsuk-summary-list__value">
            <a href="#" class="nhsuk-link nhsuk-link--no-visited-state">Caltech Health</a> 
          </dd>
          
        </div>
      
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Solution ID
          </dt>
          <dd class="nhsuk-summary-list__value">
            10000-001
          </dd>
          
        </div>
      
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Framework(s)
          </dt>
          <dd class="nhsuk-summary-list__value">
            GP IT Futures
          </dd>
          
        </div>
      
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Foundation Solution
          </dt>
          <dd class="nhsuk-summary-list__value">
            Yes
          </dd>
          
        </div>
      
    </dl>
      <h2 class="nhsuk-heading-l">Development plans</h2>

      <p>These are the development plans for this Catalogue Solution:</p>

      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Roadmaps
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>The supplier has provided a roadmap detailing the development plans for this Catalogue Solution.</p>

      <p><a href="#">View supplier’s roadmap for this Catalogue Solution (opens in a new tab)</a> </p>

      <p>The GP IT Futures Capabilities and Standards roadmap outlines future changes to the Capabilities and Standards model.</p>

      <p><a href="https://gpitbjss.atlassian.net/wiki/spaces/GPITF/pages/1391133519/Roadmap">View GP IT Futures Capabilities and Standards roadmap (opens in a new tab)</a></p>

        </div>
      </details>

      <hr>

 
            <h3>Work-off Plans</h3>
          </span>

          <p>This Catalogue Solution is subject to a Compliance Work-off Plan. It means the supplier has agreed to complete any outstanding work to meet a Standard within an agreed timeframe.</p>
          <p><a href="https://gpitbjss.atlassian.net/wiki/spaces/GPITF/pages/1391134310/Introduction+to+Capabilities+and+Standards">More information about these requirements (opens in a new tab)</a> </p>


      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Appointments Management - GP
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p><b>Description:</b> Supports the administration, scheduling, resourcing and reporting of appointments.</p>
      <p><a href="https://gpitbjss.atlassian.net/wiki/spaces/GPITF/pages/1391134382/Appointments+Management+-+GP+-+Standard">More information about this Standard (opens in a new tab)</a> </p>
      <p>The supplier is working towards full compliance with this Standard and has the following Work-off Plan items:</p>


      {{ table({
        panel: false,
        firstCellIsHeader: false,
        head: [
          {
            text: "Details"
          },
          {
            html: "Agreed&nbsp;completion&nbsp;date"
          }
        ],
        rows: [
          [
            {
              text: "Work-Off Plan for GP-06.2-05 requirement."
            },
            {
              text: "30/09/2021"
            }
          ],
          [
            {
              text: "Work-Off Plan for GP-06.2-10A requirement."
            },
            {
              text: "30/09/2021"
            }
          ],
          [
            {
              text: "Work-Off Plan for GP-06.2-10A requirement."
            },
            {
              text: "30/09/2021"
            }
          ],
          [
            {
              text: "Work-Off Plan for GP-APMAN-01."
            },
            {
              text: "30/09/2021"
            }
          ],
          [
            {
              text: "Work-Off Plan for requirement GP-AP-PR-06."
            },
            {
              text: "30/09/2021"
            }
          ],
          [
            {
              text: "GP Appointment National Standard for Categorisation – Remainder requirement has a Work-Off Plan item."
            },
            {
              text: "31/12/2021"
            }
          ]
        ]
    }) }}
        </div>
      </details>

      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            GP Connect Messaging
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p><b>Description:</b> Supports the administration, scheduling, resourcing and reporting of appointments.</p>
      <p><a href="https://gpitbjss.atlassian.net/wiki/spaces/GPITF/pages/1391134382/Appointments+Management+-+GP+-+Standard">More information about this Standard (opens in a new tab)</a></p>
      <p>The supplier is working towards full compliance with this Standard and has the following Work-off Plan items:</p>
      <p><b>Description:</b> Supports sharing of data held within GP IT solutions across health and social care organisations.</p>
      <p><a href="https://gpitbjss.atlassian.net/wiki/spaces/GPITF/pages/1391133650/GP+Connect">More information about this Standard (opens in a new tab)</a></p>
      <p>The supplier is working towards full compliance with this Standard and has the following Work-off Plan items:</p>


      {{ table({
        panel: false,
        firstCellIsHeader: false,
        head: [
          {
            text: "Details"
          },
          {
            text: "Agreed completion date"
          }
        ],
        rows: [
          [
            {
              text: "GP Connect Messaging - Send Document Standard has a Work-off Plan item."
            },
            {
              text: "31/12/2021"
            }
          ]
        ]
    }) }}
        </div>
      </details>
      

      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            GP2GP
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p><b>Description:</b> Supports the electronic transfer of a Patient Record when a patient moves from one GP practice to another.</p>
      <p><a href="https://gpitbjss.atlassian.net/wiki/spaces/GPITF/pages/1391134336/GP2GP">More information about this Standard (opens in a new tab)</a></p>
      <p>The supplier is working towards full compliance with this Standard and has the following Work-off Plan items:</p>




      {{ table({
        panel: false,
        firstCellIsHeader: false,
        head: [
          {
            text: "Details"
          },
          {
            text: "Agreed completion date"
          }
        ],
        rows: [
          [
            {
              text: "GP2GP 2.2a (Remainder) has a Work-off Plan item."
            },
            {
              text: "31/12/2021"
            }
          ],
          [
            {
              text: "GP2GP 2.2b Standard has a Work-off Plan item."
            },
            {
              text: "31/12/2021"
            }
          ]
        ]
    }) }}
        </div>
      </details>

      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Patient Information Maintainance
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p><b>Description:</b> Supports the registration of patients and the maintenance of all their personal information. Enables the organisation and presentation of a comprehensive Patient Record.</p>
      <p><a href="https://gpitbjss.atlassian.net/wiki/spaces/GPITF/pages/1391134401/Patient+Information+Maintenance+-+Standard">More information about this Standard (opens in a new tab)</a></p>
      <p>The supplier is working towards full compliance with this Standard and has the following Work-off Plan items:</p>



      {{ table({
        panel: false,
        firstCellIsHeader: false,
        head: [
          {
            text: "Details"
          },
          {
            text: "Agreed completion date"
          }
        ],
        rows: [
         [
          {
            text: "Work-off Plan for PIM13 requirement."
          },
          {
            text: "31/12/2021"
          }
        ],
        [
          {
            text: "Work-off Plan for GP-PPFS-3.2-01 requirement."
          },
          {
            text: "31/12/2021"
          }
        ],
        [
          {
            text: "Work-off Plan for GP-PPFS-3.2-03A requirement."
          },
          {
            text: "31/12/2021"
          }
        ],
        [
          {
            text: "Work-off Plan for GP-PPFS-3.2-07 requirement."
          },
          {
            text: "31/12/2021"
          }
        ],
        [
          {
            text: "Work-off Plan for GP-PPFS-3.3-08A requirement."
          },
          {
            text: "31/12/2021"
          }
        ],
        [
          {
            text: "Work-off Plan for GP-PPFS-3.4-03 requirement."
          },
          {
            text: "31/12/2021"
          }
        ],
        [
          {
            text: "Work-off Plan for GP-PPFS-3.4-12 requirement."
          },
          {
            text: "31/12/2021"
          }
        ],
        [
          {
            text: "Work-off Plan for GP-PPFS-3.4-07 requirement."
          },
          {
            text: "31/12/2021"
          }
        ],
        [
          {
            text: "Work-off Plan bfor GP-PPFS-3.4-08 requirement."
          },
          {
            text: "31/12/2021"
          }
        ],
        [
          {
            text: "Work-off Plan for GP-PPFS-6.1-02 requirement."
          },
          {
            text: "31/12/2021"
          }
        ],
        [
          {
            text: "Work-off Plan for GP-PPFS-5.1-01 requirement."
          },
          {
            text: "31/12/2021"
          }
        ],
        [
          {
            text: "Work-off Plan for GP-PPFS-3.4-07 requirement."
          },
          {
            text: "31/12/2021"
          }
        ],
        [
          {
            text: "Work-off Plan for GP-PPFS-3.4-07A requirement."
          },
          {
            text: "31/12/2021"
          }
        ],
        [
          {
            text: "Work-off Plan for GP-PPFS-3.4-09 requirement."
          },
          {
            text: "31/12/2021"
          }
        ],
        [
          {
            text: "Work-off Plan for GP-PPFS-3.4-10 requirement."
          },
          {
            text: "31/12/2021"
          }
        ],
        [
          {
            text: "Work-off Plan for GP-PPFS-6.3-03 requirement."
          },
          {
            text: "31/12/2021"
          }
        ],
        [
          {
            text: "Work-off Plan for GP-PPFS-6.3-04 requirement."
          },
          {
            text: "31/12/2021"
          }
        ],
        [
            {
              text: "Patient Management- Combined View Standard has a Work-Off Plan for requirement GP-AP-4.7-01."
            },
            {
              text: "30/09/2021"
            }
          ]
        ]
    }) }}
        </div>
      </details>

      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Service Management
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p><b>Description:</b> Supports suppliers in the delivery and management of services that enable their solutions to continue working.</p>
      <p><a href="https://gpitbjss.atlassian.net/wiki/spaces/GPITF/pages/1391133802/Service+Management">More information about this Standard (opens in a new tab)</a></p>
      <p>The supplier is working towards full compliance with this Standard and has the following Work-off Plan items:</p>




      {{ table({
        panel: false,
        firstCellIsHeader: false,
        head: [
          {
            text: "Details"
          },
          {
            text: "Agreed completion date"
          }
        ],
        rows: [
          [
            {
              text: "Work-Off Plan for GP-O-SMO-1.2 requirement."
            },
            {
              text: "31/07/2021"
            }
          ]
        ]
    }) }}
        </div>
      </details>


      


      <p class="nhsuk-body-s nhsuk-u-secondary-text-color nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-0">
        Solution information last reviewed: 31 March 2020
      </p>

  {% from 'pagination/macro.njk' import pagination %}

  {{ pagination({
    "previousUrl": "service-level-agreement",
    "previousPage": "Service agreement"
  }) }}
  </div>
</div>
</article>
{% endblock %}

{% block pageScripts %}

<script type="text/javascript">
  $(document).ready(function(){  
    
    jQuery.goup({
      bottomOffset: 100,
      locationOffset: 60,
      containerRadius: 23,
      containerClass: 'nhs-scroll-to-top-button',
      title: 'Back to top',
      titleAsText: true,
      titleAsTextClass: 'scroll-to-top-text'
    });
    
    jQuery('.content, .sidebar').theiaStickySidebar({
      // Settings
      additionalMarginTop: 30
    });  

});


</script>


{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
