<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Buying Catalogue
{% endblock %}

{% block header %}
{% include "includes/header-admin.html" %}
{% endblock%}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}

<!-- {% from 'breadcrumb/macro.njk' import breadcrumb %}

  {{ breadcrumb({
  items: [
  ],
  href: "/",
  text: "Home"
  }) }} -->

{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  {% from 'back-link/macro.njk' import backLink %}

  {{ backLink({
    "href": "admin-solution-plans",
    "text": "Go back"
  }) }}

    <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">

              <h1>
              <span role="text">Work-off plan information
                <span class="nhsuk-caption-xl nhsuk-caption--bottom">
                  <span class="nhsuk-u-visually-hidden"> - </span>
                  Caltech Web GP
                </span>
              </span>
            </h1>


            <p class="nhsuk-lede-text">Provide the following information about a Work-off Plan item for your Catalogue Solution.</p>

            <form action="admin-solution-plans" method="post">

            {{ select({
            "id": "select-1",
            "name": "select-1",
            "label": {
                "text": "Select Standard"
            },
            "items": [
                {
                "value": 1,
                "text": "Business Continuity and Disaster Recovery"
                },
                {
                "value": 2,
                "text": "Clinical Safety"
                },
                {
                "value": 3,
                "text": "Commercial"
                },
                {
                "value": 4,
                "text": "Data Migration"
                },
                {
                "value": 5,
                "text": "Data Standards"
                },
                {
                "value": 6,
                "text": "Hosting & Infrastructure"
                },
                {
                "value": 7,
                "text": "Information Governance"
                },
                {
                "value": 8,
                "text": "Non-Functional Questions"
                },
                {
                "value": 9,
                "text": "Service Management"
                },
                {
                "value": 10,
                "text": "Testing"
                },
                {
                "value": 11,
                "text": "Training"
                }
            ]
            }) }}

            {{ input({
            "label": {
              "text": "Work-off Plan details"
            },
            "hint": {
              "text": "For example, which part of a Standard still requires work to meet compliance?"
            },
            "id": "last-name",
            "name": "last-name"
          }) }}

              {{ dateInput({
                "id": "example",
                "namePrefix": "example",
                "fieldset": {
                  "legend": {
                    "text": "Agreed completion date",
                    "classes": "nhsuk-label--l",
                    "isPageHeading": true
                  }
                },
                "hint": {
                  "text": "For example, 15 3 1984"
                },
                "items": [
                  {
                    "name": "day",
                    "classes": "nhsuk-input--width-2"
                  },
                  {
                    "name": "month",
                    "classes": "nhsuk-input--width-2"
                  },
                  {
                    "name": "year",
                    "classes": "nhsuk-input--width-4"
                  }
                ]
              }) }}

            <br />

            {% from 'button/macro.njk' import button %}

            {{ button({
              "text": "Save and continue"
            }) }}
            <p><a href="#" style="color: red;">Delete Work-off Plan</a></p>

            </form>
          </div>
        </div>


{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
