<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Buying Catalogue
{% endblock %}

{% block header %}
{% include "includes/header-admin.html" %}
{% endblock%}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}

<!-- {% from 'breadcrumb/macro.njk' import breadcrumb %}
  {{ breadcrumb({
  items: [
  ],
  href: "/admin-solutions/",
  text: "Manage Catalogue Solutions"
  }) }} -->

{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
{{ backLink({
  "href": "admin-solution",
  "text": "Go back"
}) }}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1>
      <span role="text">Client application type
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">
          <span class="nhsuk-u-visually-hidden"> - </span>
          Caltech Web GP
        </span>
      </span>
    </h1>

    <!--h2>User accounts</h2-->

    <p class="nhsuk-lede-text">Let buyers know which types of application will work with your Catalogue Solution. You must add at least one.</p>

    {{ actionLink({
      "text": "Add an application type",
      "href": "admin-solution-cta-add"
    }) }}
    <p>Use the link to add information on each of the application types your Catalogue Solution works with.</p>


    {% from 'tables/macro.njk' import table %}

    {{ table({
    responsive: true,
    panel: false,
    caption: "",
    firstCellIsHeader: false,
    head: [
      {
      text: "Application types added"
      },
      {
        text: "Status"
      },
      {
        text: ""
      }
    ],
    rows: [
      [
        {
          text: "Browser-based application"
        },
        {
          header: "Status",
          html: '<strong class="nhsuk-tag nhsuk-tag--green">Completed</strong>'
        },
        {
          html: '<a href="admin-solution-cta-add-2">Edit</a>'
        }
      ],
      [
        {
          text: "Desktop application"
        },
        {
          header: "Status",
          html: '<strong class="nhsuk-tag nhsuk-tag--green">Completed</strong>'
        },
        {
          html: '<a href="admin-solution-cta-add-2">Edit</a>'
        }
      ],
      [
        {
          text: "Mobile application"
        },
        {
          header: "Status",
          html: '<strong class="nhsuk-tag nhsuk-tag--green">Completed</strong>'
        },
        {
          html: '<a href="admin-solution-cta-add-2">Edit</a>'
        }
      ]
    ]
    }) }}

    <br />


    <form action="admin-solution">
    {{ button({
      "text": "Continue",
      "href": "admin-solution"
    }) }}
    </form>

  <br/>
  <br/>

    </div>
</div>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
