<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Buying Catalogue
{% endblock %}

{% block header %}
{% include "includes/header-admin.html" %}
{% endblock%}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}

<!-- {% from 'breadcrumb/macro.njk' import breadcrumb %}
  {{ breadcrumb({
  items: [
  ],
  href: "/admin-solutions/",
  text: "Manage Catalogue Solutions"
  }) }} -->

{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
{{ backLink({
  "href": "admin-solution",
  "text": "Go back"
}) }}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <h1>
      <span role="text">Interoperability
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">
          <span class="nhsuk-u-visually-hidden"> - </span>
          Caltech Web GP
        </span>
      </span>
    </h1>

    <!--h2>User accounts</h2-->

    <p class="nhsuk-lede-text">Describe any systems your Catalogue Solution integrates with to exchange data.</p>


    <h2>NHS assured integrations</h2>

    {% from 'details/macro.njk' import details %}

    {{ details({
      "text": "What are NHS assured integrations?",
      "HTML": "<p>IM1 and GP Connect offer integrations specified and assured by the NHS. They allow clinical information and data to be shared quickly and efficiently between IT systems.
</p><p>If your Catalogue Solution uses any of these integrations, you must provide information on them using the add integrations links.
</p><p>You can find more information about <a href=\"https://digital.nhs.uk/services/gp-it-futures-systems/im1-pairing-integration/\" title=\"External website\">IM1 integrations</a> and <a href=\"https://digital.nhs.uk/services/gp-connect/\" title=\"External website\">GP Connect integrations</a> on the NHS Digital website.
</p>"
    }) }}

    <h3>IM1 integrations</h3>

    {% from 'action-link/macro.njk' import actionLink %}

    {{ actionLink({
      "text": "Add an IM1 integration",
      "href": "admin-solution-interop-add"
    }) }}
<p>Use the link to add information on each of the IM1 integrations your Catalogue Solution works with.</p>
    {% from 'tables/macro.njk' import table %}

    {{ table({
    responsive: true,
    panel: false,
    caption: "IM1 Bulk",
    firstCellIsHeader: false,
    head: [
      {
      text: "Provider or consumer"
      },
      {
      text: "System integrating with"
      },
      {
      text: "Description"
      },
      {
        text: ""
      }
    ],
    rows: [
    [
    {
      header: "Provider or consumer",
      text: "Provider"
    },
    {
      header: "System integrating with",
      text: "Audit+"
    },
    {
      header: "Description",
      text: "Audit+ utilises a bulk extraction of full clinical records (including confidential and deceased patients) from EMIS Web to provide General Practices with a crossplatform clinical decision support and management tool; supporting QOF performance management, improvement and NHS Health Checks."
    },
    {
      html: '<a href="#">Edit</a>'
    }
    ],
    [
    {
      header: "Provider or consumer",
      text: "Provider"
    },
    {
      header: "System integrating with",
      text: "Informatics Platform"
    },
    {
      header: "Description",
      text: "A Risk Stratification tool"
    },
    {
      html: '<a href="#">Edit</a>'
    }
    ],
    [
    {
      header: "Provider or consumer",
      text: "Provider"
    },
    {
      header: "System integrating with",
      text: "Censura"
    },
    {
      header: "Description",
      text: "Storm is a sophisticated management information reporting interface that presents EMIS Web, allowing users to display their data in the most impactful and effective format; selecting from a range of arrangements and graphical forms."
    },
    {
      html: '<a href="#">Edit</a>'
    }
    ]
    ]
    }) }}
    <div data-test-id="back-to-top-link" class="bc-c-back-to-top ">
    <a class="nhsuk-back-to-top__link" href="#maincontent">
    <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
    <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
    </svg>
    Back to top
    </a>
    </div>

    <br /><br />


    {{ table({
      responsive: true,
      panel: false,
      caption: "IM1 Transactional",
      firstCellIsHeader: false,
      head: [
        {
          text: "Provider or consumer"
        },
        {
          text: "System integrating with"
        },
        {
          text: "Description"
        },
        {
          text: ""
        }
      ],
      rows: [
        [
          {
            header: "Provider or consumer",
            text: "Provider"
          },
          {
            header: "System integrating with",
            text: "Audit+"
          },
          {
            header: "Description",
            text: "Audit+ utilises a bulk extraction of full clinical records (including confidential and deceased patients) from EMIS Web to provide General Practices with a crossplatform clinical decision support and management tool; supporting QOF performance management, improvement and NHS Health Checks."
          },
          {
            html: '<a href="#">Edit</a>'
          }
        ],
        [
          {
            header: "Provider or Consumer",
            text: "Provider"
          },
          {
            header: "System integrating with",
            text: "Informatics Platform"
          },
          {
            header: "Description",
            text: "A Risk Stratification tool"
          },
          {
            html: '<a href="#">Edit</a>'
          }
        ],
        [
          {
            header: "Provider or Consumer",
            text: "Provider"
          },
          {
            header: "System integrating with",
            text: "Censura"
          },
          {
            header: "Description",
            text: "Storm is a sophisticated management information reporting interface that presents EMIS Web, allowing users to display their data in the most impactful and effective format; selecting from a range of arrangements and graphical forms."
          },
          {
            html: '<a href="#">Edit</a>'
          }
        ]
      ]
    }) }}
    <div data-test-id="back-to-top-link" class="bc-c-back-to-top ">
      <a class="nhsuk-back-to-top__link" href="#maincontent">
        <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
        </svg>
        Back to top
      </a>
    </div>

    <hr style="border-width: 4px;" />

    <h3>GP Connect integrations</h3>

    {% from 'action-link/macro.njk' import actionLink %}

    {{ actionLink({
      "text": "Add a GP Connect integration",
      "href": "admin-solution-interop-addGPC"
    }) }}
<p>Use the link to add information on each of the GP Connect integrations your Catalogue Solution works with.</p>
    {% from 'tables/macro.njk' import table %}

    {{ table({
    responsive: true,
    panel: false,
    caption: "GP Connect - HTML View",
    firstCellIsHeader: false,
    head: [
    {
    text: "Provider or consumer"
    },
    {
    text: "Additional information"
    },
    {
    text: ""
    }
    ],
    rows: [
    [
    {
      header: "Provider or consumer",
      text: "Provider"
    },
    {
      header: "Additional information",
      text: "EMIS Web received Full Roll Out Approval from NHS Digital for GP Connect HTML View Provision on 20/06/19"
    },
    {
      html: '<a href="#">Edit</a>'
    }
    ],
    [
    {
      header: "Provider or consumer",
      text: "Consumer"
    },
    {
      header: "Additional information",
      text: "EMIS Web is accredited to consume GP Connect HTML views"
    },
    {
      html: '<a href="#">Edit</a>'
    }
    ]
    ]
    }) }}
    <div data-test-id="back-to-top-link" class="bc-c-back-to-top ">
    <a class="nhsuk-back-to-top__link" href="#maincontent">
    <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
    <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
    </svg>
    Back to top
    </a>
    </div>

    <br /><br />

    {{ table({
    responsive: true,
    panel: false,
    caption: "GP Connect - Appointment Booking",
    firstCellIsHeader: false,
    head: [
    {
    text: "Provider or consumer"
    },
    {
    text: "Additional information"
    },
    {
      text: ""
    }
    ],
    rows: [
    [
    {
      header: "Provider or consumer",
      text: "Provider"
    },
    {
      header: "Additional information",
      text: "EMIS Web received Full Roll Out Approval from NHS Digital for GP Connect HTML View Provision on 20/06/19"
    },
    {
      html: '<a href="#">Edit</a>'
    }
    ],
    [
    {
      header: "Provider or consumer",
      text: "Consumer"
    },
    {
      header: "Additional information",
      text: "EMIS Web is accredited to consume GP Connect HTML views"
    },
    {
      html: '<a href="#">Edit</a>'
    }
    ]
    ]
    }) }}

    <div data-test-id="back-to-top-link" class="bc-c-back-to-top ">
    <a class="nhsuk-back-to-top__link" href="#maincontent">
    <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
    <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
    </svg>
    Back to top
    </a>
    </div>

    <br /><br />


    <h2>Supplier asserted integrations</h2>



    {{ input({
      "label": {
        "text": "Link to supplier asserted integrations (optional)"
      },
      "hint": {
        "text": "Provide a URL to a page that gives information about your own integrations. They may only allow your Catalogue Solution to partially integrate with other systems."
      },
      "id": "last-name",
      "name": "last-name"
    }) }}
    <p class="nhsuk-hint" style="margin-top:-16px; margin-bottom: 32px;">You have 1,000 characters remaining</p>

    {% from 'inset-text/macro.njk' import insetText %}

{{ insetText({
  "HTML": "<p>If you are providing a URL, it must link to a page detailing all the supplier asserted integrations for your Catalogue Solution. It’s your responsibility to keep this page up-to-date.</p>"
}) }}


    <div data-test-id="back-to-top-link" class="bc-c-back-to-top ">
    <a class="nhsuk-back-to-top__link" href="#maincontent">
    <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
    <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
    </svg>
    Back to top
    </a>
    </div>



    <br /><br />


    <form action="admin-solution">
    {{ button({
      "text": "Save and continue",
      "href": "admin-solution"
    }) }}
    </form>
  <br/>
  <br/>

    </div>
</div>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
