<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Buying Catalogue
{% endblock %}

{% block header %}
{% include "includes/header-admin.html" %}
{% endblock%}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}

<!-- {% from 'breadcrumb/macro.njk' import breadcrumb %}

  {{ breadcrumb({
  items: [
  ],
  href: "/",
  text: "Home"
  }) }} -->

{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  {% from 'back-link/macro.njk' import backLink %}

  {{ backLink({
    "href": "admin-solution-associated",
    "text": "Go back"
  }) }}

    <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-full">

            <h1>
              <span role="text">[Associated Service name] information
                <span class="nhsuk-caption-xl nhsuk-caption--bottom">
                  <span class="nhsuk-u-visually-hidden"> - </span>
                  Caltech Web GP
                </span>
              </span>
            </h1>

            <p class="nhsuk-lede-text">Provide information about the Associated Service.</p>

            <form action="admin-solution-associated" method="post">

              {% from 'tables/macro.njk' import table %}

              {{ table({
                responsive: true,
                panel: false,
                caption: "",
                firstCellIsHeader: false,
                head: [
                  {
                    text: "Section"
                  },
                  {
                    text: "Mandatory"
                  },
                  {
                    text: "Status"
                  },
                  {
                    text: ""
                  }
                ],
                rows: [
                  [
                    {
                      header: "Section",
                      text: "Details"
                    },
                    {
                      header: "Mandatory",
                      text: "Yes"
                    },
                    {
                      header: "Status",
                      html: '<strong class="nhsuk-tag nhsuk-tag--green">Completed</strong>'
                    },
                    {
                      header: "Action",
                      html: '<a href="admin-solution-associated-add">Edit</a>'
                    }
                  ],
                  [
                    {
                      header: "Section",
                      text: "Price"
                    },
                    {
                      header: "Mandatory",
                      text: "Yes"
                    },
                    {
                      header: "Status",
                      html: '<strong class="nhsuk-tag nhsuk-tag--grey">Not started</strong>'
                    },
                    {
                      header: "Action",
                      html: '<a href="admin-solution-associated-price">Edit</a>'
                    }
                  ]
                ]
              }) }}

              <br />

              
              {{ table({
                responsive: true,
                panel: false,
                caption: "Solutions referencing this Associated Service",
                firstCellIsHeader: false,
                head: [
                  {
                    text: "Solution ID"
                  },
                  {
                    text: "Solution name"
                  },
                  {
                    text: ""
                  }
                ],
                rows: [
                [
                  {
                    text: "10002-002"
                  },
                  {
                    text: "Emis Web GP"
                  },
                  {
                    html: '<a href="admin-solution-associated">Edit</a>'
                  }
                ],
                  [
                    {
                      text: "10003-003"
                    },
                    {
                      text: "Anywhere Consult"
                    },
                    {
                      html: '<a href="admin-solution-associated">Edit</a>'
                    }
                  ],
                  [
                    {
                      text: "10004-004"
                    },
                    {
                      text: "Online Consult"
                    },
                    {
                      html: '<a href="admin-solution-associated">Edit</a>'
                    }
                  ]
                ]
              }) }}

              <br/>

              {{ radios({
              "idPrefix": "contact",
              "name": "contact",

              "fieldset": {
                "legend": {
                  "text": "What would you like to do with this Associated Service?",
                  "classes": "nhsuk-fieldset__legend--l",
                  "isPageHeading": "true"
                }
              },
              "hint": {
                "text": "Select one option."
              },
              "items": [
                {
                  "value": "reject",
                  "text": "Draft"
                },
                {
                  "value": "approve",
                  "text": "Publish"
                },
                {
                  "value": "reject",
                  "text": "Unpublish"
                }
              ]
            }) }}

            {{ button({
              "text": "Continue"
            }) }}
<p><a href="#" style="color: red;">Delete Associated Service</a></p>
            </form>
          </div>
        </div>


{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
