<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Buying Catalogue
{% endblock %}

{% block header %}
{% include "includes/header-admin.html" %}
{% endblock%}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}

<!-- {% from 'breadcrumb/macro.njk' import breadcrumb %}

  {{ breadcrumb({
  items: [
  ],
  href: "/",
  text: "Home"
  }) }} -->

{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  {% from 'back-link/macro.njk' import backLink %}

  {{ backLink({
    "href": "admin-solution-hosting",
    "text": "Go back"
  }) }}

    <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">


            <h1>Public cloud hosting</h1>
            <p class="nhsuk-lede-text">Provide the following information about the public cloud hosting of your Catalogue Solution.</p>

            <form action="admin-solution-hosting" method="post">



              {{ textarea({
                id: "reject",
                name: "reject",
                label: {
                  text: "Summary (optional)"
                },
                "hint": {
                  "text": "Provide information on how your Catalogue Solution can be hosted."
                }
              }) }}
              <p class="nhsuk-hint" style="margin-top:-16px; margin-bottom: 32px;">You have 500 characters remaining</p>

              {% from 'input/macro.njk' import input %}

              {{ input({
                "label": {
                  "text": "Link to more information (optional)"
                },
                "hint": {
                  "text": "Provide a URL to a page that gives buyers further information about the on premise hosting requirements for your Catalogue Solution."
                },
                "id": "solution-name",
                "name": "solution-name"
              }) }}
              <p class="nhsuk-hint" style="margin-top:-16px; margin-bottom: 32px;">You have 1,000 characters remaining</p>




              {% from 'checkboxes/macro.njk' import checkboxes %}

              {{ checkboxes({
                "idPrefix": "example",
                "name": "example",
                "fieldset": {
                  "legend": {
                    "text": "HSCN/N3 connectivity",
                    "classes": "nhsuk-fieldset__legend--l",
                    isPageHeading: true
                  }
                },
                "hint": {
                  "text": "Use the checkbox if end user devices must be connected to HSCN/N3 in order to use your Catalogue Solution."
                },
                "items": [
                  {
                    "value": "email",
                    "text": "Yes, devices must be connected to HSCN/N3"
                  }
                ]
              }) }}


<!--






              {{ input({
                "label": {
                  "text": "Unit"
                },
                "id": "solution-name",
                "name": "solution-name"
              }) }}
              <p class="nhsuk-hint" style="margin-top:-16px; margin-bottom: 32px;">You have 100 characters remaining</p>

              {{ input({
                "label": {
                  "text": "Unit definition"
                },
                "id": "solution-name",
                "name": "solution-name"
              }) }}
              <p class="nhsuk-hint" style="margin-top:-16px; margin-bottom: 32px;">You have 100 characters remaining</p>

              {{ input({
                "label": {
                  "text": "Volume"
                },
                "id": "solution-name",
                "name": "solution-name"
              }) }}
              <p class="nhsuk-hint" style="margin-top:-16px; margin-bottom: 32px;">You have 100 characters remaining</p>


-->
            <br />

            {% from 'button/macro.njk' import button %}

            {{ button({
              "text": "Save and continue"
            }) }}
<p><a href="#" style="color: red;">Delete hosting type</a></p>
            <!--br /><br />
            <a href="admin-solution-interoperability">Return</a-->

            </form>
          </div>
        </div>


{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
