<div class="beta-banner nhsuk-u-padding-top-2 nhsuk-u-padding-bottom-2">
    <section class="bc-flex-container bc-align-items-center nhsuk-width-container nhsuk-u-padding-bottom-3 nhsuk-u-padding-top-3" aria-labelledby="beta-tag" role="banner">
        <h2 class="nhsuk-tag beta-tag" id="beta-tag">BETA</h2>
        <div>
            The Buying Catalogue is a new service. Sign up to take part in testing and <a data-test-id="feedback-link" target="_blank" href="https://feedback.digital.nhs.uk/jfe/form/SV_3C4ClYbvjUg7veK">share your feedback</a>.
        </div>
    </section>
</div>