{% set newCaps = [
    {
      "category-name": "Appointments",
      "capabiltiies": [
        "Appointments Management – Citizen",
        "Appointments Management – GP"
      ]
    },
    {
      "category-name": "Care coordination",
      "capabiltiies": [
        "Communication Management",
        "Digital Diagnostics",
        "Referral Management"
      ]
    },
    {
      "category-name": "Citizen services",
      "capabiltiies": [
        "Communicate With Practice – Citizen",
        "Personal Health Record",
        "Prescription Ordering – Citizen",
        "View Record – Citizen"
      ]
    },
    {
      "category-name": "Consultations",
      "capabiltiies": [
        "Clinical Decision Support",
        "e-Consultations (Professional to Professional)",
        "Online Consultation",
        "Recording Consultations",
        "Video Consultation"
      ]
    },
    {
      "category-name": "Document and artefact management",
      "capabiltiies": [
        "Document Management",
        "Scanning",
        "Unstructured Data Extraction"
      ]
    },
    {
      "category-name": "Health or care organisation management",
      "capabiltiies": [
        "Resource Management",
        "Workflow"
      ]
    },
    {
        "category-name": "Medicines management",
        "capabiltiies": [
          "Medicines Optimisation",
          "Prescribing"
        ]
      },
    {
        "category-name": "Patient care management",
        "capabiltiies": [
          "Patient Information Maintenance",
          "Shared Care Plans",
          "Unified Care Record"
        ]
      },
      {
          "category-name": "Reporting and data analytics",
          "capabiltiies": [
            "Data Analytics for Integrated and Federated Care",
            "GP Extracts Verification",
            "Population Health Management",
            "Reporting",
            "Risk Stratification"
          ]
        },
        {
            "category-name": "Supplier defined Capabilities-",
            "capabiltiies": [
              "Productivity"
            ]
          }
  ]

%}