<ul class="side-nav__component">
  <li class="side-nav__list {% if 'solution-page' in currentUrl %} side-nav__list--selected {% endif %}">
    <a href="solution-page" class="side-nav__link nhsuk-link--no-visited-state">Summary</a>          
  </li>

  <li class="side-nav__list {% if 'features' in currentUrl %} side-nav__list--selected {% endif %}">
    <a href="features" class="side-nav__link nhsuk-link--no-visited-state">Features</a>          
  </li>

  <li class="side-nav__list {% if 'list-price' in currentUrl %} side-nav__list--selected {% endif %}">
    <a href="list-price" class="side-nav__link nhsuk-link--no-visited-state">List price</a>          
  </li>

  <li class="side-nav__list {% if 'capabilities-and-epics' in currentUrl %} side-nav__list--selected {% endif %}">
    <a href="capabilities-and-epics" class="side-nav__link nhsuk-link--no-visited-state">Capabilities and Epics</a>          
  </li>

  <li class="side-nav__list {% if 'additional-services' in currentUrl %} side-nav__list--selected {% endif %}">
    <a href="additional-services" class="side-nav__link nhsuk-link--no-visited-state">Additional Services</a>          
  </li>

  <li class="side-nav__list {% if 'associated-services' in currentUrl %} side-nav__list--selected {% endif %}">
    <a href="associated-services" class="side-nav__link nhsuk-link--no-visited-state">Associated Services</a>          
  </li>

  <li class="side-nav__list {% if 'implementation-timescales' in currentUrl %} side-nav__list--selected {% endif %}">
    <a href="implementation-timescales" class="side-nav__link nhsuk-link--no-visited-state">Implementation</a>          
  </li> 


  <li class="side-nav__list {% if 'supplier-details' in currentUrl %} side-nav__list--selected {% endif %}">
    <a href="supplier-details" class="side-nav__link nhsuk-link--no-visited-state">Supplier details</a>          
  </li> 

  <li class="side-nav__list {% if 'interoperability' in currentUrl %} side-nav__list--selected {% endif %}">
    <a href="interoperability" class="side-nav__link nhsuk-link--no-visited-state">Interoperability</a>          
  </li>

  <li class="side-nav__list {% if 'data-processing' in currentUrl %} side-nav__list--selected {% endif %}">
    <a href="data-processing" class="side-nav__link nhsuk-link--no-visited-state">Data processing information</a>          
  </li>


  <li class="side-nav__list {% if 'application-type' in currentUrl %} side-nav__list--selected {% endif %}">
    <a href="application-type" class="side-nav__link nhsuk-link--no-visited-state">Application type</a>          
  </li>

  <li class="side-nav__list {% if 'hosting-type' in currentUrl %} side-nav__list--selected {% endif %}">
    <a href="hosting-type" class="side-nav__link nhsuk-link--no-visited-state">Hosting type</a>          
  </li>


  <li class="side-nav__list {% if 'standards' in currentUrl %} side-nav__list--selected {% endif %}">
    <a href="standards" class="side-nav__link nhsuk-link--no-visited-state">Standards</a>          
  </li>

      
  <li class="side-nav__list {% if 'service-level-agreement' in currentUrl %} side-nav__list--selected {% endif %}">
    <a href="service-level-agreement" class="side-nav__link nhsuk-link--no-visited-state">Service Level Agreement</a>          
  </li>
    

  <li class="side-nav__list {% if 'development-plans' in currentUrl %} side-nav__list--selected {% endif %}">
    <a href="development-plans" class="side-nav__link nhsuk-link--no-visited-state">Development plans</a>          
  </li>  

</ul>