{% extends 'layout.html' %}

{% block pageTitle %}
  Buying Catalogue
{% endblock %}

{% block header %}
{% include "includes/header-proxy.html" %}
{% endblock%}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}

{% endblock %}
<!-- Your page content goes inside the content block -->
{% block content %}
{% from 'back-link/macro.njk' import backLink %}

{{ backLink({
  "href": "order-4-summary-supplier",
  "text": "Go back"
}) }}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1>Catalogue Solution and services<span class="nhsuk-caption-xl nhsuk-caption--bottom">
        <span class="nhsuk-u-visually-hidden"> - </span>
        Order C000001-01
      </span></h1>
      <p class="nhsuk-lede-text">Review the Catalogue Solution and services that you have added to this order.
        You may edit the items that you've added at any time.</p>

      {% from 'action-link/macro.njk' import actionLink %}

      {{ actionLink({
        "text": "Edit solutions and services",
        "href": "order-5-4-1-edit-solutions-and-services"
      }) }}


      <!-- <p>Use the link to edit Catalogue Solutions or services and assign them to service recipients.</p> -->
<br />
    </div>
</div>


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

{% include "order-v2/order-5-4-1-table-orders2.html" %}

<br />
<form action="order-4-summary-supplier">
{{ button({
  "text": "Continue"
}) }}
</form>

    </div>
  </div>

  <br /><br />
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
