
<br />
{% from 'tables/macro.njk' import table %}

    {{ table({
    responsive: true,
    panel: false,
    caption: "",
    firstCellIsHeader: false,
    head: [
      {
        text: "Service Recipients"
      },
      {
        text: "ODS code"
      },
      {
        text: "Planned delivery date"
      }
    ],
    rows: [
    [
    {
       text: "ASSURA ER LLP HULL DERMATOLOGY"
     },
     {
       text: "Y03508"
     },
     {
       html: '<p>1 September 2022</p>'
     }
   ],
   [
     {
       text: "BEVAN LIMITED"
     },
     {
       text: "Y03507"
     },
     {
       html: '<p>1 September 2022</p>'
     }
   ],
   [
     {
       text: "BROMPTON GP"
     },
     {
       text: "Y03507"
     },
     {
       html: '<p>1 September 2022</p>'
     }
   ],
   [
     {
       text: "CHESTER GP"
     },
     {
       text: "Y03507"
     },
     {
       html: '<p>1 September 2022</p>'
     }
   ],
   [
     {
       text: "CRAWLEY GP"
     },
     {
       text: "Y03507"
     },
     {
       html: '<p>1 September 2022</p>'
     }
   ],
   [
     {
       text: "DERMATOLOGY CLINIC GPSI"
     },
     {
       text: "Y00894"
     },
     {
       html: '<p>1 September 2022</p>'
     }
   ],
   [
     {
       text: "EGHAM GP"
     },
     {
       text: "Y03507"
     },
     {
       html: '<p>1 September 2022</p>'
     }
   ],
   [
     {
       text: "FARNHAM GP"
     },
     {
       text: "Y03507"
     },
     {
       html: '<p>1 September 2022</p>'
     }
   ],
   [
     {
       text: "FOXBOROUGH GP"
     },
     {
       text: "Y03507"
     },
     {
       html: '<p>1 September 2022</p>'
     }
   ],
   [
     {
       text: "GRIMSBY GP"
     },
     {
       text: "Y03507"
     },
     {
       html: '<p>1 October 2022</p>'
     }
   ],
   [
     {
       text: "HAXBY GROUP HULL"
     },
     {
       text: "Y02747"
     },
     {
       html: '<p>1 September 2022</p>'
     }
   ],
   [
     {
       text: "HULL CCG VOCARENHS111 OOH"
     },
     {
       text: "Y06959"
     },
     {
       html: '<p>1 September 2022</p>'
     }
   ],
   [
     {
       text: "JAMES ALEXANDER FAMILY PRACTICE"
     },
     {
       text: "B81112"
     },
     {
       html: '<p>1 September 2022</p>'
     }
   ],
   [
     {
       text: "LAURBEL SURGERY"
     },
     {
       text: "Y03507"
     },
     {
       html: '<p>1 September 2022</p>'
     }
   ],
   [
     {
       text: "LEWES GP"
     },
     {
       text: "Y03507"
     },
     {
       html: '<p>1 September 2022</p>'
     }
   ],
   [
     {
       text: "LINCOLN GP"
     },
     {
       text: "Y03507"
     },
     {
       html: '<p>1 September 2022</p>'
     }
   ],
   [
     {
       text: "MANCHESTER GP"
     },
     {
       text: "Y03507"
     },
     {
       html: '<p>1 September 2022</p>'
     }
   ],
   [
     {
       text: "NOTTINGHAM GP"
     },
     {
       text: "Y03507"
     },
     {
       html: '<p>1 September 2022</p>'
     }
   ],
   [
     {
       text: "PAIN MANAGEMENT GPSI"
     },
     {
       text: "Y03507"
     },
     {
       html: '<p>1 October 2022</p>'
     }
   ],
   [
     {
       text: "ST ANDREWS SURGERY"
     },
     {
       text: "Y03507"
     },
     {
       html: '<p>1 September 2022</p>'
     }
   ],
   [
     {
       text: "SWANSEA GP"
     },
     {
       text: "Y03507"
     },
     {
       html: '<p>1 September 2022</p>'
     }
   ],
   [
     {
       text: "SYDENHAM GROUP PRACTICE GP"
     },
     {
       text: "Y03507"
     },
     {
       html: '<p>1 September 2022</p>'
     }
   ],
   [
     {
       text: "THE AVENUES MEDICAL CENTRE"
     },
     {
       text: "Y03507"
     },
     {
       html: '<p>1 September 2022</p>'
     }
   ],
   [
     {
       text: "THE BRIDGE GROUP PRACTICE"
     },
     {
       text: "Y03507"
     },
     {
       html: '<p>1 October 2022</p>'
     }
   ],
   [
     {
       text: "THE SUTTON MANOR SURGERY"
     },
     {
       text: "Y03507"
     },
     {
       html: '<p>1 September 2022</p>'
     }
   ],
   [
     {
       text: "TRURO GP"
     },
     {
       text: "Y03507"
     },
     {
       html: '<p>1 September 2022</p>'
     }
   ],
   [
     {
       text: "WAKEFIELD GP"
     },
     {
       text: "Y03507"
     },
     {
       html: '<p>1 September 2022</p>'
     }
   ],
   [
     {
       text: "WILBERFORCE SURGERY"
     },
     {
       text: "Y03507"
     },
     {
       html: '<p>1 September 2022</p>'
     }
   ],
   [
     {
       text: "WAKEFIELD GP"
     },
     {
       text: "Y03507"
     },
     {
       html: '<p>1 October 2022</p>'
     }
   ],
   [
     {
       text: "WOLSELEY MEDICAL CENTRE"
     },
     {
       text: "Y03507"
     },
     {
       html: '<p>1 September 2022</p>'
     }
   ]
      ]
      }) }}