{% extends 'layout.html' %}

{% block pageTitle %}
  Task list
{% endblock %}

{% block header %}
{% include "includes/header-hub.html" %}
{% endblock%}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}

{% endblock %}

<!-- Your page content goes inside the content block -->
{% block content %}
{% from 'back-link/macro.njk' import backLink %}

{{ backLink({
  "href": "competitions-hub",
  "text": "Go back to manage competitions"
}) }}

{% from 'tag/macro.njk' import tag %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Your competition name
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">
          <span class="nhsuk-u-visually-hidden"> - </span>
          Your CCG
        </span>
      </h1>
      <p class="nhsuk-lede-text">Complete the following steps to carry out a competition.</p>

    <h2 class="nhsuk-heading-s">Description</h2>
      <p>This description has been provided by the user when creating this competition.</p>
      <h2 class="bc-c-task-list__task">
        <span class="bc-c-task-list__task-number">1.</span>
        Prepare competition
      </h2>

      <ul class="bc-c-task-list__items">
          <li class="bc-c-task-list__item nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-3">
            <span class="bc-c-task-list__task-name">

              <a href="#">Shortlisted Catalogue Solutions</a>
            </span>
            {{ tag({
              text: "Completed",
              classes: "nhsuk-tag--green"
            })}}
            <br />
            <span style="color:	#4c6272">
              View the solutions you added to your shortlist for this competition.</span>
          </li>
          <li class="bc-c-task-list__item nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-3">
            <span class="bc-c-task-list__task-name">
              <a href="select-criteria">Award criteria</a>
            </span>
            {{ tag({
              text: "Not started",
              classes: "nhsuk-tag--grey"
            })}}
            <br />
            <span style="color:	#4c6272">
              Select the criteria you want to use to compare your <br />shortlisted solutions.</span>
          </li>
          <li class="bc-c-task-list__item nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-3">
            <span class="bc-c-task-list__task-name">
              <a href="price-weighting">Award criteria weightings</a>
            </span>
            {{ tag({
            text: "Not started",
            classes: "nhsuk-tag--grey"
          })}}
            <br/>
            <span style="color:	#4c6272">
              Give your chosen award criteria weightings based on <br />how important they are to you.</span>
          </li>
      </ul>

      <h2 class="bc-c-task-list__task">
        <span class="bc-c-task-list__task-number">2.</span>
        Define competition criteria
      </h2>

      <ul class="bc-c-task-list__items">
        <li class="bc-c-task-list__item nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-3">
          <span class="bc-c-task-list__task-name">
            <a href="non-price/non-price-hub">Non-price elements</a>
          </span>
          {{ tag({
          text: "Optional",
          classes: "nhsuk-tag--white"
        })}}
          <br/>
          <span style="color:	#4c6272">
            Select if you want to add any non-price elements to <br />help you score your shortlisted solutions.</span>
        </li>
        <li class="bc-c-task-list__item nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-3">
          <span class="bc-c-task-list__task-name">
            <a href="non-price/non-price-weighting">Non-price weightings</a>
          </span>
          {{ tag({
            text: "Not started",
            classes: "nhsuk-tag--grey"
          })}}
          <br />
            <span style="color:	#4c6272">
              Give your chosen non-price elements weightings based <br />on how important they are to you.</span>
        </li>
        <li class="bc-c-task-list__item nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-3">
          <span class="bc-c-task-list__task-name">
            <a href="non-price/review-requirements">Review competition criteria</a>
          </span>
          {{ tag({
            text: "Not started",
            classes: "nhsuk-tag--grey"
          })}}
          <br />
            <span style="color:	#4c6272">
              Review your weightings and any non-price elements <br />you’ve added to your competition.</span>
        </li>
      </ul>

      <h2 class="bc-c-task-list__task">
        <span class="bc-c-task-list__task-number">3.</span>
        Evaluate and score solutions
      </h2>

      <ul class="bc-c-task-list__items">
      <li class="bc-c-task-list__item nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-3">
          <span class="bc-c-task-list__task-name">
              <a href="price/price-hub">Evaluate and score price</a>
          </span>
          {{ tag({
            text: "Not started",
            classes: "nhsuk-tag--grey"
          })}}
          <br />
            <span style="color:	#4c6272">
              Evaluate and score your shortlisted solutions based <br />on price.</span>
        </li>
        <li class="bc-c-task-list__item nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-3">
          <span class="bc-c-task-list__task-name">
              <a href="compare/compare-dashboard">Evaluate and score non-price</a>
          </span>
          {{ tag({
            text: "Not started",
            classes: "nhsuk-tag--grey"
          })}}
          <br />
            <span style="color:	#4c6272">
              Evaluate and score your shortlisted solutions based <br />on non-price elements.</span>
        </li>
        
      </ul>


      <br /><br />


  <p class="nhsuk-body-s nhsuk-u-secondary-text-color nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-0">
  Competition last updated by Sue Smith on 15 March 2021
</p>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
