{% extends 'layout.html' %}

{% block pageTitle %}
  Buying Catalogue
{% endblock %}

{% block header %}
  {% include "includes/header-proxy.html" %}
  {% endblock%}

  <!-- Breadcrumb goes inside the beforeContent block -->
  {% block beforeContent %}{% endblock %}
  <!-- Your page content goes inside the content block -->
  {% block content %}

    {% from 'back-link/macro.njk' import backLink %}

    {{ backLink({
      "href": "order-4-summary-review-completed",
      "text": "Go back"
    }) }}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <h1>Preview contract
          <span class="nhsuk-caption-xl nhsuk-caption--bottom">
            <span class="nhsuk-u-visually-hidden">
              -
            </span>
            Order C000001-01
          </span>
        </h1>

        <p class="nhsuk-lede-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

        {{ button({
          "text": "Download contract preview PDF",
          "classes": "nhsuk-button--secondary",
          "href":"javascript: sendForm();"
        }) }}

        <br />

        <h2 class="nhsuk-heading-l">Submitting the contract</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Before submitting you should read the <a href="#">Call-off agreement Terms & Conditions</a>.</p>

        <form>
          {{ checkboxes({
            "idPrefix": "example",
            "name": "example",
            "fieldset": {
              "legend": {
                "text": "You must accept the following to continue",
                "classes": "nhsuk-fieldset__legend--m"
              }
            },
            "items": [
              {
                "value": "contract-obligation",
                "text": "I have read and agree to all obligations in this contract"
              },
              {
                "value": "reviewed-with-supplier",
                "text": "I have reviewed this contract with the supplier"
              }
            ]
          }) }}
        </form>

        {{ button({
          "text": "Continue",
          "href":"contract-sign"
        }) }}

      </div>
    </div>

    <br/><br/>
  {% endblock %}

  {% block footer %}
    {% include "includes/footer.html" %}
  {% endblock %}
