
<br />
{% from 'tables/macro.njk' import table %}

    {{ table({
    responsive: true,
    panel: false,
    caption: "",
    firstCellIsHeader: false,
    head: [
      {
        text: "Service Recipients"
      },
      {
        text: "ODS code"
      }
    ],
    rows: [
   [
     {
       text: "LAURBEL SURGERY"
     },
     {
       text: "B81635"
     }
   ],
   [
     {
       text: "LOUGHTON GP PRACTICE"
     },
     {
       text: "Y03507"
     }
   ],
   [
     {
       text: "SWANSEA GP PRACTICE"
     },
     {
       text: "Y03507"
     }
   ],
   [
     {
       text: "TOOTING GP PRACTICE"
     },
     {
       text: "Y03507"
     }
   ],
   [
     {
       text: "WILBERFORCE SURGERY"
     },
     {
       text: "B81032"
     }
   ]       
      ]
      }) }}