{% extends 'layout.html' %}

{% block pageTitle %}
  Buying Catalogue
{% endblock %}

{% block header %}
  {% include "includes/header-proxy.html" %}
  {% endblock%}

  <!-- Breadcrumb goes inside the beforeContent block -->
  {% block beforeContent %}{% endblock %}
  <!-- Your page content goes inside the content block -->
  {% block content %}

  <!--<script>
    function sendForm() {
      var opt1 = document.getElementById("security-measures-1").checked ? document.getElementById("security-measures-1").value : "";
      var opt2 = document.getElementById("security-measures-2").checked ? document.getElementById("security-measures-2").value : "";

      if(opt1=="yes") {
          document.location.href = "../order-4-summary-security-completed";
      }
      else if(opt2=="no") {
          document.location.href = "security-measures-holding";
      }
    }
  </script>-->

    {% from 'back-link/macro.njk' import backLink %}

    {{ backLink({
      "href": "../order-4-summary-completed",
      "text": "Go back"
    }) }}

    {% set securityHtml %}

    {{ textarea({
    "idPrefix": "security-measures-required",
    "name": "security-measures-required",
    "fieldset": {
      "legend": {
        "text": "Do you want to add any Additional Services?",
        "classes": "nhsuk-fieldset__legend--s"
      }
    },
    "hint": {
      "text": "What are the special security measures you require?"
    }
  }) }}

    {% endset -%}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <h1>Security measures
          <span class="nhsuk-caption-xl nhsuk-caption--bottom">
            <span class="nhsuk-u-visually-hidden">
              -
            </span>
            Order C000001-01
          </span>
        </h1>

        <p class="nhsuk-lede-text">Select if you want to proceed without any special security measures such as practice staff using the solution in private.</p>

        {{ details({
          "text": "What are special security measures?",
          "HTML": "

            <p>????????????????????????????????????????????????????????????????????????</p>
          "
        }) }}


        {{ radios({
          "idPrefix": "security-measures",
          "name": "security-measures-radios",
          "fieldset": {
            "legend": {
              "text": "Do you want to proceed without any special security measures?",
              "classes": "nhsuk-fieldset__legend--m"
            }
          },
          "items": [
          {
            "value": "yes",
            "text": "Yes"
          },
          {
            "value": "no",
            "text": "No, I require special security measures",
            "conditional": {
              "html": securityHtml
            }
          }
          ]
        }) }}

        {{ button({
          "text": "Save and continue",
          "href":"../order-4-summary-security-completed"
        }) }}

      </div>
    </div>

    <br/><br/>
  {% endblock %}

  {% block footer %}
    {% include "includes/footer.html" %}
  {% endblock %}
