<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Buying Catalogue
{% endblock %}

{% block header %}
  <script>
    var list = false; 
    function filterList() {
      document
        .getElementById("list")
        .style
        .display = "none";
    }
    function filterListReverse() {
      document
        .getElementById("list")
        .style
        .display = "block";
    }
  </script>
  {% include "includes/header-hub.html" %}
  {% endblock%}

  <!-- Breadcrumb goes inside the beforeContent block -->
  {% block beforeContent %}

    {% from 'breadcrumb/macro.njk' import breadcrumb %}

    {{ breadcrumb({
  items: [
  ],
  href: "/",
  text: "Home"
  }) }}

  {% endblock %}

  {% block content %}
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

        <h1>Catalogue Solutions</h1>
        <p class="nhsuk-lede-text">
        Search for Catalogue Solutions that match the needs of your organisation.
      </p>

        <div class="app-search__contents nhsuk-u-margin-bottom-7">
          <label class="c-search__label visually-hidden" for="query">Filter Catalogue Solutions</label>
          <input class="app-search__input ui-autocomplete-input" id="query" placeholder="Search by supplier, solution name or Capabilities" autocomplete="off" name="query" type="search" maxlength="50">
          <button type="submit" class="app-search__submit">
            <svg class="icon icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
              <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
              <image class="icon__search icon__search--fallback" src="/apps-library/static/apps_library/images/icon-search-blue.352e1118d687.png" xlink:href=""></image>
            </svg>
            <span class="visually-hidden">Search</span>
          </button>
        </div>

        {{ actionLink({
          "text": "Filter Catalogue Solutions",
          "href": "capabilities"
        }) }}

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="select-1">
            Sort by:
          </label>
          <select class="nhsuk-select" id="select-1" name="select-1">
            <option value="1" selected>A to Z</option>
            <option value="2">Z to A</option>
            <option value="3">Framework</option>
            <option value="4">Last published</option>
          </select>
        </div>

        <hr>

        <!-- SOLUTIONS LIST -->

        <div class="nhsuk-grid-row">

          <div class="nhsuk-grid-column-two-thirds">

            <h2>
              <a class="nhsuk-link nhsuk-link--no-visited-state" href="solution-page">Online and Video Consult</a>
            </h2>

            <h3>Caltech Health</h3>

            <p>Our online triaging system allows patients to easily access self-help advice, and fill out forms containing their requests and queries that go into their practice's workflow. Helping to improve access to services, Online Consult is configurable, and integrates with all leading GP Clinical Systems.</p>

            <h4>Framework</h4>

            <p>GP IT Futures</p>

          </div>

          <div class="nhsuk-grid-column-one-third">
            <div class="category-list">
              <h3>Capabilities</h3>
              <ul>

                <li>e-Consultations (Patient/Service User to Professional)</li>

                <li>Appointments Management – COVID-19 Vaccinations</li>

              </ul>
            </div>
          </div>

        </div>

        <hr style="margin-top: 0.5em;"/>

         <div class="nhsuk-grid-row">

          <div class="nhsuk-grid-column-two-thirds">

            <h2>
              <a href="#">Q Doctor</a>
            </h2>

            <h3>MyMed Ltd</h3>

            <p>Q health is a secure video consultation platform and appointment booking platform used around the NHS, enabling digital appointment booking (including COVID-19 vaccination appointment management) and remote consultations between clinicians and patients. </p>

            <h4>Framework</h4>

            <p>GP IT Futures</p>

          </div>

          <div class="nhsuk-grid-column-one-third">
            <div class="category-list">
              <h3>Capabilities</h3>
              <ul>

                <li>e-Consultations (Patient/Service User to Professional)</li>

                <li>Appointments Management – COVID-19 Vaccinations</li>

              </ul>
            </div>
          </div>

        </div>

        <hr style="margin-top: 0.5em;"/>

         <div class="nhsuk-grid-row">

          <div class="nhsuk-grid-column-two-thirds">

            <h2>
              <a href="#">healthya Online and Video Consultation</a>
            </h2>

            <h3> ADDVantage Technologies </h3>

            <p>Healthya provides a seamless and flexible secure online video consultation platform to supplement NHS Systems. Patients connect to the NHS Health / Care Professional using the user friendly healthya app. The intuitive app is free for NHS patients and integrates with NHS provider services. </p>

            <h4>Framework</h4>

            <p>GP IT Futures</p>

          </div>

          <div class="nhsuk-grid-column-one-third">
            <div class="category-list">
              <h3>Capabilities</h3>
              <ul>

                <li>e-Consultations (Patient/Service User to Professional)</li>

              </ul>
            </div>
          </div>

        </div>

        <hr style="margin-top: 0.5em;"/>

         <div class="nhsuk-grid-row">

          <div class="nhsuk-grid-column-two-thirds">

            <h2>
              <a href="#">Engage Consult</a>
            </h2>

            <h3> Engage Health Systems Limited </h3>

            <p>Engage Consult allows patients to communicate securely and safely online with their practice about non-emergency medical conditions or admin questions. The solution offers 24/7 access to self-help information, other local NHS and self-care services. </p>

            <h4>Framework</h4>

            <p>GP IT Futures</p>

          </div>

          <div class="nhsuk-grid-column-one-third">
            <div class="category-list">
              <h3>Capabilities</h3>
              <ul>

                <li>e-Consultations (Patient/Service User to Professional)</li>

                <li>Appointments Management – COVID-19 Vaccinations</li>

              </ul>
            </div>
          </div>

        </div>

        <hr style="margin-top: 0.5em;"/>

        {% from 'pagination/macro.njk' import pagination %}
        {{ pagination({
        "nextUrl": "#",
        "nextPage": "2 of 5"
      }) }}

      </div>
    </div>
    <br/><br/>

  {% endblock %}

  {% block footer %}
    {% include "includes/footer.html" %}
  {% endblock %}