<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS Digital Buying Catalogue
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{{ nhsdNav({
    "showNav": "true",
    "primaryLinks": [
      {
        "label" : "[Solution_Name], 1.0"
      },
      {
        'url' : '/',
        'label' : 'Support'
      }
    ]
})}}
  {{ breadcrumb({
  items: [
    {
      href: "/",
      text: "My Solutions"
    },
    {
      href: "/",
      text: "Adding a Solution"
    }
  ],
    href: "all-sections",
    text: "All sections"
    }) }}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
  <div class="nhsuk-grid-row build-marketing-page nhsuk-width-container nhsuk-u-margin-top-9">
    <div class="nhsuk-grid-column-three-quarters nhsuk-u-padding-bottom-6">

      <!-- Change the page title here -->
      <h2>
        Client application type
      </h2>

      <h4 class="nhsuk-body-l">Select all client application types your Solution supports</h4>

      <p class="nhsuk-body-l">
        This information will be visible to buyers on your Solution page.
      </p>
      <p class="nhsuk-body-l">
        <b>*indicates required field.</b>
      </p>
    </div>

    <div class="nhsuk-grid-column-three-quarters">
      {{ checkboxes({
        "idPrefix": "client-application-type",
        "name": "client-application-type",
        "fieldset": {
          "legend": {
            "html": "<b>Select the client application types your Solution supports*</b>"
          }
        },
        "hint": {
          "text": "Check all the options that are relevant to you. You will be required to provide further information for each client application type you select."
        },
        "items": [
          {
            "value": "browser-based",
            "text": "Browser based"
          },
          {
            "value": "mobile-tablet",
            "text": "Native mobile or tablet"
          },
          {
            "value": "native-desktop",
            "text": "Native desktop"
          }
        ]
        }) }}
    </div>

    <div class="nhsuk-grid-column-three-quarters">
      {{ button({
        "href": "all-sections",
        "text": "Save and return to all sections"
      }) }}

      {{ backLink({
        "href": "all-sections",
        "text": "Return to all sections"
      }) }}

    <!-- End of content -->
  </div>
</div>
{% endblock %}

{% block afterContent %}
{{ nhsdFooter({
  "list": "nhsuk-footer__list--three-columns",
  "list1": [
    {
      "URL": "/",
      "label": "About the Buying Catalogue"
    },
    {
      "URL": "/",
      "label": "Process overview"
    },
    {
      "URL": "/",
      "label": "Supplier checklist"
    }
  ],
  "list2": [
    {
      "URL": "/",
      "label": "Catalogue submissions"
    },
    {
      "URL": "/",
      "label": "NHS Digital service desk"
    }
  ],
  "list3": [
    {
      "URL": "/",
      "label": "NHS Digital"
    },
    {
      "URL": "/",
      "label": "Capabilities and Standards Model"
    }
  ]
})}}
{% endblock %}
