<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS Digital Buying Catalogue
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{{ nhsdNav({
    "showNav": "true",
    "primaryLinks": [
      {
        "label" : "[Solution_Name], 1.0"
      },
      {
        'url' : '/',
        'label' : 'Support'
      }
    ]
})}}
  {{ breadcrumb({
  items: [
    {
      href: "/",
      text: "My Solutions"
    },
    {
      href: "/",
      text: "Adding a Solution"
    }
  ],
    href: "all-sections",
    text: "All sections"
    }) }}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
  <div class="nhsuk-grid-row nhsuk-width-container nhsuk-u-padding-bottom-4 build-marketing-page nhsuk-u-margin-top-9">
    <div class="nhsuk-grid-column-three-quarters">

      <!-- Change the page title here -->
      <h2>
        Contact details
      </h2>

      <h4 class="nhsuk-body-l">Provide the following contact details to allow the buyer to contact you.</h4>

      <p class="nhsuk-body-l">
        Your contact details provided will be displayed on your Solution page and visible to buyers.
      </p>
    </div>

    <div class="nhsuk-grid-column-three-quarters">
      {{ label({
        "html": "<b>Contact 1</b>"
      }) }}
      {{ hint({
        "html": "Provide the details you would like to be point of contact for this Solution."
      }) }}

      {{ input({
        "label": {
          "text": "Department name"
        },
        "id": "input-with-hint-text",
        "name": "department",
        "classes": "nhsuk-input--width-20"
        }) }}
      {{ input({
        "label": {
          "text": "First name"
        },
        "id": "input-with-hint-text",
        "name": "first-name",
        "classes": "nhsuk-input--width-20"
        }) }}
        {{ input({
          "label": {
            "text": "Last name"
          },
          "id": "input-with-hint-text",
          "name": "last-name",
          "classes": "nhsuk-input--width-20"
          }) }}

      {{ input({
        "label": {
          "text": "Phone number"
        },
        "id": "input-with-hint-text",
        "name": "phone",
        "classes": "nhsuk-input--width-20"
        }) }}

      {{ input({
        "label": {
          "text": "Email address"
        },
        "id": "input-with-hint-text",
        "name": "email
        ",
        "classes": "nhsuk-input--width-20"
        }) }}

      {{ label({
        "html": "<b>Contact 2</b>",
        "classes": "nhsuk-u-padding-top-4"
      }) }}
      {{ hint({
        "html": "Provide the details you would like to be a second point of contact for this Solution."
      }) }}

      {{ input({
        "label": {
          "text": "Department name"
        },
        "id": "input-with-hint-text",
        "name": "depatment",
        "classes": "nhsuk-input--width-20"
        }) }}
      {{ input({
        "label": {
          "text": "First name"
        },
        "id": "input-with-hint-text",
        "name": "first-name",
        "classes": "nhsuk-input--width-20"
        }) }}
      {{ input({
        "label": {
          "text": "Last name"
        },
        "id": "input-with-hint-text",
        "name": "last-name",
        "classes": "nhsuk-input--width-20"
        }) }}

      {{ input({
        "label": {
          "text": "Phone number"
        },
        "id": "input-with-hint-text",
        "name": "phone",
        "classes": "nhsuk-input--width-20"
        }) }}

      {{ input({
        "label": {
          "text": "Email address"
        },
        "id": "input-with-hint-text",
        "name": "email",
        "classes": "nhsuk-input--width-20"
        }) }}
    </div>

    <div class="nhsuk-grid-column-three-quarters nhsuk-u-margin-top-4">
      {{ button({
        "href": "all-sections",
        "text": "Save and return to all sections"
      }) }}

      {{ backLink({
        "href": "all-sections",
        "text": "Return to all sections"
      }) }}

    <!-- End of content -->

  </div>
</div>
{% endblock %}

{% block afterContent %}
{{ nhsdFooter({
  "list": "nhsuk-footer__list--three-columns",
  "list1": [
    {
      "URL": "/",
      "label": "About the Buying Catalogue"
    },
    {
      "URL": "/",
      "label": "Process overview"
    },
    {
      "URL": "/",
      "label": "Supplier checklist"
    }
  ],
  "list2": [
    {
      "URL": "/",
      "label": "Catalogue submissions"
    },
    {
      "URL": "/",
      "label": "NHS Digital service desk"
    }
  ],
  "list3": [
    {
      "URL": "/",
      "label": "NHS Digital"
    },
    {
      "URL": "/",
      "label": "Capabilities and Standards Model"
    }
  ]
})}}
{% endblock %}
