<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS Digital Buying Catalogue
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{{ nhsdNav({
    "showNav": "true",
    "primaryLinks": [
      {
        "label" : "[Solution_Name], 1.0"
      },
      {
        'url' : '/',
        'label' : 'Support'
      }
    ]
})}}
  {{ breadcrumb({
  items: [
    {
      href: "/",
      text: "My Solutions"
    },
    {
      href: "/",
      text: "Adding a Solution"
    }
  ],
    href: "all-sections",
    text: "All sections"

    }) }}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
  <div class="nhsuk-grid-row nhsuk-width-container build-marketing-page nhsuk-u-margin-top-9">
    <div class="nhsuk-grid-column-three-quarters">

      <!-- Change the page title here -->
      <h2>
        Native mobile or tablet
      </h2>

      <h4 class="nhsuk-body-l">Add further detail about your native mobile or tablet application.</h4>

      <p class="nhsuk-body-l">
        If your application is designed for native mobile or tablet, please complete the sections below to provide information to the user about your client application.
      </p>
      <p class="nhsuk-body-l">
        <b>*indicates required field.</b>
      </p>
  </div>
  <div class="nhsuk-grid-column-full nhsuk-u-margin-bottom-4">
    <h2 class="app-task-list__section">
      Native mobile or tablet sections
    </h2>
      <ul class="app-task-list__items">
      {{ nhsdTaskList({
        "task": [
          {
            "URL": "native-mobile-operating-systems",
            "title": "Supported operating systems*",
            "requirement": "Mandatory",
            "status": "complete"
          },
          {
            "URL": "native-mobile-connection-details",
            "title": "Connection details",
            "requirement": "Optional",
            "status": "complete"
          },
          {
            "URL": "native-mobile-memory-storage",
            "title": "Memory and storage*",
            "requirement": "Mandatory",
            "status": "incomplete"
          },
          {
            "URL": "native-mobile-third-party-device",
            "title": "Third party components and device capabilities",
            "requirement": "Optional",
            "status": "incomplete"
          },
          {
            "URL": "native-mobile-hardware-requirements",
            "title": "Hardware requirements",
            "requirement": "Optional",
            "status": "incomplete"
          },
          {
            "URL": "native-mobile-additional",
            "title": "Additional information",
            "requirement": "Optional",
            "status": "incomplete"
          }
        ]
      }) }}
      </ul>
  </div>
  <div class="nhsuk-grid-column-three-quarters">
      {{ backLink({
        "href": "all-sections",
        "text": "Return to all sections"
      }) }}


      <!-- End of content -->

  </div>
</div>
{% endblock %}

{% block afterContent %}
{{ nhsdFooter({
  "list": "nhsuk-footer__list--three-columns",
  "list1": [
    {
      "URL": "/",
      "label": "About the Buying Catalogue"
    },
    {
      "URL": "/",
      "label": "Process overview"
    },
    {
      "URL": "/",
      "label": "Supplier checklist"
    }
  ],
  "list2": [
    {
      "URL": "/",
      "label": "Catalogue submissions"
    },
    {
      "URL": "/",
      "label": "NHS Digital service desk"
    }
  ],
  "list3": [
    {
      "URL": "/",
      "label": "NHS Digital"
    },
    {
      "URL": "/",
      "label": "Capabilities and Standards Model"
    }
  ]
})}}
{% endblock %}
