{% extends 'layout.html' %}

{% block pageTitle %}
  Select Catalogue Solutions
{% endblock %}

{% block header %}
{% include "includes/header-proxy.html" %}
{% endblock%}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}

{% endblock %}
<!-- Your page content goes inside the content block -->
{% block content %}

{{ backLink({
  "href": "order-5-4-2-cata-sol-or-assoc-serv",
  "text": "Go back"
}) }}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>Catalogue Solutions<span class="nhsuk-caption-xl nhsuk-caption--bottom">
        <span class="nhsuk-u-visually-hidden"> - </span>
        EMIS Health
      </span></h1>
    <p class="nhsuk-lede-text">Confirm the Catalogue Solution the Associated Service you want to order supports.</p>


    <p>There is only one solution from this supplier that has Associated Services.

      <ul>
        <li>Emis Web GP</li>
      </ul>
    </p>


<br/>

{{ button({
  "text": "Continue"
}) }}

</form>

    </div>
  </div>

  <br /><br />
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
