<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Buying Catalogue
{% endblock %}

{% block header %}
  {% include "includes/header-admin.html" %}
  {% endblock%}

  <!-- Breadcrumb goes inside the beforeContent block -->
  {% block beforeContent %}

    <!-- {% from 'breadcrumb/macro.njk' import breadcrumb %}

  {{ breadcrumb({
  items: [
  ],
  href: "/",
  text: "Home"
  }) }} -->

  {% endblock %}

  <!-- Your page content goes inside the content block -->
  <!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
  {% block content %}
    {% from 'back-link/macro.njk' import backLink %}

    {{ backLink({
    "href": "/admin-solutions/",
    "text": "Go back"
  }) }}

    <form action="/dpi-upload-route" method="post">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          

           <h1>
              <span role="text">Data Processing Information
                <span class="nhsuk-caption-xl nhsuk-caption--bottom">
                  <span class="nhsuk-u-visually-hidden"> - </span>
                  Caltech Web GP
                </span>
              </span>
            </h1>
            <p class="nhsuk-lede-text">Inform potential buyers how your data is processed</p>
            <hr>

            <section id="main-data-processing-information">
              <h2 class="nhsuk-heading-m">General data processing information</h2>
              <dl class="nhsuk-summary-list">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Subject matter of the processing
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{data['subject-matter']}}
                  </dd>
              
                  <dd class="nhsuk-summary-list__actions">
              
                    <a href="/admin-solutions/dpi/data-processing-information?edit=true">
                      Change<span class="nhsuk-u-visually-hidden"> name</span>
                    </a>
              
                  </dd>
              
                </div>
              
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Duration of the processing
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{data['duration-processing']}}
                  </dd>
              
                  <dd class="nhsuk-summary-list__actions">
              
                    <a href="/admin-solutions/dpi/data-processing-information?edit=true">
                      Change<span class="nhsuk-u-visually-hidden"> date of birth</span>
                    </a>
              
                  </dd>
              
                </div>
              
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Nature and purposes of processing
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{data['nature-processing']}}
                  </dd>
              
                  <dd class="nhsuk-summary-list__actions">
              
                    <a href="/admin-solutions/dpi/data-processing-information?edit=true">
                      Change<span class="nhsuk-u-visually-hidden"> contact information</span>
                    </a>
              
                  </dd>
              
                </div>
              
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Types of personal data
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{data['types-of-personal-data']}}
                  </dd>
              
                  <dd class="nhsuk-summary-list__actions">
              
                    <a href="/admin-solutions/dpi/data-processing-information?edit=true">
                      Change<span class="nhsuk-u-visually-hidden"> contact details</span>
                    </a>
              
                  </dd>
              
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Categories of data subjects
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{data['categories-data-subjects']}}
                  </dd>
              
                  <dd class="nhsuk-summary-list__actions">
              
                    <a href="/admin-solutions/dpi/data-processing-information?edit=true">
                      Change<span class="nhsuk-u-visually-hidden"> contact details</span>
                    </a>
              
                  </dd>
              
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Location of data processing
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{data['location-of-processing']}}
                  </dd>
              
                  <dd class="nhsuk-summary-list__actions">
              
                    <a href="/admin-solutions/dpi/data-processing-information?edit=true">
                      Change<span class="nhsuk-u-visually-hidden"> contact details</span>
                    </a>
              
                  </dd>
              
                </div>
              
              </dl>
            </section>

            <section id="data-protection-officer-section">
              <h2 class="nhsuk-heading-m">Data Protection Officer Details</h2>
              <dl class="nhsuk-summary-list">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Data Protection Officers Name
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{data['officer-name']}}
                  </dd>
              
                  <dd class="nhsuk-summary-list__actions">
              
                    <a href="/admin-solutions/dpi/data-protection-officer?edit=true">
                      Change<span class="nhsuk-u-visually-hidden"> name</span>
                    </a>
              
                  </dd>
              
                </div>
              
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Data Protection Officers Email address
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{data['officer-email']}}
                  </dd>
              
                  <dd class="nhsuk-summary-list__actions">
              
                    <a href="/admin-solutions/dpi/data-protection-officer?edit=true">
                      Change<span class="nhsuk-u-visually-hidden"> date of birth</span>
                    </a>
              
                  </dd>
              
                </div>
              
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Data Protection Officers Telephone Number
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{data['officer-telephone-number']}}
                  </dd>
              
                  <dd class="nhsuk-summary-list__actions">
              
                    <a href="/admin-solutions/dpi/data-protection-officer?edit=true">
                      Change<span class="nhsuk-u-visually-hidden"> contact information</span>
                    </a>
              
                  </dd>
              
                </div>
              
              </dl>
            </section>

            <section id="data-protection-officer-section">
              <h2 class="nhsuk-heading-m">Sub-Processor details</h2>

                <div class="nhsuk-action-link">
                  <a class="nhsuk-action-link__link" href="/admin-solutions/dpi/sub-processor-start">
                    <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                      <path d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                    </svg>
                    <span class="nhsuk-action-link__text">Add a Sub-Processor</span>
                  </a>
                </div>
                <p>Use the link to add additional Sub-Processors.</p>

                {% if data['sub-processor-list'] %}
                
                  <table role="table" class="nhsuk-table-responsive">
                    <caption class="nhsuk-table__caption">Added Sub-Processors</caption>
                    <thead role="rowgroup" class="nhsuk-table__head">
                      <tr role="row">
                        <th role="columnheader" class="" scope="col">
                          Organisation name
                        </th>
                        <th role="columnheader" class="" scope="col">
                          Subject matter of the processing
                        </th>
                        <th role="columnheader" class="" scope="col">
                          
                        </th>
                      </tr>
                    </thead>
                    <tbody class="nhsuk-table__body">
                      {% for sub in data['sub-processor-list'] %}
                        <tr role="row" class="nhsuk-table__row">
                          <td role="cell" class="nhsuk-table__cell">
                            <span class="nhsuk-table-responsive__heading">Organisation name</span>{{sub.subProcessorOrgName}}
                          </td>
                          <td role="cell" class="nhsuk-table__cell">
                            <span class="nhsuk-table-responsive__heading">Subject matter of the processing </span>{{sub.subMatterProcessing}}
                          </td>
                          <td role="cell" class="nhsuk-table__cell">
                            <a href="/admin-solutions/dpi/edit-sub-processor?index={{loop.index0}}">
                              Edit<span class="nhsuk-u-visually-hidden"> {{sub.subProcessorOrgName}}</span>
                            </a>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  {% else %}
                  <hr>
                  <p>No Sub-Processors have been added</p>
                  {% endif %}
            </section>

            <button class="nhsuk-button nhsuk-u-margin-top-7" data-module="nhsuk-button" type="submit">
              Save and continue
            </button>

        </form>

      {% endblock %}

      {% block footer %}
        {% include "includes/footer.html" %}
      {% endblock %}