{% extends 'layout.html' %}

{% block pageTitle %}
Select Catalogue Solutions
{% endblock %}

{% block header %}
{% include "includes/header-proxy.html" %}
{% endblock%}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}

{% endblock %}
<!-- Your page content goes inside the content block -->
{% block content %}

{{ backLink({
  "href": "/associated-services-no-srs/task-list",
  "text": "Go back"
}) }}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>Catalogue Solutions<span class="nhsuk-caption-xl nhsuk-caption--bottom">
        <span class="nhsuk-u-visually-hidden"> - </span>
        EMIS Health
      </span></h1>
    <p class="nhsuk-lede-text">Select the Catalogue Solution the Associated Service you want to order supports.</p>

{% set genysysHtml %}

{% endset -%}

{% set phoneHtml %}
  {{ input({
    id: "phone",
    name: "phone",
    classes: "nhsuk-u-width-two-thirds",
    label: {
      text: "Phone number"
    }
  }) }}
{% endset -%}

{% set mobileHtml %}
  {{ input({
    id: "mobile",
    name: "mobile",
    classes: "nhsuk-u-width-two-thirds",
    label: {
      text: "Mobile phone number"
    }
  }) }}
{% endset -%}
<form action="select-associated-services">
{{ radios({
  "idPrefix": "cat_solution",
  "name": "cat_solution",
  "fieldset": {
    "legend": {
      "text": "Which Catalogue Solution is the service linked with?",
      "classes": "nhsuk-fieldset__legend--m",
      "isPageHeading": "true"
    }
  },
  "hint": {
    "text": "These are the solutions from this supplier that have Associated Services."
  },
  "items": [
    {
      "value": "genysys",
      "text": "EMIS Web GP"
    },
    {
      "value": "online and video consult",
      "text": "Online and Video Consult"
    },
    {
      "value": "video consult",
      "text": "Video Consult"

    },
    {
      "value": "anywhere consult",
      "text": "Anywhere Consult"
    }
  ]
}) }}

<br/>

{{ button({
  "text": "Save and continue"
}) }}

</form>

    </div>
  </div>

  <br /><br />
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
