{% extends 'layout.html' %}

{% block pageTitle %}
  Buying Catalogue
{% endblock %}

{% block header %}
{% include "includes/header-proxy.html" %}
{% endblock%}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}

{% endblock %}
<!-- Your page content goes inside the content block -->
{% block content %}
{% from 'back-link/macro.njk' import backLink %}

{{ backLink({
  "href": "order-4-summary",
  "text": "Go back"
}) }}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Catalogue Solutions to your order</h1>


Solutions list

HEADER
Catalogue Solution
Unit of order
Service Recipients (ODS code)

Emis Web GP
per patient per year
Service recipients (ODS code)

Online and Video Consult
per patient per year
Service recipients (ODS code)




      Online and Video Consult information for C010089-01
      The information we have about this order has been included, but can be changed if required.

      What price have you agreed? (£)
      0.15
      per patient per year

      What price should I enter?
Enter the price you've agreed with the supplier. We've included the list price, but this can be changed if required.

What list size should I enter?
Enter the amount you wish to order. This is usually based on each Service Recipient's practice list size to help calculate an estimated price, but the figure can be changed if required.

As you’re ordering per patient, we've included each practice list size if we have it. If it's not included, you'll need to add it yourself.





HEADER
Recipient name (ODS code)
Practice list size
Planned delivery date
For example 14 01 2020


TABLE
BRANSHOLME MIU (Y00427)

Day
20

Month
10

Year
2041


      {% from 'radios/macro.njk' import radios %}
{% from 'fieldset/macro.njk' import fieldset %}
{% from 'hint/macro.njk' import hint %}

{% call fieldset({
  legend: {
    "text": "Which organisation are you looking for?",
    "classes": "nhsuk-fieldset__legend--l",
    "isPageHeading": true
  }
  }) %}
  {{ hint({
    "text": "Select the organisation you want to act on behalf of."
  }) }}
  {{ radios({
    "idPrefix": "example-hints",
    "name": "example-hints",
    "items": [
  {
    "value": "yes",
    "text": "My CCG organisation location"
  },
  {
    "value": "no",
    "text": "CCG Leeds"
  },
  {
    "value": "not sure",
    "text": "CCG Hull"
  },
  {
    "value": "not sure",
    "text": "CCG York"
  },
  {
    "value": "not sure",
    "text": "CCG Bradford"
  },
  {
    "value": "not sure",
    "text": "CCG Wakefield"
  }
]
}) }}
{% endcall %}


<form action="order-4-summary">
{{ button({
  "text": "Continue"
}) }}
</form>

    </div>
  </div>

  <br /><br />
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
