{% extends 'layout.html' %}

{% block pageTitle %}
  Buying Catalogue
{% endblock %}

{% block header %}
{% include "includes/header-proxy.html" %}
{% endblock%}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}

{% endblock %}
<!-- Your page content goes inside the content block -->
{% block content %}
{% from 'back-link/macro.njk' import backLink %}

{{ backLink({
  "href": "order-5-4-2-add-additional-service-price-2",
  "text": "Go back"
}) }}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Quantity of Additional Service<span class="nhsuk-caption-xl nhsuk-caption--bottom">
        <span class="nhsuk-u-visually-hidden"> - </span>
        Document Management
      </span></h1>
      <p class="nhsuk-lede-text">We’ve included the latest practice list sizes published by NHS Digital.</p>


      {% from 'inset-text/macro.njk' import insetText %}

{{ insetText({
"HTML": "<p>The latest practice list sizes are published on <a href=\"https://digital.nhs.uk/data-and-information/publications/statistical/patients-registered-at-a-gp-practice/\" title=\"External website\">the NHS Digital website (opens in a new tab)</a>.</p>"
}) }}

<!-- Find the solution or service, or supplier

List of favourite solutions from the marketing pages

OR

Radio
Catalogue Solution
Additional Service
Associated Service


After add a solution, show additional services and associated Services



 -->

<!--
      Online and Video Consult information for C010089-01
       -->



       {# {% set quantityHtml %}
       {{ input({
         id: "quantity",
         name: "quantity",
         classes: "nhsuk-u-width-two-thirds",
         value: "875",
         label: {

         }
       }) }}
     {% endset -%} #}


     {{ table({
      responsive: true,
      panel: false,
      caption: "Quantity per practice",
      firstCellIsHeader: false,
      head: [
      {
      text: "Recipient name (ODS code)"
      },
      {
      text: "Practice list size"
      }
      ],
      rows: [
      [
      {
      text: "Assura ER LLP Hull Dermatology (Y03508)"
      },
      {
      text: 620
      },
      {
      value: quantityHtml
      }
      ],
      [
      {
      text: "Bevan Limited (Y07021)"
      },
      {
      text: 750
      },
      {
      value: quantityHtml
      }
      ],
      [
      {
      text: "Burnbrae Medical Practice (B81085)"
      },
      {
      text: 285
      },
      {
      value: quantityHtml
      }
      ],
      [
      {
      text: "Dermatology Clinic GPSI (Y00894)"
      },
      {
      text: 440
      },
      {
      value: quantityHtml
      }
      ],
      [
      {
      text: "Dr Jad Weir & Partners (B81040)"
      },
      {
      text: 325
      },
      {
      value: quantityHtml
      }
      ],
      [
      {
      text: "Haxby Group Hull (Y02747)"
      },
      {
      text: 598
      },
      {
      value: quantityHtml
      }
      ],
      [
      {
      text: "Hull CCG Vocarenhs111 OOH (Y06959)"
      },
      {
      text: 525
      },
      {
      value: quantityHtml
      }
      ],
      [
      {
      text: "James Alexander Family Practice (B81112)"
      },
      {
      text: 610
      },
      {
      value: quantityHtml
      }
      ],
      [
      {
      text: "Laurbel Surgery (B81635)"
      },
      {
      text: 425
      },
      {
      value: quantityHtml
      }
      ],
      [
      {
      text: "Pain Management GPSI (Y01218)"
      },
      {
      text: 348
      },
      {
      value: quantityHtml
      }
      ],
      [
      {
      text: "St Andrews Surgery (YB81027)"
      },
      {
      text: 400
      },
      {
      value: quantityHtml
      }
      ],
      [
      {
      text: "Sydenham Group Practice (B81027)"
      },
      {
      text: 750
      },
      {
      value: quantityHtml
      }
      ]
      ]
      }) }}



<!--
      What price have you agreed? (£)
      0.15 -->



<!--

What list size should I enter?
Enter the amount you wish to order. This is usually based on each Service Recipient's practice list size to help calculate an estimated price, but the figure can be changed if required.

As you’re ordering per patient, we've included each practice list size if we have it. If it's not included, you'll need to add it yourself. -->
<!--


{{ input({
  "label": {
  "text": "5 character width"
  },
  "id": "input-width-5",
  "name": "test-width-5",
  "classes": "nhsuk-input--width-5"
}) }}


HEADER
Recipient name (ODS code)
Practice list size
Planned delivery date
For example 14 01 2020


TABLE
BRANSHOLME MIU (Y00427)

Day
20

Month
10

Year
2041 -->


<br />
<br />

<form action="order-5-4-2-add-associated-service-option">
{{ button({
  "text": "Continue"
}) }}
</form>

<!-- <br />

<p><a href="kjjkkjjkk.com" style="color: #cc0000;">Delete Catalog Solution</a></p> -->

    </div>
  </div>

  <br /><br />
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}