{% extends 'layout.html' %}

{% block pageTitle %}
  Request Buying Catalogue account
{% endblock %}

{% block header %}
{% include "includes/header-hub.html" %}
{% endblock%}
{% block beforeContent %}

{% endblock %}
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        {% from 'back-link/macro.njk' import backLink %}

        {{ backLink({
        "href": "/order-v2",
        "text": "Go back to homepage"
        }) }}

        <h1>Request Buying Catalogue account</h1>
        <p class="nhsuk-lede-text">This is how to register for a user account. You’ll need one to place orders on the Buying Catalogue.</p>
        <div data-test-id="registration-information">
            <p>
                You can request an account on the Buying Catalogue using our online form. You’ll need to provide the following information: Your name, telephone number, email address, the name of your organisation and its ODS code if you know it.
            </p>
            <p>
                Currently we can only set up accounts for staff from Clinical Commissioning Groups or Commissioning Support Units.
            </p>
            <p>
                Once we’ve set up your account, you’ll be sent a link to the email address you provide so you can create a password. The link can be used only once to set up one account, and will be valid for 24 hours from the time you receive the email.
            </p>
            <p>
                The Buying Catalogue Team aims to respond to account requests within 5 working days.
            </p>
            <p>
                If for any reason the button does not work, you can send your details to buying.catalogue@nhs.net with the subject line: Buying Catalogue account request.
            </p>


        </div>
    </div>
</div>
    {% from 'action-link/macro.njk' import actionLink %}

    {{ actionLink({
      "text": "Request an account",
      "href": "request-account-form"
    }) }}
    <br/>

{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
