<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Buying Catalogue
{% endblock %}

{% block header %}
{% from 'header/macro.njk' import header %}
{% include "includes/header.html" %}
{% endblock%}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}

<!--
{% from 'breadcrumb/macro.njk' import breadcrumb %}

  {{ breadcrumb({
  items: [{

  }],
  href: "/buying-catalogue-v6/",
  text: "Home"
  }) }}
-->
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<form action="index">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% from 'back-link/macro.njk' import backLink %}

      {{ backLink({
        "href": "index",
        "text": "Go back"
      }) }}

<h1 class="nhsuk-heading-xl">Update your password</h1>

<p class="nhsuk-lede-text">You need to update your password to help keep your account secure. Please read the password policy before proceeding.</p>

<p class="nhsuk-body">Your password must be at least ten characters in length and match on confirmation. It must also:
  <ul>
    <li>have at least 1 lower case letter (a-z) </li>
    <li>have at least 1 upper case letter (A-Z) </li>
    <li>have at least 1 number (0-9) </li>
    <li>have at least 1 special character (for example, !@#$%^&*) </li>
    <li>not match any previous passwords you've used to access the Buying Catalogue </li>
  </ul>
</p>

{{ input({
    label: {
      "text": "Enter a password"
    },
    "classes": "nhsuk-input--width-20",
    "id": "password",
    "name": "password",
    inputmode: "password",
    type: "password"
}) }}

{{ input({
    label: {
      "text": "Confirm password"
    },
    "classes": "nhsuk-input--width-20",
    "id": "password",
    "name": "password",
    inputmode: "password",
    type: "password"
}) }}

  {{ button({
    "text": "Save password",
    "href": "#"
  }) }}

  <br /><br /><br /><br />


    </div>
  </div>
</form>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
