{% extends 'layout.html' %}

{% block pageTitle %}
  Start page
{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% endblock%}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}

{% endblock %}

{% block content %}

{% from 'back-link/macro.njk' import backLink %}

{{ backLink({
  "href": "order-0-1-list",
  "text": "Go back"
}) }}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
      <h1>
        Before you start an order
      </h1>
      <div class="nhsuk-warning-callout">
        <h3 class="nhsuk-warning-callout__label">
          <span role="text">
            <span class="nhsuk-u-visually-hidden">Important: </span>
            GP IT Futures framework expired
          </span>
        </h3>
        <p>Lot 1 of the GP IT Futures framework expired on 31 March 2023. This means you can no longer carry out new procurements of solutions and services offered under that framework.</p>
        <p>Continuity contracts have been put in place to ensure that you continue to have access to purchased solutions and services between 1 April 2023 and the go live date of the replacement, which is scheduled for summer 2023.</p>
        <p>You’ll still be able to use the Buying Catalogue to browse and procure solutions and services from the Digital First Online Consultation and Video Consultation (DFOCVC) framework.</p>
        <p>However, orders placed under the GP IT Futures framework will not be completed until the replacement framework is live.</p>
      </div>
      <p class="nhsuk-lede-text">Before you start your order, you should know:</p>


      <ul>
        <li>the approximate value of your order</li>
        <li>what solutions and services you want to order</li>
        <li>how you’re going to pay for your order</li>
        <li>the approximate start date of your contract</li>
        <li>the initial period as agreed with the supplier</li>
        <li>the duration of the contract (maximum term)</li>
        <li>which practices will be receiving the Catalogue Solutions and services being ordered</li>
        <li>the quantity of Additional and Associated Services you want if you’re ordering any</li>
        <li>contact details for the supplier of the Catalogue Solution and any services you’re ordering</li>
        <li>if any price has been agreed with the supplier other than the list price</li>
      </ul>

  <!--    {% from 'card/macro.njk' import card %}

{{ card({
  "heading": "Ordering practice mergers and splits",
  "headingLevel": "3",
  "descriptionHtml": "<p class=\"nhsuk-card__description\">Practice mergers and splits are Associated Services which can be ordered on their own. Go to the Associated Services section and add what you require to your order.</p>"
}) }} -->

      <br />

      <form action="select-organisation">
      {{ button({
        "text": "Start order"
      }) }}
      </form>

      <br />

      <h2>Need help?</h2>
      <p>We’ve developed a <a href="https://gpitbjss.atlassian.net/wiki/spaces/BG/pages/1931116641/Executing+a+procurement+a+step+by+step+guide" target="_blank">step-by-step guide to the procurement process (opens in a new tab)</a>.</p>
      <p>For help using the Buying Catalogue, contact the National and Commercial Procurement Hub:</p>
      {{ actionLink({
        "text": "Get procurement support",
        "href": "../procurement-hub"
      }) }}

  </div>
</div>
</article>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
