{% extends 'layout.html' %}

{% block pageTitle %}
  Buying Catalogue
{% endblock %}

{% block header %}
{% include "includes/header-proxy.html" %}
{% endblock%}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}

{% endblock %}

<!-- Your page content goes inside the content block -->
{% block content %}
{% from 'back-link/macro.njk' import backLink %}

{{ backLink({
  "href": "order-4-summary",
  "text": "Go back"
}) }}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Timescales for Call-off Agreement
      <span class="nhsuk-caption-xl nhsuk-caption--bottom">
        <span class="nhsuk-u-visually-hidden"> - </span>
        Order C000001-01
      </span>
      </h1>

      <p class="nhsuk-lede-text">Provide the commencement date, initial period and maximum term for the Call-off Agreement.</p>

      {% from 'inset-text/macro.njk' import insetText %}

      {{ insetText({
        "HTML": "<p>The Call-off Agreement will extend automatically up to the maximum of 48 months unless notice to terminate is given 30 working days before the end of the initial period.</p>
                <p>This is to allow implementation at multiple sites over an extended period. However, no Service Recipient can receive solutions or services for more than 36 months within the 48 month period.</p>"
      }) }}

      {% from 'date-input/macro.njk' import dateInput %}

      {{ dateInput({
        "id": "example",
        "namePrefix": "example",
        "fieldset": {
          "legend": {
            "text": "What is commencement date for this Call-off Agreement?",
            "classes": "nhsuk-label--xs",
            "isPageHeading": true
          }
        },
        "hint": {
          "text": "This is the date you’ve agreed with the supplier that the Call-off Agreement will begin."
        },
        "items": [
          {
            "name": "day",
            "classes": "nhsuk-input--width-2"
          },
          {
            "name": "month",
            "classes": "nhsuk-input--width-2"
          },
          {
            "name": "year",
            "classes": "nhsuk-input--width-4"
          }
        ]
      }) }}

      <br/>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="cost-per-item">
              What is the maximum term for this Call-off Agreement for each Service Recipient (in months)?
        </label>
        <div class="nhsuk-hint" id="example-with-hint-text-hint">
          This is the maximum length the Call-off Agreement can run for each Service Recipient, which includes the initial period. It cannot exceed 36 months from the delivery date - which is when solutions or services start being used.
        </div>
        <div class="govuk-input__wrapper">
          <input class="nhsuk-input nhsuk-input--width-5" type="text" spellcheck="false">
          <div class="govuk-input__suffix" aria-hidden="true">months</div>
        </div>
      </div>

      <br/>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="cost-per-item">
          What is the initial period for this Call-off Agreement (in months)?
        </label>
        <div class="nhsuk-hint" id="example-with-hint-text-hint">
          This is the period after which the Call-off Agreement can be terminated without incurring charges. It is recommended the initial period is 6 months.
        </div>
        <div class="govuk-input__wrapper">
          <input class="nhsuk-input nhsuk-input--width-5" type="text" spellcheck="false">
          <div class="govuk-input__suffix" aria-hidden="true">months</div>
        </div>
      </div>


      <br /><br />

      <!-- <form action="order-4-summary">
      {{ button({
        "text": "Save and continue"
      }) }}
      </form> -->
      <!-- <form action="order-4-summary">
        {{ button({
          "text": "Save and continue"
        }) }}
        </form> -->

        <div>
          <div style="display:inline-block;"">
            <form action="order-4-summary">
            {{ button({
              "text": "Save and continue"
            }) }}
            </form>
          </div>
      <!---    &nbsp;&nbsp;&nbsp;
          <div style="display:inline-block;">
            <form action="order-0-1-list">
            {{ button({
              "text": "Save for later",
              "classes": "nhsuk-button--secondary"
            }) }}
          </form>--->
          </div>
        </div>

    </div>
  </div>




  <br /><br />



{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
