
<br />
<table class="nhsuk-table bc-detail">
  <caption class="nhsuk-table__caption">Service Recipients</caption>
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row" class="small-text">

      <th role="columnheader" class="" scope="col">
        Recipient
      </th>

      <th role="columnheader" class="" scope="col">
        Quantity <br />per practice
      </th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr role="row" class="nhsuk-table__row small-text">
      <td class="nhsuk-table__cell" style="width:60%">Assura ER LLP Hull Dermatology</td>
      <td class="nhsuk-table__cell" style="width:40%">620</td>
    </tr>
    <tr role="row" class="nhsuk-table__row small-text">
      <td class="nhsuk-table__cell" style="width:60%">Bevan Limited</td>
      <td class="nhsuk-table__cell" style="width:40%">750</td>
    </tr>
  </tbody>
  </table>


  <table class="nhsuk-table bc-detail">
    <caption class="nhsuk-table__caption">Pricing</caption>
    <thead role="rowgroup" class="nhsuk-table__head">
      <tr role="row" class="small-text">

        <th role="columnheader" class="" scope="col">
          Pricing tier
        </th>

        <th role="columnheader" class="" scope="col">
          Price per unit
        </th>
        <th role="columnheader" class="" scope="col">
          Quantity
        </th>

      </tr>
    </thead>
  <tbody class="nhsuk-table__body">
    <tr>
      <td style="width:35%">Tier 1</td>
      <td class="nhsuk-table__cell" style="width:50%">£1.26 per patient per year</td>
      <td class="nhsuk-table__cell">620</td>
    </tr>
    <tr>
      <td style="width:35%">Tier 2</td>
      <td class="nhsuk-table__cell" style="width:50%">£2.26 per patient per year</td>
      <td class="nhsuk-table__cell">750</td>
    </tr>
    <tr>
      <td style="width:35%">Tier 3</td>
      <td class="nhsuk-table__cell" style="width:50%">£3.26 per patient per year</td>
      <td class="nhsuk-table__cell">0</td>
    </tr>
  </tbody>

</table>
<!-- {{ actionLink({
  "text": "Edit Emis Web",
  "href": "https://www.nhs.uk/service-search/minor-injuries-unit/locationsearch/551"
}) }} -->



<!-- Boldened columns -->

<!-- <tbody class="nhsuk-table__body">
  <th class="nhsuk-table__cell">Tier 1</th>
    <td class="nhsuk-table__cell">£1.26 per patient per year</td>
    <td class="nhsuk-table__cell">620</td>
  </tr>
  <th class="nhsuk-table__cell">Tier 2</th>
    <td class="nhsuk-table__cell">£2.26 per patient per year</td>
    <td class="nhsuk-table__cell">750</td>
  </trd
  <th class="nhsuk-table__cell">Tier 3</th>
    <td class="nhsuk-table__cell">£3.26 per patient per year</td>
    <td class="nhsuk-table__cell">0</td>
  </tr>
</tbody> -->
