<br />
<table class="nhsuk-table bc-detail">
  <caption class="nhsuk-table__caption">Service Recipients</caption>
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row" class="small-text">
      <th role="columnheader" class="" scope="col">
        Recipient
      </th>
      <th role="columnheader" class="" scope="col">
        Quantity <br />per practice
      </th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr role="row" class="nhsuk-table__row small-text">
      <td class="nhsuk-table__cell" style="width:60%">Assura ER LLP Hull Dermatology</td>
      <td class="nhsuk-table__cell" style="width:40%">Not specified</td>
    </tr>

    <tr role="row" class="nhsuk-table__row small-text">
      <td class="nhsuk-table__cell">Bevan Limited</td>
      <td class="nhsuk-table__cell">Not specified</td>
    </tr>
  </tbody>
  </table>


  <table class="nhsuk-table bc-detail">
    <caption class="nhsuk-table__caption">Pricing</caption>
    <thead role="rowgroup" class="nhsuk-table__head">
      <tr role="row" class="small-text">
        <th role="columnheader" class="" scope="col">
          Price per unit
        </th>
        <th role="columnheader" class="" scope="col">
          Quantity
        </th>
      </tr>
    </thead>
  <tbody class="nhsuk-table__body">
    <tr role="row" class="nhsuk-table__row small-text">
      <td class="nhsuk-table__cell" style="width:60%">£2000 per implementation</td>
      <td class="nhsuk-table__cell" style="width:40%">2</td>
    </tr>
  </tbody>
</table>
<!-- {{ actionLink({
  "text": "Edit Migration",
  "href": "https://www.nhs.uk/service-search/minor-injuries-unit/locationsearch/551"
}) }} -->
