{% extends 'layout.html' %}

{% block pageTitle %}
  Buying Catalogue
{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% endblock%}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}

{% endblock %}

{% block content %}

{% from 'back-link/macro.njk' import backLink %}

{{ backLink({
  "href": "order-0-1-list",
  "text": "Go back to orders dashboard"
}) }}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>Order summary completed
    <span class="nhsuk-caption-xl nhsuk-caption--bottom">
      <span class="nhsuk-u-visually-hidden"> - </span>
      Order C000001-01
    </span>
  </h1>
      <p class="nhsuk-lede-text">You’ve successfully completed your order summary. Make sure you complete the listed tasks where relevant to finalise your procurement.</p>

      {% from 'inset-text/macro.njk' import insetText %}

{{ insetText({
  "HTML": "<p>A copy of these tasks will be emailed to the address you’ve provided.</p>"
}) }}

      <ul>
        <li>download a copy of your order summary using the button on this page</li>
        <li>download and complete the blue shaded sections of <a href="#">Schedule 2.3 (Word doc 41KB)</a> and sign it – this is the contractual part of your procurement. Send it to the supplier along with your order summary so they can complete their sections and sign, creating the contract</li>
        <li>return a signed copy of Schedule 2.3 to gpitf.commercial1@nhs.net and gpitfutures.finance@nhs.net</li>
        <li>if you’ve paid using your central allocation, we’ll process the payments for you</li>
        <li>if you’ve paid using local funding, you’ll need to contact the supplier to arrange</li>
        <li>if you’ve ordered a migration, you can <a href="https://digital.nhs.uk/services/gp-it-futures-systems/clinical-system-migration-guide">find more information on preparing and planning</a> (opens in a new tab)</li>
        <li>once solutions and services are in use, enter the activation dates on the order tracker so we can start paying for centrally funded orders</li>
        <li>once Associated Services, such as training, migration or practice mergers and splits have been provided, inform gpitfutures.finance@nhs.net so we can start paying the supplier</li>
      </ul>

      {{ button({
        "text": "Download order summary PDF",
        "classes": "nhsuk-button--secondary"
      }) }}
      <br/>
      {{ button({
        "text": "Return to orders dashboard",
        "href": "order-0-1-list"
      }) }}

      <h2>Need help?</h2>
      <p>If you need any help or have any queries, you can contact the National and Commercial Procurement Hub:</p>
      {{ actionLink({
        "text": "Get procurement support",
        "href": "../procurement-hub"
      }) }}



  </div>
</div>
</article>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
