{% extends 'layout.html' %}

{% block pageTitle %}
  Buying Catalogue
{% endblock %}

{% block header %}
{% include "includes/header-proxy.html" %}
{% endblock%}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}

{% endblock %}

<!-- Your page content goes inside the content block -->
{% block content %}
{% from 'back-link/macro.njk' import backLink %}

{{ backLink({
  "href": "order-4-summary",
  "text": "Go back"
}) }}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>Find supplier information
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">
          <span class="nhsuk-u-visually-hidden"> - </span>
          Order C000001-01
        </span>
      </h1>
      <p class="nhsuk-lede-text">Search for the supplier you want to order from.</p>
      {% from 'input/macro.njk' import input %}

      {{ input({
        "label": {
          "text": "Enter supplier name"
        },
        "id": "example",
        "name": "example"
      }) }}

<br />

      <form action="order-5-10-supplier-results">
      {{ button({
        "text": "Search"
      }) }}
      </form>

    </div>
  </div>

  <br /><br />
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
