
<br />
{% from 'tables/macro.njk' import table %}

    {{ table({
    responsive: true,
    panel: false,
    caption: "",
    firstCellIsHeader: false,
    head: [
      {
        text: "Service Recipients"
      },
      {
        text: "ODS code"
      },
      {
        text: "Planned delivery date"
      }
    ],
    rows: [
    [
    {
       text: "ACTON GP PRACTICE"
     },
     {
       text: "Y03508" 
     },
     {
       text: "1 September 2022"
     }
   ],
   [
     {
       text: "BEVAN LIMITED"
     },
     {
       text: "Y03507"
     },
     {
       text: "1 November 2022"
     }
   ],
   [
     {
       text: "BROMPTON GP PRACTICE"
     },
     {
       text: "Y03623"
     },
     {
       text: "1 October 2022"
     }
   ],
   [
     {
       text: "CHESTER GP PRACTICE"
     },
     {
       text: "Y03128"
     },
     {
       text: "1 September 2022"
     }
   ],
   [
     {
       text: "CHICHESTER GP PRACTICE"
     },
     {
       text: "Y03728"
     },
     {
       text: "1 September 2022"
     }
   ],
   [
     {
       text: "CRAWLEY GP PRACTICE"
     },
     {
       text: "Y03915"
     },
     {
       text: "1 November 2022"
     }
   ],
   [
     {
       text: "DERMATOLOGY CLINIC GPSI"
     },
     {
       text: "Y00894"
     },
     {
       text: "1 October 2022"
     }
   ],
   [
     {
       text: "EALING GP PRACTICE"
     },
     {
       text: "Y03985"
     },
     {
       text: "1 September 2022"
     }
   ],
   [
     {
       text: "EGHAM GP PRACTICE"
     },
     {
       text: "Y03389"
     },
     {
       text: "1 September 2022"
     }
   ],
   [
     {
       text: "FARNHAM GP PRACTICE"
     },
     {
       text: "Y03017"
     },
     {
       text: "1 October 2022"
     }
   ],
   [
     {
       text: "GATESHEAD GP PRACTICE"
     },
     {
       text: "Y03284"
     },
     {
       text: "1 September 2022"
     }
   ],
   [
     {
       text: "GILLINGHAM GP PRACTICE"
     },
     {
       text: "Y03300"
     },
     {
       text: "1 September 2022"
     }
   ],
   [
     {
       text: "GRIMSBY GP PRACTICE"
     },
     {
       text: "Y03117"
     },
     {
       text: "1 November 2022"
     }
   ],
   [
     {
       text: "GUILDFORD GP PRACTICE"
     },
     {
       text: "Y03921"
     },
     {
       text: "1 September 2022"
     }
   ],
   [
     {
       text: "HALESOWEN GP PRACTICE"
     },
     {
       text: "Y03762"
     },
     {
       text: "1 November 2022"
     }
   ],
   [
     {
       text: "HAXBY GROUP HULL"
     },
     {
       text: "Y02747"
     },
     {
       text: "1 September 2022"
     }
   ],
   [
     {
       text: "HILLINGDON GP PRACTICE"
     },
     {
       text: "Y03018"
     },
     {
       text: "1 October 2022"
     }
   ],
   [
     {
       text: "JAMES ALEXANDER FAMILY PRACTICE"
     },
     {
       text: "B81112"
     },
     {
       text: "1 November 2022"
     }
   ],
   [
     {
       text: "LEWES GP PRACTICE"
     },
     {
       text: "Y03559"
     },
     {
       text: "1 October 2022"
     }
   ],
   [
     {
       text: "LINCOLN GP PRACTICE"
     },
     {
       text: "Y03652"
     },
     {
       text: "1 September 2022"
     }
   ],
   [
     {
       text: "MANCHESTER GP PRACTICE"
     },
     {
       text: "Y03922"
     },
     {
       text: "1 October 2022"
     }
   ],
   [
     {
       text: "MIDDLESBOROUGH GP PRACTICE"
     },
     {
       text: "Y03992"
     },
     {
       text: "1 September 2022"
     }
   ],
   [
     {
       text: "NOTTINGHAM GP PRACTICE"
     },
     {
       text: "Y03020"
     },
     {
       text: "1 September 2022"
     }
   ],
   [
     {
       text: "ST ANDREWS SURGERY"
     },
     {
       text: "B81027"
     },
     {
       text: "1 November 2022"
     }
   ],
   [
     {
       text: "STREATHAM GP PRACTICE"
     },
     {
       text: "Y09167"
     },
     {
       text: "1 September 2022"
     }
   ],
   [
     {
       text: "SYDENHAM GROUP PRACTICE"
     },
     {
       text: "B81058"
     },
     {
       text: "1 September 2022"
     }
   ] 
  ]
  }) }}