<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-full-width.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Buying Catalogue
{% endblock %}

{% block header %}
<style>

.section-content {
  margin-top: 32px;
  margin-bottom: 32px;
}
</style>
{% include "includes/header.html" %}
{% endblock%}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}

{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

{{ backLink({
  "href": "index",
  "text": "Go back"
}) }}

<section class="nhsuk-section">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full section-content">
        <h1>Compare client application type</h1>
        <p class="nhsuk-lede-text">
          Lorem ipsum dolor sit amet consectutor.
        </p>

        {{ contentsList({
        items: [
          {
            href: "compare-list-price",
            text: "List price"
          },
          {
            href: "compare-additional-services",
            text: "Additional Services"
          },
          {
            href: "compare-associated-services",
            text: "Associated Services"
          },
          {
            href: "compare-capabilities-epics",
            text: "Capabilties and Epics"
          },
          {
            href: "compare-interoperability",
            text: "Interoperability"
          },
          {
            href: "compare-implementation",
            text: "Implementation"
          },
          {
            href: "compare-client-application-type",
            text: "Client application type",
            current: "true"
          },
          {
            href: "compare-hosting-type",
            text: "Hosting type"
          }
          ]
        }) }}

        <p>Content TBC</p>

      </div>   
    </div>
  </div>
</section>


{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
