<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-full-width.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Buying Catalogue
{% endblock %}

{% block header %}
<style>

.app-width-container--full {
 margin:0;
 max-width:none
}

.section-content {
  margin-top: 32px;
  margin-bottom: 32px;
}
</style>
{% include "includes/header.html" %}
{% endblock%}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}

{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<section class="nhsuk-section">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full section-content">
        {{ backLink({
          "href": "index",
          "text": "Go back"
        }) }}

        <h1>Compare Additional Services</h1>
        <p class="nhsuk-lede-text">
          Lorem ipsum dolor sit amet consectutor.
        </p>

        {{ contentsList({
        items: [
          {
            href: "compare-list-price",
            text: "List price"
          },
          {
            href: "compare-additional-services",
            text: "Additional Services",
            current: "true"
          },
          {
            href: "compare-associated-services",
            text: "Associated Services"
          },
          {
            href: "compare-capabilities-epics",
            text: "Capabilties and Epics"
          },
          {
            href: "compare-interoperability",
            text: "Interoperability"
          },
          {
            href: "compare-implementation",
            text: "Implementation"
          },
          {
            href: "compare-client-application-type",
            text: "Client application type"
          },
          {
            href: "compare-hosting-type",
            text: "Hosting type"
          }
          ]
        }) }}

        <table class="nhsuk-table nhsuk-u-margin-bottom-9">
          <caption class="nhsuk-table__caption">Online and Video Consult Additional Services</caption>
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">
                Additional Service
              </th>
              <th role="columnheader" class="" scope="col">
                Price type
              </th>
              <th role="columnheader" class="" scope="col">
                Range
              </th>
              <th role="columnheader" class="" scope="col">
                Price
              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="#">Long Term Conditions Manager</a></td>
              <td class="nhsuk-table__cell">Flat price per Service Recipient</td>
              <td class="nhsuk-table__cell">N/A</td>
              <td class="nhsuk-table__cell">£0.2500 per patient per year</td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="#">Long Term Conditions Manager</a></td>
              <td class="nhsuk-table__cell">Flat price per Practice</td>
              <td class="nhsuk-table__cell">N/A</td>
              <td class="nhsuk-table__cell">£500 per practice</td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="#"> Caltech Mobile</a></td>
              <td class="nhsuk-table__cell">Flat price per Service Recipient</td>
              <td class="nhsuk-table__cell">N/A</td>
              <td class="nhsuk-table__cell ">£0.0700 per patient per year </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="#"> Automated Arrivals</a></td>
              <td class="nhsuk-table__cell">Flat price per day</td>
              <td class="nhsuk-table__cell">N/A</td>
              <td class="nhsuk-table__cell ">£426.1200 per day</td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="#">Extract Services</a></td>
              <td class="nhsuk-table__cell">Flat price per Service Recipient</td>
              <td class="nhsuk-table__cell">N/A</td>
              <td class="nhsuk-table__cell ">£0.0600 per patient per year </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="#">Caltech Web Dispensing</a></td>
              <td class="nhsuk-table__cell">Tiered pricing structure 1</td>
              <td class="nhsuk-table__cell">1 to 49,999 patients</td>
              <td class="nhsuk-table__cell ">£0.2500 per patient per year </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="#">Caltech Web Dispensing</a></td>
              <td class="nhsuk-table__cell">Tiered pricing structure 1</td>
              <td class="nhsuk-table__cell">50,000+ patients</td>
              <td class="nhsuk-table__cell ">£0.1500 per patient per year </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="#">Caltech Web Dispensing</a></td>
              <td class="nhsuk-table__cell">Tiered pricing structure 2</td>
              <td class="nhsuk-table__cell">1 to 99,999 patients</td>
              <td class="nhsuk-table__cell ">£0.2000 per patient per year </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="#">Caltech Web Dispensing</a></td>
              <td class="nhsuk-table__cell">Tiered pricing structure 2</td>
              <td class="nhsuk-table__cell">100,000+ patients</td>
              <td class="nhsuk-table__cell ">£0.1000 per patient per year </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="#">Document Management</a></td>
              <td class="nhsuk-table__cell">Flat price per Service Recipient</td>
              <td class="nhsuk-table__cell">N/A</td>
              <td class="nhsuk-table__cell ">£0.1200 per patient per year </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="#">Risk Stratification</a></td>
              <td class="nhsuk-table__cell">Flat price per Service Recipient</td>
              <td class="nhsuk-table__cell">N/A</td>
              <td class="nhsuk-table__cell ">£0.0600 per patient per year </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="#">Enterprise Search and Reports</a></td>
              <td class="nhsuk-table__cell">Flat price per Service Recipient</td>
              <td class="nhsuk-table__cell">N/A</td>
              <td class="nhsuk-table__cell ">£0.0600 per patient per year </td>
            </tr>
          </tbody>
        </table>

      </div>   
    </div>
  </div>
</section>

<section class="nhsuk-section">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full section-content">

        <table class="nhsuk-table nhsuk-u-margin-bottom-9">
          <caption class="nhsuk-table__caption">Q Doctor Additional Services</caption>
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">
                Additional Service
              </th>
              <th role="columnheader" class="" scope="col">
                Price type
              </th>
              <th role="columnheader" class="" scope="col">
                Price
              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="#">Q Doctor Enhanced</a></td>
              <td class="nhsuk-table__cell">Flat price per Service Recipient</td>
              <td class="nhsuk-table__cell">£0.2500 per patient per year</td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="#">Q Doctor Mobile Working</a></td>
              <td class="nhsuk-table__cell">Flat price per unit per month</td>
              <td class="nhsuk-table__cell">£68.5700 per unit per month </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="#">Q Doctor Auto Planner</a></td>
              <td class="nhsuk-table__cell">Flat price per unit</td>
              <td class="nhsuk-table__cell"> £824.4700 per unit</td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="#">Q Doctor Shared Admin</a></td>
              <td class="nhsuk-table__cell">Flat price per unit</td>
              <td class="nhsuk-table__cell"> £824.4700 per unit</td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="#">Q Doctor Video Conferencing</a></td>
              <td class="nhsuk-table__cell">Flat price per patient</td>
              <td class="nhsuk-table__cell">£0.2000 per patient per year </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="#">Q Doctor Point of Care</a></td>
              <td class="nhsuk-table__cell">Flat price per unit</td>
              <td class="nhsuk-table__cell">£0.5000 per unit </td>
            </tr>
          </tbody>
        </table>

      </div>   
    </div>
  </div>
</section>


{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
