<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Buying Catalogue
{% endblock %}

{% block header %}

{% include "includes/header-hub.html" %}
{% endblock%}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    {{ backLink({
      "href": "../competition-tasklist",
      "text": "Go back"
    }) }}
    

    <h1>Non-price elements<span class="nhsuk-caption-xl nhsuk-caption--bottom">
      <span class="nhsuk-u-visually-hidden"> - </span>
      Your competition
    </span></h1>
    <p class="nhsuk-lede-text">
      Add any optional non-price elements to help you score your shortlisted solutions, for example implementation, interoperability or service levels.
    </p>

    {{ actionLink({
      "text": "Add a non-price element",
      "href": "non-price-elements"
    }) }}

    <p>No non-price elements have been added yet for this competition.</p>

    <a href="../competition-tasklist" class="nhsuk-button">Continue</a>

  </div>
</div>
<br /><br />

{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}