<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Buying Catalogue
{% endblock %}

{% block header %}
{% include "includes/header-admin.html" %}
{% endblock%}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}

<!-- {% from 'breadcrumb/macro.njk' import breadcrumb %}
  {{ breadcrumb({
  items: [
  ],
  href: "/admin-solutions/",
  text: "Manage Catalogue Solutions"
  }) }} -->

{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
{{ backLink({
  "href": "admin-solution-cta-add-2",
  "text": "Go back"
}) }}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1>
      <span role="text">Browser-based application - supported browsers
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">
          <span class="nhsuk-u-visually-hidden"> - </span>
          Caltech Web GP
        </span>
      </span>
    </h1>

    <!--h2>User accounts</h2-->

    <p class="nhsuk-lede-text">Let buyers know which types of browser will work with your Catalogue Solution.</p>

    {% set browserVersion %}
  {{ input({
    id: "email",
    name: "email",
    classes: "nhsuk-u-width-one-half",
    label: {
      text: "Minimum browser version"
    }
  }) }}
{% endset -%}

<form method="get" action="admin-solution-cta-add-2">
  {{ checkboxes({
    "idPrefix": "contact",
    "name": "contact",
    "fieldset": {
      "legend": {
        "text": "Supported browser types",
        "classes": "nhsuk-fieldset__legend--l"
      }
    },
    "hint": {
      "text": "Select all the types of browser that are supported by your Catalogue Solution."
    },
    "items": [
      {
        "value": "email",
        "text": "Google Chrome",
        "conditional": {
          "html": browserVersion
        }
      },

      {
        "value": "email",
        "text": "Microsoft Edge",
        "conditional": {
          "html": browserVersion
        }
      },

      {
        "value": "email",
        "text": "Mozilla Firefox",
        "conditional": {
          "html": browserVersion
        }
      },

      {
        "value": "email",
        "text": "Opera",
        "conditional": {
          "html": browserVersion
        }
      },

      {
        "value": "email",
        "text": "Safari",
        "conditional": {
          "html": browserVersion
        }
      },

      {
        "value": "email",
        "text": "Chromium",
        "conditional": {
          "html": browserVersion
        }
      },

      {
        "value": "email",
        "text": "Internet Explorer 11",
        "conditional": {
          "html": browserVersion
        }
      },

      {
        "value": "email",
        "text": "Internet Explorer 10",
        "conditional": {
          "html": browserVersion
        }
      }

    ]
  }) }}

  {% call fieldset({
  legend: {
    "text": "Mobile responsive",
    "classes": "nhsuk-fieldset__legend--l"
  }
  }) %}
  {{ hint({
    "text": "Does the design of your Catalogue Solution adapt for use on mobile or tablet devices?",
    "classes": "nhsuk-u-margin-bottom-2"
  }) }}
  {{ radios({
    "idPrefix": "example-hints",
    "name": "example-hints",
    "items": [
  {
    "value": "yes",
    "text": "Yes"
  },
  {
    "value": "no",
    "text": "No"
  }

]
}) }}
{% endcall %}
<br/>
{{ button({
  "text": "Save and continue"

}) }}
</form>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
