{% extends 'layout.html' %}

{% block pageTitle %}
  Buying Catalogue
{% endblock %}

{% block header %}
  {% include "includes/header-proxy.html" %}
  {% endblock%}

  <!-- Breadcrumb goes inside the beforeContent block -->
  {% block beforeContent %}
    <style>
      .nhsuk-expander .nhsuk-details__summary > span,
      .nhsuk-expander .nhsuk-details__summary-text {
        color: black;
        text-decoration: none;
      }

      .nhsuk-expander .nhsuk-details__summary .nhsuk-details__summary-text:before {
        background: url("data:image/svg+xml,%3Csvg class='nhsuk-icon nhsuk-icon__plus' xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24' aria-hidden='true'%3E%3Ccircle cx='12' cy='12' r='10' %3E%3C/circle%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M12 8v8M8 12h8'%3E%3C/path%3E%3C/svg%3E%0A") left -2px center no-repeat;
      }

      .nhsuk-expander[open] .nhsuk-details__summary .nhsuk-details__summary-text:before {
        background: url("data:image/svg+xml,%3Csvg class='nhsuk-icon nhsuk-icon__minus' xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24' aria-hidden='true'%3E%3Ccircle cx='12' cy='12' r='10' %3E%3C/circle%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M8 12h8'%3E%3C/path%3E%3C/svg%3E%0A") left -2px center no-repeat;
      }

      .nhsuk-expander {
        background: none;
      }
    </style>

  {% endblock %}
  <!-- Your page content goes inside the content block -->
  {% block content %}

    {% from 'back-link/macro.njk' import backLink %}

    {{ backLink({
      "href": "contract-order-overview",
      "text": "Go back"
    }) }}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <h1>Review contract (Schedule 2.3)
          <span class="nhsuk-caption-xl nhsuk-caption--bottom">
            <span class="nhsuk-u-visually-hidden">
              -
            </span>
            Order C000001-01
          </span>
        </h1>

        <p class="nhsuk-lede-text">Review the contract information you’ve added to your order before completing it. Once the order summary is completed, you'll be unable to make changes.</p>

        <!--<details class="nhsuk-details nhsuk-expander" open="open">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Security measures</h2>
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <br/>
            {{ summaryList({
             rows: [
               {
                 key: {
                   text: "Security measures required?"
                 },
                 value: {
                   text: "No"
                 }
               }
             ]
           }) }}
          </div>
        </details>-->

        <details class="nhsuk-details nhsuk-expander" open="open">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Implementation plan</h2>
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <br/>
            {{ summaryList({
             rows: [
               {
                 key: {
                   text: "Bespoke implementation plan?"
                 },
                 value: {
                   text: "No"
                 }
               }
             ]
           }) }}
           <br />
           {{ table({
             panel: false,
             caption: "Milestone payment triggers",
             firstCellIsHeader: false,
             head: [
               {
                 text: "Milestone name"
               },
               {
                 text: "Milestone payments trigger"
               }
             ],
             rows: [
               [
                 {
                   text: "Milestone 1 (Go Live)"
                 },
                 {
                   text: "No payment."
                 }
               ],
               [
                 {
                   text: "Milestone 2 (Service Stability)"
                 },
                 {
                   text: "Charges commence on achievement of Milestone 1, but payments will not be made until Milestone 2 is achieved."
                 }
               ]
             ]
            }) }}
            <br />
            {{ table({
              panel: false,
              caption: "Milestone 1: Go Live",
              firstCellIsHeader: false,
              head: [

                {
                  text: "Acceptance criteria"
                }
              ],
              rows: [
                [
                  {
                    text: "The supplier evidences to your satisfaction that the implementation plan includes all deliverables and responsibilities of you, the Service Recipient and the supplier, with appropriate time allocated for these to be met."
                  }
                ],
                [
                  {
                    text: "The supplier evidences to your satisfaction that the Catalogue Solution has been configured to meet the Service Recipient’s operational requirements."
                  }
                ],
                [
                  {
                    text: "The supplier evidences to the Service Recipient’s satisfaction that they’ve met their obligations set out in the Training Standard."
                  }
                ],
                [
                  {
                    text: "Where the supplier is responsible for training, they evidence to the Service Recipient’s satisfaction that end users can use the Catalogue Solution to fulfil relevant business functions."
                  }
                ],
                [
                  {
                    text: "The supplier evidences to the Service Recipient’s satisfaction that the Catalogue Solution can connect to and access national and other interfaces applicable to it."
                  }
                ],
                [
                  {
                    text: "The supplier evidences to the Service Recipient’s satisfaction that any Associated Services ordered that are applicable to implementation have been effectively provided."
                  }
                ],
                [
                  {
                    text: "The supplier evidences to the Service Recipient’s satisfaction that the requirements of the Data Migration Standard and Catalogue Solution Migration Process applicable to the supplier for go live have been met and that the relevant data has migrated to enable the Service Recipient to conduct their relevant business functions effectively."
                  }
                ],
                [
                  {
                    text: "The supplier evidences to your and the Service Recipient’s satisfaction that they will meet their obligations set out in the Service Management Standard."
                  }
                ],
                [
                  {
                    text: "The supplier evidences to your satisfaction that they have appropriate invoicing arrangements in place."
                  }
                ],
                [
                  {
                    text: "Any commercial issues identified to date are visible to both you and the supplier and an agreement on how they are to be handled has been reached between both parties."
                  }
                ],
                [
                  {
                    text: "Your approval that all Milestone 1 activities have been successfully completed."
                  }
                ]
              ]
            }) }}

            <hr />

            {{ table({
            panel: false,
            caption: "Milestone 2: Service Stability",
            firstCellIsHeader: false,
            head: [
              {
                text: "Acceptance criteria"
              }
            ],
            rows: [
              [
                {
                  text: "The Service Recipient confirms that the Catalogue Solution is functioning as specified by the supplier and end users can use it effectively."
                }
              ],
              [
                {
                  text: "The supplier evidences to your and the Service Recipient’s satisfaction that all of the requirements of the Data Migration Standard and Catalogue Solution Migration Process that are applicable have been met by the supplier, and that all the relevant data has migrated to the Catalogue Solution."
                }
              ],
              [
                {
                  text: "The supplier evidences to your and the Service Recipient’s satisfaction that they’re meeting their service management obligations set out in appendix 2 of the Service Management Standard. This must be reasonably demonstrated within 10 working days of achievement of Milestone 1."
                }
              ],
              [
                {
                  text: "In relation to Type 2 Catalogue Solutions (which do not need to comply with service levels specified by NHS Digital), the supplier evidences to your and the Service Recipient’s satisfaction that the Catalogue Solution is meeting the applicable service levels."
                }
              ],
              [
                {
                  text: "Any commercial issues identified to date are visible to both you and the supplier and an agreement on how they’re to be handled has been reached between both parties."
                }
              ],
              [
                {
                  text: "Your approval that all Milestone 1 and 2 activities have been successfully completed."
                }
              ]
            ]
          }) }}

          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander" open>
         <summary class="nhsuk-details__summary" >
           <span class="nhsuk-details__summary-text">
             <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Associated Services billing and requirements</h2>
           </span>
         </summary>
         <div class="nhsuk-details__text">
           <br />
           {{ summaryList({
              rows: [
                {
                  key: {
                    text: "Associated Services to be billed once a milestone achieved?"
                  },
                  value: {
                    text: "No"
                  }
                }
              ]
            }) }}
            <br />
            <h3>Associated Services billing</h3>

            {{ table({
              responsive: true,
              panel: false,
              caption: "Associated Services billing",
              tableClasses: "nhsuk-u-margin-bottom-7",
              firstCellIsHeader: false,
              head: [
                {
                  text: "Name"
                },
                {
                  text: "Quantity"
                },
                {
                  text: "Payment trigger"
                }
              ],
              rows: [
                [
                  {
                    header: "Associated Service name",
                    text: "Engineering"
                  },
                  {
                    header: "Quantity",
                    text: "7"
                  },
                  {
                    header: "Payment trigger and conditions",
                    text: "Milestone 2"
                  }
                ],
                [
                  {
                    header: "Associated Service name",
                    text: "Implementation"
                  },
                  {
                    header: "Quantity",
                    text: "10"
                  },
                  {
                    header: "Payment trigger and conditions",
                    text: "Milestone 2"
                  }
                ],
                [
                  {
                    header: "Associated Service name",
                    text: "Training Day at Practice"
                  },
                  {
                    header: "Quantity",
                    text: "100"
                  },
                  {
                    header: "Payment trigger and conditions",
                    text: "Milestone 2"
                  }
                ]
              ]
            }) }}

           <h3>Associated Services requirements</h3>

           {{ summaryList({
             rows: [
               {
                 key: {
                   text: "Specific requirements required?"
                 },
                 value: {
                   text: "Yes"
                 }
               }
             ]
           }) }}

           {{ insetText({
             "HTML": "<p>Requirements are documented in section 2 of Appendix 2.</p>"
           }) }}

         </div>
       </details>

        <details class="nhsuk-details nhsuk-expander" open="open">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Data processing information</h2>
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <br/>
            {{ summaryList({
              rows: [
                {
                  key: {
                    text: "Changes to default data processing information?"
                  },
                  value: {
                    text: "No"
                  }
                }
              ]
            }) }}
          </div>
        </details>

        <hr />

        <h2 class="nhsuk-heading-m">Preview order</h2>

        <p>You can download and review your order with colleagues before marking it complete.</p>

        {{ button({
          "text": "Download order PDF",
          "classes": "nhsuk-button--secondary",
          "href":"javascript: sendForm();"
        }) }}

        <br />

        <h2 class="nhsuk-heading-m">Complete order</h2>

        <p>If you’re happy with your order, you can mark it complete. Once you’ve done this, you'll be unable to make changes.</p>

        <br />

        {{ button({
          "text": "Complete order",
          "href":"post-order-guidance"
        }) }}

      </div>
    </div>

    <br/><br/>
  {% endblock %}

  {% block footer %}
    {% include "includes/footer.html" %}
  {% endblock %}
