
<br />
{% from 'tables/macro.njk' import table %}

    {{ table({
    responsive: true,
    panel: false,
    caption: "",
    firstCellIsHeader: false,
    head: [
      {
        text: "Service Recipients"
      },
      {
        text: "ODS code"
      }
    ],
    rows: [
   [
     {
       text: "JAMES ALEXANDER FAMILY PRACTICE"
     },
     {
       text: "B81112"
     }
   ],
   [
     {
       text: "LAURBEL SURGERY"
     },
     {
       text: "B81635"
     }
   ],
   [
     {
       text: "PAIN MANAGEMENT GPSI"
     },
     {
       text: "Y01218"
     }
   ],
   [
     {
       text: "ST ANDREWS SURGERY"
     },
     {
       text: "B81027"
     }
   ],
   [
     {
       text: "SYDENHAM GROUP PRACTICE"
     },
     {
       text: "B81058"
     }
   ],
   [
     {
       text: "THE AVENUES MEDICAL CENTRE"
     },
     {
       text: "B81035"
     }
   ],
   [
     {
       text: "THE BRIDGE GROUP PRACTICE"
     },
     {
       text: "B81046"
     }
   ],
   [
     {
       text: "THE SUTTON MANOR SURGERY"
     },
     {
       text: "B81020"
     }
   ],
   [
     {
       text: "WILBERFORCE SURGERY"
     },
     {
       text: "B81032"
     }
   ],
   [
     {
       text: "WOLSELEY MEDICAL CENTRE"
     },
     {
       text: "B81047"
     }
   ]      
      ]
      }) }}