
<br />
{% from 'tables/macro.njk' import table %}

    {{ table({
    responsive: true,
    panel: false,
    caption: "",
    firstCellIsHeader: false,
    head: [
      {
        text: "Service Recipients"
      },
      {
        text: "ODS code"
      },
      {
        text: "Planned delivery date"
      }
    ],
    rows: [
    [
    {
       text: "ASSURA ER LLP HULL DERMATOLOGY"
     },
     {
       text: "Y03508"
     },
     {
       html: '<p>24 December 2022</p>'
     }
   ],
   [
     {
       text: "BEVAN LIMITED"
     },
     {
       text: "Y03507"
     },
     {
       html: '<p>24 December 2022</p>'
     }
   ],
   [
     {
       text: "DERMATOLOGY CLINIC GPSI"
     },
     {
       text: "Y00894"
     },
     {
       html: '<p>24 December 2022</p>'
     }
   ],
   [
     {
       text: "HAXBY GROUP HULL"
     },
     {
       text: "Y02747"
     },
     {
       html: '<p>24 December 2022</p>'
     }
   ],
   [
     {
       text: "HULL CCG VOCARENHS111 OOH"
     },
     {
       text: "Y06959"
     },
     {
       html: '<p>24 December 2022</p>'
     }
   ]
      ]
      }) }}