.buyer-browse-3 {
  .view-results {
    text-align: right;
    vertical-align: top;

    h4 {
      display: inline-block;
      vertical-align: middle;
      margin-top: 16px;
      margin-right: 20px;
    }
  }

  .height {
    height:180px;
  }

  .nhsuk-details__summary-text {
    text-decoration: none;
    font-weight: bold;
    font-size: 19px;
  }

  .nhsuk-contents-list__item {
    a {
      text-decoration: none;
      color: $color_nhsuk-black;
    }
  }

  .box {
    background-color: $color_nhsuk-white;
    padding: 20px;
    margin-bottom: 0;
  }

  .nhsuk-contents-list {
    margin: 0;
    .nhsuk-contents-list__list {
      margin: 0;
    }
  }

  .nhsuk-table-responsive {
    margin: 0;

    ul {
      margin: 0;
    }
  }

  .nhsuk-details {
    .nhsuk-details__summary {
      color: $color_nhsuk-white;
      background-color: $color_nhsuk-blue;
      box-shadow: 0 0 0 8px $color_nhsuk-blue;
      width: 90%;

      .nhsuk-details__summary-text {
        color: $color_nhsuk-white;
      }
    }
    .nhsuk-details__text {
      border: none;
      padding-left: 0;
    }
  }

  .productivity {
    border-top: 2px solid $color_nhsuk-grey-3;
    padding-top: 20px;
    margin-top: 20px;
  }

  .solution-cards {
    border-top: 2px solid $color_nhsuk-blue;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .blue {
    color: $color_nhsuk-blue;
  }

  .additional-services {
    border-top: 2px solid $color_nhsuk-blue;
    padding-top: 20px;
  }

  .nhsuk-table__cell {
    vertical-align: top;
  }

  .nhsuk-panel--confirmation {
    padding: 10px;

    .nhsuk-panel__title {
      text-align: left;
    }

    .nhsuk-panel__body {
      text-align: left;
    }
  }
}
