<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Buying Catalogue
{% endblock %}

{% block header %}
{% include "includes/header-admin.html" %}
{% endblock%}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  {% from 'back-link/macro.njk' import backLink %}

  {{ backLink({
    "href": "list-price-edit-price-tiered",
    "text": "Go back"
  }) }}

  <style>
  .nhsuk-time-input__item{
    display: inline-block;
    margin-bottom: 0;
    margin-right: 24px;
  }

  .nhsuk-time-input__input{
    margin-bottom: 0;
  }

  .nhsuk-time-input__label{
    display: block;
  }

  .nhsuk-time-input{
    font-size: 0;
  }
</style>

  {% set upperRangeHtml %}
    {{ input({
      "label": {
        "text": "Upper range"
      },
      "id": "upperrange",
      "name": "upperrange",
      "classes": "nhsuk-input--width-10"
    }) }}
  {% endset -%}

    <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">

            <h1>
              <span role="text">Edit Tier 1 price
                <span class="nhsuk-caption-xl nhsuk-caption--bottom">
                  <span class="nhsuk-u-visually-hidden"> - </span>
                  Caltech Web GP
                </span>
              </span>
            </h1>
            <p class="nhsuk-lede-text">Provide the price for this tier.</p>

            <form action="list-price-edit-published-price-tiered" method="get">

              <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="tier-1-cost">
                  Price
                </label>
                <div class="nhsuk-hint" id="example-with-hint-text-hint">
                  Provide the list price in pounds to a maximum of 4 decimal places.
                </div>
                <div class="govuk-input__wrapper">
                  <div class="govuk-input__prefix" aria-hidden="true">£</div>
                  <input class="nhsuk-input nhsuk-input--width-5" id="tier-1-cost" type="text" spellcheck="false" value="0.1160">
                  <div class="govuk-input__suffix" aria-hidden="true">per patient per year</div>
                </div>
              </div>

            <br/>

            {{ button({
                "text": "Save and continue"
            }) }}
        </form>
      </div>
    </div>


{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
