<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Buying Catalogue
{% endblock %}

{% block header %}
{% include "includes/header-admin.html" %}
{% endblock%}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}

<!-- {% from 'breadcrumb/macro.njk' import breadcrumb %}

  {{ breadcrumb({
  items: [
  ],
  href: "/",
  text: "Home"
  }) }} -->

{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  {% from 'back-link/macro.njk' import backLink %}

  {{ backLink({
    "href": "index",
    "text": "Go back"
  }) }}

    <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">


            <h1>
              <span role="text">Edit flat price for per patient per year
                <span class="nhsuk-caption-xl nhsuk-caption--bottom">
                  <span class="nhsuk-u-visually-hidden"> - </span>
                  Caltech Web GP
                </span>
              </span>
            </h1>
            <p class="nhsuk-lede-text">Provide the following information about the pricing model for your Catalogue Solution.</p>

            <form action="list-price-confirmation" method="get">

              {% set unitofTimeHtml %}
              {{ select({
                    "id": "select-1",
                    "name": "select-1",
                    "label": {
                      "text": "Billing period (optional)"
                    },
                    "hint": {
                      "text": "Select if it’s a recurring payment either per month or per year."
                    },
                    "items": [
                      {
                        "value": 1,
                        "text": "None"
                      },

                      {
                        "value": 3,
                        "text": "Per month"
                      },
                      {
                        "value": 4,
                        "text": "Per year"
                      }
                    ]
                  }) }}
              {% endset -%}


              {% set unitofTimeCombinedHtml %}
              {{ radios({
                "idPrefix": "example",
                "name": "example",
                "fieldset": {
                  "legend": {
                    "text": "How are quantities for your solution or service calculated?",
                    "classes": "nhsuk-fieldset__legend--s",
                    "isPageHeading": true
                  }
                },
                "items": [
                  {
                    "value": "yes",
                    "text": "Per solution or service"
                  },
                  {
                    "value": "no",
                    "text": "Per Service Recipient"
                  }
                ]
              }) }}

              {{ select({
                "id": "select-1",
                "name": "select-1",
                "label": {
                  "text": "Billing period (optional)"
                },
                "hint": {
                  "text": "Select if it’s a recurring payment either per month or per year."
                },
                "items": [
                  {
                    "value": 1,
                    "text": "None"
                  },
                
                  {
                    "value": 3,
                    "text": "Per month"
                  },
                  {
                    "value": 4,
                    "text": "Per year"
                  }
                ]
              }) }}
              {% endset -%}

              {{ radios({
              "idPrefix": "provisioning-type",
              "name": "provisioning-type",
              "fieldset": {
                "legend": {
                  "text": "Provisioning type",
                  "classes": "nhsuk-fieldset__legend--m"
                }
              },
              "items": [
                {
                  "value": "per-patient-per-year",
                  "text": "Per patient per year",
                  "checked": true
                },
                {
                  "value": "4",
                  "text": "Per Service Recipient",
                  "conditional" :{
                    "html": unitofTimeHtml
                  }
                },
                {
                  "value": "declarative",
                  "text": "Declarative",
                  "conditional" :{
                    "html": unitofTimeCombinedHtml
                  }
                },
                {
                  "value": "on-demand",
                  "text": "On demand",
                  "conditional" :{
                    "html": unitofTimeCombinedHtml
                  }
                }
              ]
              }) }}



              <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="cost-per-item">
                    Price
              </label>
              <div class="nhsuk-hint" id="example-with-hint-text-hint">
                Provide the list price in pounds to a maximum of 4 decimal places.
              </div>
              <div class="govuk-input__wrapper">
                <div class="govuk-input__prefix" aria-hidden="true">£</div>
                <input class="nhsuk-input nhsuk-input--width-5" type="text" spellcheck="false" value="£1,000.01">
              </div>
            </div>

            {{ input({
              "value": "per patient per year",
            "label": {
              "text": "Unit"
            },
            "hint": {
              "text": "For example, per consultation, per practice, per licence."
            },
            "id": "example",
            "name": "example"
            }) }}

            {{ textarea({
            "name": "example",
            "id": "example",
            "label": {
              "text": "Unit definition (optional)"
            },
            "hint": {
              "text": "For example, if the unit is per day, between what hours?"
            }
          }) }}

          <h2 class="nhsuk-heading-m">Publication status</h2>

          {{ radios({
        "idPrefix": "publication-status",
        "name": "publication-status",
        "fieldset": {
            "legend": {
            "text": "",
            "classes": "nhsuk-fieldset__legend--l"
            }
        },
        "hint": {
            "text": ""
        },
        "items": [
                        {
            "value": "publish",
            "text": "Published"

            },
            {
            "value": "unpublished",
            "text": "Unpublished"
            }
        ]
        }) }}

          <br />

          {% from 'button/macro.njk' import button %}

          {{ button({
            "text": "Save and continue"
          }) }}

          <p><a href="#" style="color: red;">Delete list price</a></p>

        </form>
      </div>
    </div>


{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
