
<br />
{% from 'tables/macro.njk' import table %}

    {{ table({
    responsive: true,
    panel: false,
    caption: "",
    firstCellIsHeader: false,
    head: [
      {
        text: "Service Recipients"
      },
      {
        text: "ODS code"
      }
    ],
    rows: [
    [
    {
       text: "ASSURA ER LLP HULL DERMATOLOGY"
     },
     {
       text: "Y03508"
     }
   ],
   [
     {
       text: "BURNLEY GP PRACTICE"
     },
     {
       text: "Y03507"
     }
   ],
   [
     {
       text: "DONCASTER GP PRACTICE"
     },
     {
       text: "Y03507"
     }
   ],[
     {
       text: "FOXBOROUGH GP PRACTICE"
     },
     {
       text: "Y03507"
     }
   ],
   [
     {
       text: "HACKNEY GP PRACTICE"
     },
     {
       text: "Y03507"
     }
   ],
   [
     {
       text: "LAURBEL SURGERY"
     },
     {
       text: "B81635"
     }
   ],
   [
     {
       text: "LOUGHTON GP PRACTICE"
     },
     {
       text: "Y03507"
     }
   ],
   [
     {
       text: "NUTSFORD GP PRACTICE"
     },
     {
       text: "Y03507"
     }
   ],
   [
     {
       text: "SWANSEA GP PRACTICE"
     },
     {
       text: "B81027"
     }
   ],
   [
     {
       text: "TOOTING GP PRACTICE"
     },
     {
       text: "B81046"
     }
   ],
   [
     {
       text: "WILBERFORCE SURGERY"
     },
     {
       text: "B81032"
     }
   ],
   [
     {
       text: "WOLVERHAMPTON MEDICAL CENTRE"
     },
     {
       text: "B81047"
     }
   ]            
      ]
      }) }}