
<br />
{% from 'tables/macro.njk' import table %}

    {{ table({
    responsive: true,
    panel: false,
    caption: "",
    firstCellIsHeader: false,
    head: [
      {
        text: "Service Recipients"
      },
      {
        text: "ODS code"
      }
    ],
    rows: [
    [
    {
       text: "ACTON GP PRACTICE"
     },
     {
       text: "Y03508"
     }
   ],
   [
     {
       text: "BEVAN LIMITED"
     },
     {
       text: "Y03507"
     }
   ],
   [
     {
       text: "BROMPTON GP PRACTICE"
     },
     {
       text: "Y03507"
     }
   ],
   [
     {
       text: "CHESTER GP PRACTICE"
     },
     {
       text: "Y03507"
     }
   ],
   [
     {
       text: "CHICHESTER GP PRACTICE"
     },
     {
       text: "Y03507"
     }
   ],
   [
     {
       text: "CRAWLEY GP PRACTICE"
     },
     {
       text: "Y03507"
     }
   ],
   [
     {
       text: "DERMATOLOGY CLINIC GPSI"
     },
     {
       text: "Y00894"
     }
   ],
   [
     {
       text: "EALING GP PRACTICE"
     },
     {
       text: "Y03507"
     }
   ],
   [
     {
       text: "EGHAM GP PRACTICE"
     },
     {
       text: "Y03507"
     }
   ],
   [
     {
       text: "FARNHAM GP PRACTICE"
     },
     {
       text: "Y03507"
     }
   ],
   [
     {
       text: "GATESHEAD GP PRACTICE"
     },
     {
       text: "Y03507"
     }
   ],
   [
     {
       text: "GILLINGHAM GP PRACTICE"
     },
     {
       text: "Y03507"
     }
   ],
   [
     {
       text: "GRIMSBY GP PRACTICE"
     },
     {
       text: "Y03507"
     }
   ],
   [
     {
       text: "GUILDFORD GP PRACTICE"
     },
     {
       text: "Y03507"
     }
   ],
   [
     {
       text: "HALESOWEN GP PRACTICE"
     },
     {
       text: "Y03507"
     }
   ],
   [
     {
       text: "HAXBY GROUP HULL"
     },
     {
       text: "Y02747"
     }
   ],
   [
     {
       text: "HILLINGDON GP PRACTICE"
     },
     {
       text: "Y03507"
     }
   ],
   [
     {
       text: "JAMES ALEXANDER FAMILY PRACTICE"
     },
     {
       text: "B81112"
     }
   ],
   [
     {
       text: "LEWES GP PRACTICE"
     },
     {
       text: "Y03507"
     }
   ],
   [
     {
       text: "LINCOLN GP PRACTICE"
     },
     {
       text: "Y03507"
     }
   ],
   [
     {
       text: "MANCHESTER GP PRACTICE"
     },
     {
       text: "Y03507"
     }
   ],
   [
     {
       text: "MIDDLESBOROUGH GP PRACTICE"
     },
     {
       text: "Y03507"
     }
   ],
   [
     {
       text: "NOTTINGHAM GP PRACTICE"
     },
     {
       text: "Y03507"
     }
   ],
   [
     {
       text: "ST ANDREWS SURGERY"
     },
     {
       text: "B81027"
     }
   ],
   [
     {
       text: "STREATHAM GP PRACTICE"
     },
     {
       text: "B81027"
     }
   ],
   [
     {
       text: "SYDENHAM GROUP PRACTICE"
     },
     {
       text: "B81058"
     }
   ],
   [
     {
       text: "THE AVENUES MEDICAL CENTRE"
     },
     {
       text: "B81035"
     }
   ],
   [
     {
       text: "WAKEFIELD GP PRACTICE"
     },
     {
       text: "B81020"
     }
   ],
   [
     {
       text: "WANDSWORTH GP PRACTICE"
     },
     {
       text: "B81020"
     }
   ],
   [
     {
       text: "WOLSELEY MEDICAL CENTRE"
     },
     {
       text: "B81047"
     }
   ]    
      ]
      }) }}