<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Buying Catalogue
{% endblock %}

{% block header %}
{% include "includes/header-admin.html" %}
{% endblock%}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}

{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  {% from 'back-link/macro.njk' import backLink %}

  {{ backLink({
    "href": "/admin-supplier-defined-epics/which-capabilities",
    "text": "Go back"
  }) }}

    <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            
            <h1>
              <span role="text">Supplier defined Epic details
                <span class="nhsuk-caption-xl nhsuk-caption--bottom">
                  <span class="nhsuk-u-visually-hidden"> - </span>
                  Caltech Health
                </span>
              </span>
            </h1>

            <p class="nhsuk-lede-text">Provide the following details for this supplier defined Epic.</p>

            <hr>

            <form action="review-answers" method="post">



{% from 'input/macro.njk' import input %}

{{ input({
  "label": {
    "text": "Name"
  },
  "hint": {
    "text": "Provide a unique name for this supplier defined Epic."
  },
  "id": "epic-name",
  "name": "epic-name"
}) }}
<p class="nhsuk-hint" style="margin-top:-16px; margin-bottom: 32px;">You have 500 characters remaining</p>

{{ textarea({
  id: "description",
  name: "epic-description",
  label: {
    text: "Description"
  },
  "hint": {
    "text": "Outline the functionality provided by this supplier defined Epic."
  }
}) }}
<p class="nhsuk-hint" style="margin-top:-16px; margin-bottom: 32px;">You have 1500 characters remaining</p>

{{ radios({
  "idPrefix": "example",
  "name": "epic-status",
  "fieldset": {
    "legend": {
      "text": "Epic status",
      "classes": "nhsuk-fieldset__legend--m",
      "isPageHeading": false
    }
  },
  "items": [
    {
      "value": "yes",
      "text": "Active"
    },
    {
      "value": "no",
      "text": "Inactive"
    }
  ]
}) }}

  <br />

{% from 'button/macro.njk' import button %}

{{ button({
  "text": "Save and continue"
}) }}

{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
