{% extends 'layout.html' %}

{% block pageTitle %}
  Buying Catalogue
{% endblock %}

{% block header %}
  {% include "includes/header-proxy.html" %}
  {% endblock%}

  <!-- Breadcrumb goes inside the beforeContent block -->
  {% block beforeContent %}{% endblock %}
  <!-- Your page content goes inside the content block -->
  {% block content %}

    {% from 'back-link/macro.njk' import backLink %}

    {{ backLink({
      "href": "order-4-summary-data-processing-completed",
      "text": "Go back"
    }) }}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <h1>Upload supporting files
          <span class="nhsuk-caption-xl nhsuk-caption--bottom">
            <span class="nhsuk-u-visually-hidden">
              -
            </span>
            Order C000001-01
          </span>
        </h1>

        <p class="nhsuk-lede-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

        <h2 class="nhsuk-heading-s">Upload a file</h2>

        <div class="govuk-form-group nhsuk-u-margin-bottom-7">
          <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
        </div>

        {{ button({
          "text": "Continue",
          "href":"order-4-summary-review-completed"
        }) }}

      </div>
    </div>

    <br/><br/>
  {% endblock %}

  {% block footer %}
    {% include "includes/footer.html" %}
  {% endblock %}
