<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-full-width.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Buying Catalogue
{% endblock %}

{% block header %}
<style>
  .app-width-container--full {
    margin: 0;
    max-width: none
  }

  .app-homepage .nhsuk-section:nth-of-type(even) {
    background: #fff
  }

  .section-content {
    margin-top: 32px;
    margin-bottom: 32px;
  }
</style>
{% include "includes/header.html" %}
{% endblock%}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}

{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}


<section class="nhsuk-section">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds section-content">

        {{ backLink({
          "href": "compare-dashboard",
          "text": "Go back"
        }) }}

        <h1>Compare interoperability<span class="nhsuk-caption-xl nhsuk-caption--bottom">
          <span class="nhsuk-u-visually-hidden"> - </span>
          Your competition
        </span></h1>
        <p class="nhsuk-lede-text">
          Compare and score shortlisted solutions based on your interoperability criteria. 
        </p>

        {{ details({
          "text": "How do I score solutions?",
          "HTML": "
          <p><b>How to score solutions:</p></b>
            
           
                <p>1 = Bad, no requirements met</p>
                <p>2 = Poor, few requirements met</p>
                <p>3 = Adequate, just meets requirements</p>
                <p>4 = Good, requirements covered well</p>
                <p>5 = Excellent, all requirements covered well</p>
            
            <p>You should keep a record of the rationale you used to score each solution.</p>
          "
        }) }}

        <h2>
          Your interoperability criteria
        </h2>

        <h3>IM1 integrations</h3>

        <dl class="nhsuk-summary-list">

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Integration type
            </dt>
            <dd class="nhsuk-summary-list__value">
              IM1 Bulk<br>IM1 Transactional
            </dd>

          </div>

        </dl>

        <h3>GP Connect integrations</h3>

        <dl class="nhsuk-summary-list">

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Integration type
            </dt>
            <dd class="nhsuk-summary-list__value">
              None selected
            </dd>

          </div>

        </dl>

      </div>
    </div>
  </div>
</section>

<section class="nhsuk-section">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full section-content">

        <h2>Online and Video Consult</h2>

        <h3>IM1 integrations</h3>

        <table class="nhsuk-table-responsive nhsuk-u-margin-bottom-7" role="table">
          <caption class="nhsuk-table__caption">IM1 Transactional</caption>
          <thead class="nhsuk-table__head" role="rowgroup">
            <tr role="row">
              <th role="columnheader" scope="col">
                Provider or consumer
              </th>
              <th role="columnheader" scope="col">
                System integrating with
              </th>
              <th role="columnheader" scope="col">
                Description
              </th>
              <th role="columnheader" scope="col"></th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">
                  Provider or consumer
                </span>
                Consumer
              </td>
              <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">
                  System integrating with
                </span>
                EMIS
              </td>
              <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">
                  Description
                </span>
                <p class="nhsuk-u-margin-0">
                  Rich integration with EMIS API enables users to interact with patients in accuRx and then save these
                  interactions to record with one click
                </p>
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">
                  Provider or consumer
                </span>
                Consumer
              </td>
              <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">
                  System integrating with
                </span>
                TPP SystmOne
              </td>
              <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">
                  Description
                </span>
                <p class="nhsuk-u-margin-0">
                  Rich integration with SystmOne API enables users to interact with patients in accuRx and then save
                  these interactions to record with one click
                </p>
              </td>
            </tr>
          </tbody>
        </table>

        <h3>GP Connect integrations</h3>

        <p>This solution has no GP Connect integrations listed</p>

        <br>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label nhsuk-label--m" for="input-width-3">
            What score would you give this solution?
          </label>
          <div class="nhsuk-hint" id="example-with-hint-text-hint">
            Score each solution between 1 and 5. The higher the score, the better you think a solution meets your needs.
          </div>
          <input class="nhsuk-input nhsuk-input--width-3" id="input-width-3" name="test-width-3" type="text">
        </div>

      </div>
    </div>
  </div>
</section>

<section class="nhsuk-section">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full section-content">

        <h2>Q Doctor</h2>

        <h3>IM1 integrations</h3>

        <table class="nhsuk-table-responsive nhsuk-u-margin-bottom-7" role="table">
          <caption class="nhsuk-table__caption">IM1 Transactional</caption>
          <thead class="nhsuk-table__head" role="rowgroup">
            <tr role="row">
              <th role="columnheader" scope="col">
                Provider or consumer
              </th>
              <th role="columnheader" scope="col">
                System integrating with
              </th>
              <th role="columnheader" scope="col">
                Description
              </th>
              <th role="columnheader" scope="col"></th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">
                  Provider or consumer
                </span>
                Consumer
              </td>
              <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">
                  System integrating with
                </span>
                EMIS
              </td>
              <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">
                  Description
                </span>
                <p class="nhsuk-u-margin-0">
                  Rich integration with EMIS API enables users to interact with patients in accuRx and then save these
                  interactions to record with one click
                </p>
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">
                  Provider or consumer
                </span>
                Consumer
              </td>
              <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">
                  System integrating with
                </span>
                TPP SystmOne
              </td>
              <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">
                  Description
                </span>
                <p class="nhsuk-u-margin-0">
                  Rich integration with SystmOne API enables users to interact with patients in accuRx and then save
                  these interactions to record with one click
                </p>
              </td>
            </tr>
          </tbody>
        </table>

        <h3>GP Connect integrations</h3>

        <p>This solution has no GP Connect integrations listed</p>

        <br>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label nhsuk-label--m" for="input-width-3">
            What score would you give this solution?
          </label>
          <div class="nhsuk-hint" id="example-with-hint-text-hint">
            Score each solution between 1 and 5. The higher the score, the better you think a solution meets your needs.
          </div>
          <input class="nhsuk-input nhsuk-input--width-3" id="input-width-3" name="test-width-3" type="text">
        </div>

      </div>
    </div>
  </div>
</section>

<section class="nhsuk-section">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full section-content">

        <h2>Engage Consult</h2>

        <h3>IM1 integrations</h3>

        <table class="nhsuk-table-responsive nhsuk-u-margin-bottom-7" role="table">
          <caption class="nhsuk-table__caption">IM1 Transactional</caption>
          <thead class="nhsuk-table__head" role="rowgroup">
            <tr role="row">
              <th role="columnheader" scope="col">
                Provider or consumer
              </th>
              <th role="columnheader" scope="col">
                System integrating with
              </th>
              <th role="columnheader" scope="col">
                Description
              </th>
              <th role="columnheader" scope="col"></th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">
                  Provider or consumer
                </span>
                Consumer
              </td>
              <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">
                  System integrating with
                </span>
                EMIS
              </td>
              <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">
                  Description
                </span>
                <p class="nhsuk-u-margin-0">
                  Rich integration with EMIS API enables users to interact with patients in accuRx and then save these
                  interactions to record with one click
                </p>
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">
                  Provider or consumer
                </span>
                Consumer
              </td>
              <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">
                  System integrating with
                </span>
                TPP SystmOne
              </td>
              <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">
                  Description
                </span>
                <p class="nhsuk-u-margin-0">
                  Rich integration with SystmOne API enables users to interact with patients in accuRx and then save
                  these interactions to record with one click
                </p>
              </td>
            </tr>
          </tbody>
        </table>

        <h3>GP Connect integrations</h3>

        <p>This solution has no GP Connect integrations listed</p>

        <br>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label nhsuk-label--m" for="input-width-3">
            What score would you give this solution?
          </label>
          <div class="nhsuk-hint" id="example-with-hint-text-hint">
            Score each solution between 1 and 5. The higher the score, the better you think a solution meets your needs.
          </div>
          <input class="nhsuk-input nhsuk-input--width-3" id="input-width-3" name="test-width-3" type="text">
        </div>

        <br>

        <a class="nhsuk-button" href="compare-dashboard">Save and continue</a>

      </div>
    </div>
  </div>
</section>




{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}