{% extends 'layout.html' %}

{% block pageTitle %}
  Buying Catalogue
{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% endblock%}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
{% block content %}
{% from 'back-link/macro.njk' import backLink %}

{{ backLink({
  "href": "marketing-page-3",
  "text": "Go back"
}) }}

<article>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds"> <!--  -->

      <h1>
        <span role="text">Appointments Management – GP
          <span class="nhsuk-caption-xl nhsuk-caption--bottom">
            <span class="nhsuk-u-visually-hidden"> - </span>
            Caltech Web GP
          </span>
        </span>
      </h1>
      <p>Supports the administration, scheduling, resourcing and reporting of appointments.</p>

    <hr />

      <h2>NHS defined Epics</h2>

      <p>
        <a href="https://gpitbjss.atlassian.net/wiki/spaces/GPITF/pages/1391134029/Appointments+Management+-+GP" target="_blank">
          View more details including acceptance criteria for Epics defined by the NHS
        </a>
      </p>

      <ul>
          <li>Manage Session templates</li>
          <li>Manage Sessions</li>
          <li>Configure Appointments</li>
          <li>Practice Configuration</li>
          <li>Manage Appointments</li>
          <li>View Appointment reports</li>
          <li>Access Patient Record</li>
          <li>Identify Patients requiring medicines review</li>
      </ul>

      <h2>Supplier defined Epics</h2>

      {{ table({
        panel: false,
        caption: "Supplier defined epics",
        firstCellIsHeader: false,
        head: [
          {
            text: "Name"
          },
          {
            text: "Description"
          }
        ],
        rows: [
          [
            {
              text: "Caltech Messaging"
            },
            {
              text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
            }
          ],
          [
            {
              text: "Caltech Productivity"
            },
            {
              text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
            }
          ]
        ]
      }) }}

      <!--
        <ul class="nhsuk-u-margin-bottom-0 nhsuk-list nhsuk-list--tick">
            <li><svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true"><path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path></svg> <span>Manage Session templates</span></li>
            <li><svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true"><path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path></svg> <span>Manage Sessions</span></li>
            <li><svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true"><path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path></svg> <span>Configure Appointments</span></li>
        </ul>
    -->

      <br /><br />

      <p class="nhsuk-body-s nhsuk-u-secondary-text-color nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-0">
        Solution information last reviewed: 31 March 2020
      </p>

  </div>
</div>
</article>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
