{% extends 'layout.html' %}

{% block pageTitle %}
  Buying Catalogue
{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% endblock%}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}

{% from 'breadcrumb/macro.njk' import breadcrumb %}

{{ breadcrumb({
items: [{
    href: "#",
    text: "Home"
  },
  {
    href: "#",
    text: "Catalogue Solutions"
}],
  href: "#",
  text: "Vision"
}) }}

{% endblock %}

<!-- Your page content goes inside the content block -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
      <h1>
        <span role="text">Standards
          <span class="nhsuk-caption-xl nhsuk-caption--bottom">
            <span class="nhsuk-u-visually-hidden"> - </span>
            Vision
          </span>
        </span>
      </h1>

      {% from 'contents-list/macro.njk' import contentsList %}


      {{ contentsList({
        items: [
          {
            href: "#",
            text: "Description"
          },
          {
            href: "#",
            text: "Features"
          },
          {
            href: "#",
            text: "Capabilities"
          },
          {
            href: "marketing-page-10-vision",
            text: "Standards",
            current: "true"
          },
          {
            href: "#",
            text: "List price"
          },
          {
            href: "marketing-page-additional",
            text: "Additional Services"
          },
          {
            href: "#",
            text: "Associated Services"
          },
          {
            href: "#",
            text: "Interoperability"
          },
          {
            href: "#",
            text: "Implementation timescales"
          },
          {
            href: "#",
            text: "Client application type"
          },
          {
            href: "#",
            text: "Hosting type"
          },
          {
            href: "#",
            text: "Service Level Agreement"
          },
          {
            href: "marketing-page-8-vision",
            text: "Development plans"
          },
          {
            href: "#",
            text: "Supplier details"
          }
        ]
      }) }}
    </div>
  </div>

<article>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
<p><b>Standards describe the technical specifications or operating conditions required for a Catalogue Solution to be published on the Buying Catalogue. This is how Vision has performed against the relevant Standards:</b></p>
    <h2>Overarching Standards</h2>
<p>These Standards must be fully met by all Catalogue Solutions within an agreed timeframe.</p>

{% from 'details/macro.njk' import details %}

{{ details({
  "text": "Standards not fully met",
  "HTML": "
  <p>Any Standard that has not been fully met will have a status of ‘in progress’ and the Catalogue Solution will be subject to a Compliance Work-off Plan.</p>
    <p>This means the supplier has agreed to complete any outstanding work to meet the Standard within an agreed timeframe.</p>

    <p>Use the ‘view details’ link to find more information about any outstanding Work-off Plans.</p>
  "
}) }}


{{ table({
panel: false,
firstCellIsHeader: false,
head: [
  {
    text: "Standard"
  },
        {
    text: "Description"
  },
  {
    text: "Status"
  },
  {
  }
],
rows: [
        [
          {
            text: "Business Continuity and Disaster Recovery"
          },
          {
            html: 'Ensures that solutions are supported by robust business continuity plans and disaster recovery measures.  <a href="https://gpitbjss.atlassian.net/wiki/spaces/GPITF/pages/1391134058/Business+Continuity+and+Disaster+Recovery">More information about this Standard</a>'
          },
          {
            html: '<strong class="nhsuk-tag nhsuk-tag--green">Fully&nbsp;met</strong>'
          },
          {
          }
        ],
        [
          {
            text: "Clinical Safety"
          },
          {
            html: 'Supports the management of clinical risk and patient safety. <a href="https://gpitbjss.atlassian.net/wiki/spaces/GPITF/pages/1391134225/Clinical+Safety">More information about this Standard</a>'
          },
          {
            html: '<strong class="nhsuk-tag nhsuk-tag--green">Fully met</strong>'
          },
          {
          }
        ],
        [
          {
            text: "Commercial"
          },
          {
            html: 'Underpins all commercial activity relating to the Buying Catalogue by defining rules governing commercial relationships and setting out standards of behaviour. <a href="https://gpitbjss.atlassian.net/wiki/spaces/GPITF/pages/1391134121/Commercial">More information about this Standard</a>'
          },
          {
            html: '<strong class="nhsuk-tag nhsuk-tag--green">Fully met</strong>'
          },
          {
          }
        ],
        [
          {
          text: "Data Migration"
          },
          {
          html: 'Supports the safe and effective migration of data if a buyer changes from one solution to another. <a href="https://gpitbjss.atlassian.net/wiki/spaces/GPITF/pages/1391134456/Data+Migration">More information about this Standard</a>'
          },
          {
            html: '<strong class="nhsuk-tag nhsuk-tag--green">Fully met</strong>'
          },
          {
          }
        ],
        [
          {
            text: "Data Standards"
          },
          {
            html: 'Defines detailed technical standards for the storage, management and organisation of data and specifies standardised reference data, terminology and codes. <a href="https://gpitbjss.atlassian.net/wiki/spaces/GPITF/pages/1391134407/Data+Standards">More information about this Standard</a>'
          },
          {
            html: '<strong class="nhsuk-tag nhsuk-tag--green">Fully met</strong>'
          },
          {
          }
        ],
        [
          {
            text: "Hosting and Infrastructure"
          },
          {
            html: 'Supports best practices for infrastructure and hosting of systems. For example, ensuring systems are cost effective, secure and energy efficient. <a href="https://gpitbjss.atlassian.net/wiki/spaces/GPITF/pages/1391134324/Hosting+Infrastructure">More information about this Standard</a>'
          },
          {
            html: '<strong class="nhsuk-tag nhsuk-tag--green">Fully met</strong>'
          },
          {
          }
        ],
        [
          {
            text: "Information Governance"
          },
          {
            html: 'Supports the controls needed to ensure that sensitive personal data is kept confidential, is accurate and is available to authorised users when required. <a href="https://gpitbjss.atlassian.net/wiki/spaces/GPITF/pages/1391134230/Information+Governance">More information about this Standard</a>'
          },
          {
            html: '<strong class="nhsuk-tag nhsuk-tag--green">Fully met</strong>'
          },
          {
          }
        ],
        [
          {
            text: "Non-Functional Questions"
          },
          {
          html: 'Enables NHS Digital to assess the risk associated with the assessment of a solution against other overarching Standards. <a href="https://gpitbjss.atlassian.net/wiki/spaces/GPITF/pages/1569980472/Non-Functional+Questions">More information about this Standard</a>'
          },
          {
            html: '<strong class="nhsuk-tag nhsuk-tag--green">Fully met</strong>'
          },
          {
          }
        ],
        [
          {
          text: "Service Management"
          },
          {
          html: 'Supports suppliers in the delivery and management of services that enable their solutions to continue working. <a href="https://gpitbjss.atlassian.net/wiki/spaces/GPITF/pages/1391133802/Service+Management">More information about this Standard</a>'
        },
        {
        html: '<strong class="nhsuk-tag nhsuk-tag--yellow">In&nbsp;progress</strong>'
        },
        {
        html: '<a href="marketing-page-8-vision#servicemanagement">View&nbsp;details</a>'
        }
      ],
      [
          {
            text: "Testing"
          },
          {
            html: 'Ensures that a suppliers’ software delivery test processes are of sufficient quality and rigour. <a href="https://gpitbjss.atlassian.net/wiki/spaces/GPITF/pages/1391133583/Testing">More information about this Standard</a>'
          },
          {
            html: '<strong class="nhsuk-tag nhsuk-tag--green">Fully met</strong>'
          },
          {
          }
        ],
        [
          {
          text: "Training"
          },
          {
          html: 'Enables NHS Digital to assess the risk associated with the assessment of a solution against other overarching Standards. <a href="https://gpitbjss.atlassian.net/wiki/spaces/GPITF/pages/1391133846/Training">More information about this Standard</a>'
          },
          {
            html: '<strong class="nhsuk-tag nhsuk-tag--green">Fully met</strong>'
          },
          {
          }
        ]
      ]
}) }}

<h2>Interoperability Standards</h2>
<p>These Standards are relevant to solutions that meet particular Capabilities. </p>

{% from 'details/macro.njk' import details %}

{{ details({
  "text": "Standards not fully met",
  "HTML": "
  <p>Any Standard that has not been fully met will have a status of ‘in progress’ and the Catalogue Solution will be subject to a Compliance Work-off Plan.</p>
    <p>This means the supplier has agreed to complete any outstanding work to meet the Standard within an agreed timeframe.</p>

    <p>Use the ‘view details’ link to find more information about any outstanding Work-off Plans.</p>
  "
}) }}

{{ table({
panel: false,
firstCellIsHeader: false,
head: [
  {
    text: "Standard"
  },
        {
    text: "Description"
  },
  {
    text: "Status"
  },
  {
  }
],
rows: [
        [
          {
            text: "111"
          },
          {
            html: 'Supports the receiving and consuming of data sent by 111 provider systems for transfer of care to a GP practice. <a href="https://gpitbjss.atlassian.net/wiki/spaces/GPITF/pages/1391133945/111">More information about this Standard</a>'
          },
          {
            html: '<strong class="nhsuk-tag nhsuk-tag--green">Fully met</strong>'
          },
          {
          }
        ],
        [
          {
            text: "Digital Diagnostics and Pathology Messaging"
          },
          {
            html: 'Supports the transmission and validation of results data to GP systems where a test request has been placed with a laboratory. <a href="https://gpitbjss.atlassian.net/wiki/spaces/GPITF/pages/1391133752/Digital+Diagnostics+Pathology+Messaging">More information about this Standard</a>'
          },
          {
            html: '<strong class="nhsuk-tag nhsuk-tag--green">Fully met</strong>'
          },
          {
          }
        ],
        [
          {
            text: "e-Referrals Service (e-RS)"
          },
          {
            html: 'Supports electronic booking of hospital or clinic appointments, with a choice of place, date and time. <a href="https://gpitbjss.atlassian.net/wiki/spaces/GPITF/pages/1391133966/e-Referrals+Service+e-RS">More information about this Standard</a>'
          },
          {
            html: '<strong class="nhsuk-tag nhsuk-tag--green">Fully met</strong>'
          },
          {
          }
        ],
        [
          {
            text: "Electronic Prescription Service (EPS)"
          },
          {
            html: 'Supports the sending of prescriptions electronically to a dispenser, for example a pharmacy, of the patient\'s choice. <a href="https://gpitbjss.atlassian.net/wiki/spaces/GPITF/pages/1391133858/Electronic+Prescription+Service+EPS+-+Prescribing">More information about this Standard</a>'
          },
          {
            html: '<strong class="nhsuk-tag nhsuk-tag--green">Fully met</strong>'
          },
          {
          }
        ],
        [
          {
            text: "Electronic Yellow Card Reporting"
          },
          {
            html: 'Supports electronic reporting of suspected adverse drug reactions. <a href="https://gpitbjss.atlassian.net/wiki/spaces/GPITF/pages/1391134080/Electronic+Yellow+Card+Reporting">More information about this Standard</a>'
          },
          {
            html: '<strong class="nhsuk-tag nhsuk-tag--green">Fully met</strong>'
          },
          {
          }
        ],
        [
          {
            text: "eMED3 (Fit Notes)"
          },
          {
            html: 'Supports the creation of eMED3 data, its integration into a Patient Record, printing MED3 fit note certificates and the extraction of data to NHS Digital. <a href="https://gpitbjss.atlassian.net/wiki/spaces/GPITF/pages/1391134121/Commercial">More information about this Standard</a>'
          },
          {
            html: '<strong class="nhsuk-tag nhsuk-tag--green">Fully met</strong>'
          },
          {
          }
        ],
        [
          {
            text: "GP2GP"
          },
          {
            html: 'Supports the electronic transfer of a Patient Record when a patient moves from one GP practice to another. <a href="https://gpitbjss.atlassian.net/wiki/spaces/GPITF/pages/1391134336/GP2GP">More information about this Standard</a>'
          },
          {
          html: '<strong class="nhsuk-tag nhsuk-tag--yellow">In&nbsp;progress</strong>'
          },
          {
          html: '<a href="marketing-page-8-vision#gp2gp">View&nbsp;details</a>'
          }
        ],
        [
          {
            text: "GP Connect"
          },
          {
            html: 'Supports sharing of data held within GP IT solutions across health and social care organisations. <a href="https://gpitbjss.atlassian.net/wiki/spaces/GPITF/pages/1391133650/GP+Connect">More information about this Standard</a>'
          },
          {
          html: '<strong class="nhsuk-tag nhsuk-tag--yellow">In&nbsp;progress</strong>'
          },
          {
          html: '<a href="marketing-page-8-vision#gpconnectmessaging">View&nbsp;details</a>'
          }
        ],
        [
          {
            text: "GPES Data Extraction"
          },
          {
            html: 'Supports secure collection of information from GP practices and its delivery to approved organisations. <a href="https://gpitbjss.atlassian.net/wiki/spaces/GPITF/pages/1391134238/GPES+Data+Extraction">More information about this Standard</a>'
          },
          {
            html: '<strong class="nhsuk-tag nhsuk-tag--green">Fully met</strong>'
          },
          {
          }
        ],
        [
          {
            text: "IM1 Interface Mechanism"
          },
          {
            html: 'Supports the implementation of interfaces between solutions. <a href="https://gpitbjss.atlassian.net/wiki/spaces/GPITF/pages/1391133895/IM1+-+Interface+Mechanism">More information about this Standard</a>'
          },
          {
            html: '<strong class="nhsuk-tag nhsuk-tag--green">Fully met</strong>'
          },
          {
          }
        ],
        [
          {
            text: "NHAIS HA/GP Links"
          },
          {
            html: 'Supports the management of patient registration and demographic information with National Health Application and Infrastructure Services. <a href="https://gpitbjss.atlassian.net/wiki/spaces/GPITF/pages/1391133619/NHAIS+HA+GP+Links">More information about this Standard</a>'
          },
          {
            html: '<strong class="nhsuk-tag nhsuk-tag--green">Fully met</strong>'
          },
          {
          }
        ],
        [
          {
            text: "Personal Demographics Service (PDS)"
          },
          {
            html: 'Supports solution integration with the Personal Demographics Service which stores patient details. <a href="https://gpitbjss.atlassian.net/wiki/spaces/GPITF/pages/1391133999/Personal+Demographics+Service+PDS">More information about this Standard</a>'
          },
          {
            html: '<strong class="nhsuk-tag nhsuk-tag--green">Fully met</strong>'
          },
          {
          }
        ],
        [
          {
            text: "Screening Messaging"
          },
          {
            html: 'Supports the validation and transfer of screening result data to solutions. <a href="https://gpitbjss.atlassian.net/wiki/spaces/GPITF/pages/1391133789/Screening+messaging">More information about this Standard</a>'
          },
          {
            html: '<strong class="nhsuk-tag nhsuk-tag--green">Fully met</strong>'
          },
          {
          }
        ],
        [
          {
            text: "Summary Care Record (SCR)"
          },
          {
            html: 'Supports the management of Summary Care Record data and staff access to the data. <a href="https://gpitbjss.atlassian.net/wiki/spaces/GPITF/pages/1391133699/Summary+Care+Record+SCR">More information about this Standard</a>'
          },
          {
            html: '<strong class="nhsuk-tag nhsuk-tag--green">Fully met</strong>'
          },
          {
          }
        ]
      ]
}) }}



<h2>Capability Specific Standards</h2>
<p>These Standards must be fully met due to the Capabilities this Catalogue Solution has mapped to.</p>

{% from 'details/macro.njk' import details %}

{{ details({
  "text": "Standards not fully met",
  "HTML": "
  <p>Any Standard that has not been fully met will have a status of ‘in progress’ and the Catalogue Solution will be subject to a Compliance Work-off Plan.</p>
    <p>This means the supplier has agreed to complete any outstanding work to meet the Standard within an agreed timeframe.</p>

    <p>Use the ‘view details’ link to find more information about any outstanding Work-off Plans.</p>
  "
}) }}


{{ table({
panel: false,
firstCellIsHeader: false,
head: [
  {
    text: "Standard"
  },
        {
    text: "Description"
  },
  {
    text: "Status"
  },
  {
  }
],
rows: [
        [
          {
          text: "Appointments Management - GP"
          },
          {
          html: 'Supports the administration, scheduling, resourcing and reporting of appointments. <a href="https://gpitbjss.atlassian.net/wiki/spaces/GPITF/pages/1391134382/Appointments+Management+-+GP+-+Standard">More information about this Standard</a>'
          },
          {
          html: '<strong class="nhsuk-tag nhsuk-tag--yellow">In&nbsp;progress</strong>'
          },
          {
          html: '<a href="marketing-page-8-vision#appointments">View&nbsp;details</a>'
          }
        ],
        [
          {
          text: "Patient Information Maintenance"
          },
          {
          html: 'Supports the registration of patients and the maintenance of all their personal information. Enables the organisation and presentation of a comprehensive Patient Record. <a href="https://gpitbjss.atlassian.net/wiki/spaces/GPITF/pages/1391134401/Patient+Information+Maintenance+-+Standard">More information about this Standard</a>'
          },
          {
          html: '<strong class="nhsuk-tag nhsuk-tag--yellow">In&nbsp;progress</strong>'
          },
          {
          html: '<a href="marketing-page-8-vision#pim">View&nbsp;details</a>'
          }
        ]
      ]
}) }}


<p class="nhsuk-body-s nhsuk-u-secondary-text-color nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-0">
  Solution information last reviewed: 31 March 2020
</p>

  {% from 'pagination/macro.njk' import pagination %}

  {{ pagination({
    "previousUrl": "#",
    "previousPage": "Capabilities",
    "nextUrl": "#",
    "nextPage": "List price"
  }) }}
  </div>
</div>
</article>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
