{% extends 'layout.html' %}

{% block pageTitle %}
  Buying Catalogue
{% endblock %}

{% block header %}
  {% include "includes/header.html" %}
  {% endblock%}

  <!-- Breadcrumb goes inside the beforeContent block -->
  {% block beforeContent %}

    {% from 'breadcrumb/macro.njk' import breadcrumb %}

    {{ breadcrumb({
items: [{
    href: "/",
    text: "Home"
  },
  {
    href: "/catalogue-solution/",
    text: "Catalogue Solutions"
}],
  href: "/marketing-page/",
  text: "Caltech Web GP"
}) }}

  {% endblock %}

  <!-- Your page content goes inside the content block -->
  {% block content %}
    <a id="maincontent"></a>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h1>
          <span role="text">Additional Services
            <span class="nhsuk-caption-xl nhsuk-caption--bottom">
              <span class="nhsuk-u-visually-hidden">
                -
              </span>
              Caltech Web GP
            </span>
          </span>
        </h1>

        {% from 'contents-list/macro.njk' import contentsList %}

        {{ contentsList({
        items: [
          {
            href: "/marketing-page/",
            text: "Description"
          },
          {
            href: "marketing-page-2",
            text: "Features"
          },
          {
            href: "marketing-page-3",
            text: "Capabilities and epics"          },
          {
            href: "marketing-page-10",
            text: "Standards"
          },
          {
            href: "marketing-page-price",
            text: "List price"
          },
          {
            href: "marketing-page-additional",
            text: "Additional Services",
            current: "true"
          },
          {
            href: "marketing-page-associated",
            text: "Associated Services"
          },
          {
            href: "marketing-page-4",
            text: "Interoperability"
          },
          {
            href: "marketing-page-5",
            text: "Implementation timescales"
          },
          {
            href: "marketing-page-6",
            text: "Client application type"
          },
          {
            href: "marketing-page-7",
            text: "Hosting type"
          },
          {
            href: "marketing-page-dpi",
            text: "Data Processing Information"
          },
          {
            href: "marketing-page-service-level",
            text: "Service Level Agreement"
          },
          {
            href: "marketing-page-8",
            text: "Development plans"
          },
          {
            href: "marketing-page-9",
            text: "Supplier details"
          }
        ]
      }) }}
      </div>
    </div>

    <article>
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <p>
            <b>These are the Additional Services offered with this Catalogue Solution:</b>
          </p>

          {% from 'details/macro.njk' import details %}

          {{ details({
            "text": "What are Additional Services?",
            "classes": "nhsuk-u-margin-bottom-5",
            "HTML": "<p>Additional Services are add-ons that provide additional functionality to a Catalogue Solution for an extra cost. For example, enabling a Catalogue Solution to be used on a mobile device.</p>"
          }) }}

        </div>
      </div>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">

          <table role="table" class="nhsuk-table-responsive nhsuk-u-margin-bottom-5">
            <caption class="nhsuk-table__caption">Additional Services available at a tiered price</caption>
            <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <th role="columnheader" class="" scope="col">
                  Additional Service
                </th>
                <th role="columnheader" class="" scope="col">
                  Tier
                </th>
                <th role="columnheader" class="" scope="col">
                  Price per unit
                </th>
                <th role="columnheader" class="" scope="col">
                  Range
                </th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">

              <!--- Table row--->

              <tr role="row" class="nhsuk-table__row tr_no_border_bottom">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Additional Service
                  </span><a href="#assoc1">Enterprise Search and Reports</a>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Tier
                  </span>Tier 1
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Price per unit
                  </span>£0.1100 per patient per year
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Range
                  </span>1 to 89,999 patients
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row tr_no_border_bottom">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Additional Service
                  </span><span class="nhsuk-u-visually-hidden">Enterprise Search and Reports</span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Tier
                  </span>Tier 2
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Price per unit
                  </span>£0.0800 per patient per year
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Range
                  </span>90,000 to 899,999 patients
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Additional Service
                  </span><span class="nhsuk-u-visually-hidden">Enterprise Search and Reports</span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Tier
                  </span>Tier 3
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Price per unit
                  </span>£0.0520 per patient per year
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Range
                  </span>900,000+ patients
                </td>
              </tr>

              <!--- Table row--->

              <tr role="row" class="nhsuk-table__row tr_no_border_bottom">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Additional Service
                  </span><a href="#assoc2">Caltech Web Dispensing</a>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Tier
                  </span>Tier 1
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Price per unit
                  </span>£0.2500 per patient per year
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Range
                  </span>1 to 89,999 patients
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Additional Service
                  </span><span class="nhsuk-u-visually-hidden">Caltech Web Dispensing</span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Tier
                  </span>Tier 2
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Price per unit
                  </span>£0.2000 per patient per year
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Range
                  </span>90,000+ patients
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <p>The total price for tiered Additional Services will be calculated cumulatively.
          </p>

          {{ details({
            "text": "What does calculated cumulatively mean?",
            "classes": "nhsuk-u-margin-bottom-7",
            "HTML": "
            <p>The total cost will be determined by the tiers and the number of items you buy. For example:</p>
            <h2 class='nhsuk-heading-m'>Quantity</h2>
            <p>Service Recipient 1 needs 5 licences</p>
              <p>Service Recipient 2 needs 5 licences</p>
              <p>Service Recipient 3 needs 15 licences</p>
              <p>Total quantity: 25</p>
            <h2 class='nhsuk-heading-m'>Tier</h2>
            <p>Tier 1: 1-9 licences cost £5</p>
            <p>Tier 2: 10-19 licences cost £2.50</p>
            <p>Tier 3: 20+ licences cost £1</p>
            <h2 class='nhsuk-heading-m'>Price</h2>
            <p>Tier 1: 9 licences cost £45</p>
            <p>Tier 2: 9 licences cost £22.50</p>
            <p>Tier 3: 7 licences cost £7</p>
            <p>Total cost: £74.50"
}) }}

        </div>
      </div>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">

          <br />

          <table role="table" class="nhsuk-table-responsive nhsuk-u-margin-bottom-5">
            <caption class="nhsuk-table__caption">Additional Services available at a flat price</caption>
            <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <th role="columnheader" class="" scope="col">
                  Additional Service
                </th>
                <th role="columnheader" class="" scope="col">
                  Price per unit
                </th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">

              <!--- Table row--->

              <tr role="row" class="nhsuk-table__row tr_no_border_bottom">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Additional Service
                  </span><a href="#assoc2">Risk Stratification</a>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Price per unit
                  </span>£0.1100 per patient per year
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row tr_no_border_bottom">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Additional Service
                  </span><span class="nhsuk-u-visually-hidden">Enterprise Search and Reports</span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Price per unit
                  </span>£25 per day
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Additional Service
                  </span><span class="nhsuk-u-visually-hidden">Enterprise Search and Reports</span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Price per unit
                  </span>£500 per practice
                </td>
              </tr>

              <!--- Table row--->

              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Additional Service
                  </span><a href="#assoc3">Document Management</a>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Price per unit
                  </span>£0.1200 per patient
                </td>
              </tr>

              <!--- Table row--->

              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Additional Service
                  </span><a href="#assoc4">Automated Arrivals</a>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Price per unit
                  </span>£426.12 per item
                </td>
              </tr>

            </tbody>
          </table>

          <br/>

          <hr style="border-width: 4px;"/>

          <a id="assoc1"></a>
          <h3>Enterprise Search and Reports</h3>
          {% from "summary-list/macro.njk" import summaryList %}

          {{ summaryList({
        rows: [
          {
            key: {
              text: "Description"
            },
            value: {
              text: "Enterprise Search and Reports is the fast and efficient way to source, search and report on GP data in real time. With the ability to develop custom searches, you can measure against your key objective, including QOF, LESs/DESs, referral activity and immunisations."
            }
          },
          {
            key: {
              text: "Capabilities and Epics"
            },
            value: {
              html: '<a href="marketing-page-add-cap-epics">Check Capabilities and Epics met</a>'
            }
          },
          {
            key: {
              text: "Price type"
            },
            value: {
              text: 'Tiered'
            }
          },
          {
            key: {
              text: "Price"
            },
            value: {
              html: 'Tier 1: £0.1100 per patient per year
                    <br />
                    Tier 2: £0.0800 per patient per year
                    <br />
                    Tier 3: £0.0520 per patient per year'
            }
          },
          {
            key: {
              text: "Ranges"
            },
            value: {
              html: 'Tier 1: 1 to 89,999 patients<br />
                     Tier 2: 90,000 to 899,999 patients<br />
                     Tier 3: 900,000+ patients'
            }
          },
          {
            key: {
              text: "Unit defintion"
            },
            value: {
              html: '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>'
            }
          }
        ]
      }) }}

          <div data-test-id="back-to-top-link" class="bc-c-back-to-top ">
            <a class="nhsuk-back-to-top__link nhsuk-link--no-visited-state" href="#maincontent">
              <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" aria-hidden="true">
                <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
              </svg>
              Back to top
            </a>
          </div>
          <hr style="border-width: 4px;"/>

          <a id="assoc4"></a>
          <h3>Caltech Web Dispensing</h3>
          {{ summaryList({
        rows: [
          {
            key: {
              text: "Description"
            },
            value: {
              text: "Caltech Web provides integrated functionality to support dispensing doctors who provide primary healthcare to UK rural patients. This enables dispensing GP practices to provide access to medicines and general healthcare under one roof."
            }
          },
          {
            key: {
              text: "Capabilities and Epics"
            },
            value: {
              html: '<a href="marketing-page-add-cap-epics">Check Capabilities and Epics met</a>'
            }
          },
          {
            key: {
              text: "Price type"
            },
            value: {
              text: 'Tiered'
            }
          },
          {
            key: {
              text: "Price"
            },
            value: {
              html: "Tier 1: £0.2500 per patient
                    <br />
                    Tier 2: £0.2000 per patient"
            }
          },
          {
            key: {
              text: "Ranges"
            },
            value: {
              html: 'Tier 1: 1 to 89,999 patients<br />
                     Tier 2: 90,000+ patients'
            }
          },
          {
            key: {
              text: "Unit defintion"
            },
            value: {
              html: '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>'
            }
          }
        ]
      }) }}

          <div data-test-id="back-to-top-link" class="bc-c-back-to-top ">
            <a class="nhsuk-back-to-top__link nhsuk-link--no-visited-state" href="#maincontent">
              <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" aria-hidden="true">
                <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
              </svg>
              Back to top
            </a>
          </div>
          <hr style="border-width: 4px;"/>

          <a id="assoc2"></a>
          <h3>Risk Stratification</h3>
          {{ summaryList({
        rows: [
          {
            key: {
              text: "Description"
            },
            value: {
              text: "Our risk stratification tool integrates with Caltech Web to support you with early identification of vulnerable and at-risk patients. Searching across multiple risk factors within the patient’s record, it produces an individual risk score"
            }
          },
          {
            key: {
              text: "Capabilities and Epics"
            },
            value: {
              html: '<a href="marketing-page-add-cap-epics">Check Capabilities and Epics met</a>'
            }
          },
          {
            key: {
              text: "Price type"
            },
            value: {
              text: 'Flat'
            }
          },
          {
            key: {
              text: "Price"
            },
            value: {
              html: "£0.06 per patient<br />
                    <strong>Or</strong><br />
                    £25 per day<br />
                    <strong>Or</strong><br />
                    £500 per practice"
            }
          },
          {
            key: {
              text: "Unit defintion"
            },
            value: {
              html: '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>'
            }
          }
        ]
      }) }}

          <div data-test-id="back-to-top-link" class="bc-c-back-to-top ">
            <a class="nhsuk-back-to-top__link nhsuk-link--no-visited-state" href="#maincontent">
              <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" aria-hidden="true">
                <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
              </svg>
              Back to top
            </a>
          </div>
          <hr style="border-width: 4px;"/>

          <a id="assoc3"></a>
          <h3>Document Management</h3>
          {{ summaryList({
        rows: [
          {
            key: {
              text: "Description"
            },
            value: {
              text: "Caltech Web Document Management helps you workflow both scanned and electronically received documents in your practice, such as Out of Hours notifications, Hospital Discharge letters and NHS111 notifications. Assign different kinds of tasks to different users or teams, so you can work more efficiently."
            }
          },
          {
            key: {
              text: "Capabilities and Epics"
            },
            value: {
              html: '<a href="marketing-page-add-cap-epics">Check Capabilities and Epics met</a>'
            }
          },
          {
            key: {
              text: "Price type"
            },
            value: {
              text: 'Flat'
            }
          },
          {
            key: {
              text: "Price"
            },
            value: {
              text: "£0.12 per patient"
            }
          },
          {
            key: {
              text: "Unit defintion"
            },
            value: {
              html: '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>'
            }
          }
        ]
      }) }}

          <div data-test-id="back-to-top-link" class="bc-c-back-to-top ">
            <a class="nhsuk-back-to-top__link nhsuk-link--no-visited-state" href="#maincontent">
              <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" aria-hidden="true">
                <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
              </svg>
              Back to top
            </a>
          </div>
          <hr style="border-width: 4px;"/>

          <a id="assoc5"></a>
          <h3>Automated Arrivals</h3>
          {{ summaryList({
        rows: [
          {
            key: {
              text: "Description"
            },
            value: {
              text: "Reduce pressure on reception staff and manage the flow of patients with a simple to use touch screen kiosk for patients to confirm their arrival. Practices can use their kiosks to offer bookable appointments and show messages and instructions too, all of which can be controlled via a central portal."
            }
          },
          {
            key: {
              text: "Capabilities and Epics"
            },
            value: {
              html: '<a href="marketing-page-add-cap-epics">Check Capabilities and Epics met</a>'
            }
          },
          {
            key: {
              text: "Price type"
            },
            value: {
              text: 'Flat'
            }
          },
          {
            key: {
              text: "Price"
            },
            value: {
              text: "£426.12 per item"
            }
          },
          {
            key: {
              text: "Unit defintion"
            },
            value: {
              html: '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>'
            }
          }
        ]
      }) }}

          <div data-test-id="back-to-top-link" class="bc-c-back-to-top ">
            <a class="nhsuk-back-to-top__link nhsuk-link--no-visited-state" href="#maincontent">
              <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" aria-hidden="true">
                <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
              </svg>
              Back to top
            </a>
          </div>

          <p class="nhsuk-body-s nhsuk-u-secondary-text-color nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-0">
            Solution information last reviewed: 31 March 2020
          </p>

          {% from 'pagination/macro.njk' import pagination %}

          {{ pagination({
    "previousUrl": "marketing-page-price",
    "previousPage": "List price",
    "nextUrl": "marketing-page-associated",
    "nextPage": "Associated Services"
  }) }}
        </div>
      </div>
    </article>
  {% endblock %}

  {% block footer %}
    {% include "includes/footer.html" %}
  {% endblock %}
