{% extends 'layout.html' %}

{% block pageTitle %}
  Buying Catalogue
{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% endblock%}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
{% block content %}
{% from 'back-link/macro.njk' import backLink %}

{{ backLink({
  "href": "marketing-page-associated",
  "text": "Go back"
}) }}


<article>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1>
        <span role="text">Engineering
          <span class="nhsuk-caption-xl nhsuk-caption--bottom">
            <span class="nhsuk-u-visually-hidden"> - </span>
            Caltech Web GP
          </span>
        </span>
      </h1>

      <h2>Pricing</h2>

      <h3>Tiered prices for this Associated Service</h3>

      {{ table({
        responsive: true,
        panel: false,
        tableClasses: "nhsuk-u-margin-bottom-5",
        caption: "Tiered pricing structure 1",
        firstCellIsHeader: false,
        head: [
          {
            text: "Tier"
          },
          {
            text: "Price per unit"
          },
          {
            text: "Range"
          }
        ],
        rows: [
          [
            {
              header: "Tier",
              text: "Tier 1"
            },
            {
              header: "Price per unit",
              text: "£0.0090 per SMS fragment"
            },
            {
              header: "Range",
              text: "1 to 89,999 fragments"
            }
          ],
          [
            {
              header: "Tier",
              text: "Tier 2"
            },
            {
              header: "Price per unit",
              text: "£0.0050 per SMS fragment"
            },
            {
              header: "Range",
              text: "90,000 to 899,999 fragments"
            }
          ],
          [
            {
              header: "Tier",
              text: "Tier 3"
            },
            {
              header: "Price per unit",
              text: "£0.0030 per SMS fragment"
            },
            {
              header: "Range",
              text: "900,000+ fragments"
            }
          ]
        ]
      }) }}

      <h3 class="nhsuk-heading-xs">Unit definitions for this price</h3>

      <p class="nhsuk-u-margin-bottom-9 nhsuk-u-reading-width">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>


      {{ table({
        responsive: true,
        panel: false,
        tableClasses: "nhsuk-u-margin-bottom-5",
        caption: "Tiered pricing structure 2",
        firstCellIsHeader: false,
        head: [
          {
            text: "Tier"
          },
          {
            text: "Price per unit"
          },
          {
            text: "Range"
          }
        ],
        rows: [
          [
            {
              header: "Tier",
              text: "Tier 1"
            },
            {
              header: "Price per unit",
              text: "£0.0090 per SMS fragment"
            },
            {
              header: "Range",
              text: "1 to 99,999 fragments"
            }
          ],
          [
            {
              header: "Tier",
              text: "Tier 2"
            },
            {
              header: "Price per unit",
              text: "£0.0060 per SMS fragment"
            },
            {
              header: "Range",
              text: "100,000 to 499,999 fragments"
            }
          ],
          [
            {
              header: "Tier",
              text: "Tier 3"
            },
            {
              header: "Price per unit",
              text: "£0.0040 per SMS fragment"
            },
            {
              header: "Range",
              text: "500,000+ fragments"
            }
          ]
        ]
      }) }}

      <h3 class="nhsuk-heading-xs">Unit definitions for this price</h3>

      <p class="nhsuk-u-margin-bottom-9 nhsuk-u-reading-width">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

      <p>The total price for tiered Associated Services will be calculated cumulatively.
      </p>

      {{ details({
        "text": "What does calculated cumulatively mean?",
        "classes": "nhsuk-u-margin-bottom-7",
        "HTML": "
        <p>The total cost will be determined by the tiers and the number of items you buy. For example:</p>
        <h2 class='nhsuk-heading-m'>Quantity</h2>
        <p>Service Recipient 1 needs 5 licences</p>
          <p>Service Recipient 2 needs 5 licences</p>
          <p>Service Recipient 3 needs 15 licences</p>
          <p>Total quantity: 25</p>
        <h2 class='nhsuk-heading-m'>Tier</h2>
        <p>Tier 1: 1-9 licences cost £5</p>
        <p>Tier 2: 10-19 licences cost £2.50</p>
        <p>Tier 3: 20+ licences cost £1</p>
        <h2 class='nhsuk-heading-m'>Price</h2>
        <p>Tier 1: 9 licences cost £45</p>
        <p>Tier 2: 9 licences cost £22.50</p>
        <p>Tier 3: 7 licences cost £7</p>
        <p>Total cost: £74.50"
      }) }}

      <hr style="border-width: 4px;"/>

      <h3>Flat prices for this Associated Service</h3>

      {{ table({
        responsive: true,
        panel: false,
        tableClasses: "nhsuk-u-margin-bottom-5",
        caption: "Flat price per Service Recipient 1",
        firstCellIsHeader: false,
        head: [
          {
            text: "Price"
          },
          {
            text: "Unit"
          }
        ],
        rows: [
          [
            {
              header: "Price",
              text: "£0.1100"
            },
            {
              header: "Unit",
              text: "per patient per year"
            }
          ]
        ]
      }) }}

      <h3 class="nhsuk-heading-xs">Unit definitions for this price</h3>

      <p class="nhsuk-u-margin-bottom-9 nhsuk-u-reading-width">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

      {{ table({
        responsive: true,
        panel: false,
        tableClasses: "nhsuk-u-margin-bottom-5",
        caption: "Flat price per day 1",
        firstCellIsHeader: false,
        head: [
          {
            text: "Price"
          },
          {
            text: "Unit"
          }
        ],
        rows: [
          [
            {
              header: "Price",
              text: "£25.00"
            },
            {
              header: "Unit",
              text: "per day"
            }
          ]
        ]
      }) }}

      <h3 class="nhsuk-heading-xs">Unit definitions for this price</h3>

      <p class="nhsuk-u-margin-bottom-9 nhsuk-u-reading-width">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>


      {{ table({
        responsive: true,
        panel: false,
        tableClasses: "nhsuk-u-margin-bottom-5",
        caption: "Flat price per practice 1",
        firstCellIsHeader: false,
        head: [
          {
            text: "Price"
          },
          {
            text: "Unit"
          }
        ],
        rows: [
          [
            {
              header: "Price",
              text: "£500"
            },
            {
              header: "Unit",
              text: "per practice"
            }
          ]
        ]
      }) }}

      <h3 class="nhsuk-heading-xs">Unit definitions for this price</h3>

      <p class="nhsuk-u-margin-bottom-9 nhsuk-u-reading-width">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

      <p class="nhsuk-body-s nhsuk-u-secondary-text-color nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-0">
        Solution information last reviewed: 31 March 2020
      </p>

  </div>
</div>
</article>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
