{% extends 'layout.html' %}

{% block pageTitle %}
  Shortlist rationale

{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% endblock%}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}

{% from 'breadcrumb/macro.njk' import breadcrumb %}

{{ breadcrumb({
  items: [{
      href: "/",
      text: "Home"
    },
    {
      href: "solution-qdoctor",
      text: "Q Doctor"
    },
    {
      href: "list-select-shortlist",
      text: "Select shortlist"
    },
    {
      href: "list-add-name",
      text: "Shortlist name"
    },
    {
      href: "list-your-shortlists-2",
      text: "Your shortlists"
    },
    {
      href: "list-select-shortlist",
      text: "Select shortlist"
    },
    {
      href: "list-add-rationale",
      text: "Add rationale"
  }]
  }) }}

{% endblock %}

<!-- Your page content goes inside the content block -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1>Add rationale for on catalogue competition
      <span class="nhsuk-caption-xl nhsuk-caption--bottom">
        <span class="nhsuk-u-visually-hidden"> - </span>
        Q Doctor
      </span>
    </h1>
  </div>
</div>

<p class="nhsuk-lede-text">Add a rationale for the solution that you have chosen.</p>

<!-- <table class="nhsuk-table">
  <caption class="nhsuk-table__caption">Existing shortlist 2</caption>
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" class="" scope="col">
        Catalogue Solution
      </th>
      <th role="columnheader" class="" scope="col">
        Date added
      </th> -->
      <!-- <th role="columnheader" class="" scope="col">
        Action
      </th> -->
    <!-- </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">Q Doctor</td>
      <td class="nhsuk-table__cell ">9 May 2022</td> -->
      <!-- <td class="nhsuk-table__cell "><a href="hjhj">Delete</a></td> -->
    <!-- </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">Docman 7</td>
      <td class="nhsuk-table__cell ">10 May 2022</td> -->
      <!-- <td class="nhsuk-table__cell "><a href="hjhj">Delete</a></td> -->
    <!-- </tr>
  </tbody>
</table> -->

<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="example" style="font-weight: bold; font-size: x-large;" >
    Add a rationale
  </label>
  <div class="nhsuk-hint" id="example-hint">
    Write a justification that describes how that Catalogue Solution meets your requirement, 
    based on the information about that Catalogue Solution, and any Catalogue Solutions disregarded, 
    as listed on the Buying Catalogue.
  </div>
  <textarea class="nhsuk-textarea" id="example" name="example" rows="5" aria-describedby="example-hint"></textarea>
</div>
<p>You have 5000 characters remaining</p>

    <br /><br />

    <form action="order-5-4-1-solutions">
      {{ button({
        "text": "Continue"
      }) }}
    </form>

    
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
