{% extends 'layout.html' %}

{% block pageTitle %}
  Shortlist name
{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% endblock%}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}

{% from 'breadcrumb/macro.njk' import breadcrumb %}

{{ breadcrumb({
  items: [{
      href: "/",
      text: "Home"
    },
    {
      href: "/order-v2/filter/v5/catalogue-solutions-start",
      text: "Q Doctor"
    },
    {
      href: "/order-v2/filter/v5/catalogue-solutions-start",
      text: "Select shortlist"
    },
    {
      href: "/order-v2/filter/v5/catalogue-solutions-start",
      text: "Shortlist name"
  }]
  }) }}

{% endblock %}


<!-- Your page content goes inside the content block -->
{% block content %}
<style>
  .column-right-margin {
    border-right: #666 solid 1px;
  }
</style>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>
      <span role="text">Name your shortlist
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">
          <span class="nhsuk-u-visually-hidden"> - </span>
          
        </span>
      </span>
    </h1>
    <p class="nhsuk-lede-text">Give a memorable name to your shortlist.</p>

    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="example">
        Shortlist name
      </label>
      <input class="nhsuk-input" id="example" name="example" type="text">
    </div>
        <br />
    <form action="list-existing-3">
      {{ button({
        "text": "Save and continue"
      }) }}
      </form>
        
        
        
            </div>
          </div>
        
          <br /><br />
        {% endblock %}
        
        {% block footer %}
        {% include "includes/footer.html" %}
        {% endblock %}
        