{% extends 'layout.html' %}

{% block pageTitle %}
  Review your shortlist
{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% endblock%}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}

{% from 'breadcrumb/macro.njk' import breadcrumb %}

{{ breadcrumb({
items: [{
    href: "/",
    text: "Home"
  },
  {
    href: "/order-v2/filter/v5/catalogue-solutions-start",
    text: "Catalogue Solutions"
  },
  {
    href: "/order-v2/filter/v5/filter-framework",
    text: "Frameworks"
}]
}) }}

{% endblock %}

<!-- Your page content goes inside the content block -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <h1>Review your shortlist</h1>
  </div>
</div>

<p class="nhsuk-lede-text">Your chosen Catalogue Solution has been added to the shortlist below. Review the shortlist and continue.</p>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    
    <table class="nhsuk-table">
      <caption class="nhsuk-table__caption">Existing shortlist 3</caption>
      <thead role="rowgroup" class="nhsuk-table__head">
        <tr role="row">
          <th role="columnheader" class="" scope="col">
            Catalogue Solution
          </th>
          <th role="columnheader" class="" scope="col">
            Date added
          </th>
          <th role="columnheader" class="" scope="col">
            Action
          </th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Q Doctor</td>
          <td class="nhsuk-table__cell ">22 June 2022</td>
          <td class="nhsuk-table__cell "><a href="hjhj">Delete</a></td>
        </tr>
        
      </tbody>
    </table>

    <br />

    <form action="list-your-shortlists-2">
      {{ button({
        "text": "Continue"
      }) }}
    </form>

    
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
