{% extends 'layout.html' %}

{% block pageTitle %}
  Review Planned Delivery Dates
{% endblock %}

{% block header %}
{% include "includes/header-proxy.html" %}
{% endblock%}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}

{% endblock %}
<!-- Your page content goes inside the content block -->
{% block content %}
{% from 'back-link/macro.njk' import backLink %}

{{ backLink({
  "href": "/global-service-reciepients/planned-delivery-date",
  "text": "Go back"
}) }}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1>Review planned delivery dates<span class="nhsuk-caption-xl nhsuk-caption--bottom">
        <span class="nhsuk-u-visually-hidden"> - </span>
        Order C000001-01
      </span></h1>
      <p class="nhsuk-lede-text">Make sure the correct planned delivery dates have been applied for each of your Service Recipients.</p>
      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Catalogue Solution
          </dt>
          <dd class="nhsuk-summary-list__value">
            EMIS Web GP
          </dd>
      
       
      
        </div>
      
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Additional Services
          </dt>
          <dd class="nhsuk-summary-list__value">
           <ul class="nhsuk-list">
            <li>EMIS Mobile</li>
            <li>EMIS Web Dispensing</li>
           </ul>
          </dd>
        </div>    
      </dl>
      

      {# <p style="font-size: 24px;"><b>Planned delivery date for the majority of Service Recipients:</b> 1 September 2022 &nbsp;&nbsp;<a href="3a-planned-delivery-date">Edit</a></p> #}

      {# <hr /> #}

    </div>
</div>


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    

    <details class="nhsuk-details nhsuk-expander" open="">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          <b>Planned {% if data['datesEdited'] == true %}majority{%endif%} delivery date: </b>29 September 2022
        </span>
        <span style="float:right;">
          <a href="planned-delivery-date" class="nhsuk-link">Edit {% if data['datesEdited'] == true %}majority{%endif%} date</a>
        <span>
      </span></span></summary>
      <div class="nhsuk-details__text">
        
  <br>
  
  
      
    <table role="table" class="nhsuk-table-responsive">
      <thead role="rowgroup" class="nhsuk-table__head">
      <tr role="row">
          <th role="columnheader" class="" scope="col">
            Planned delivery date
          </th>
          <th role="columnheader" class="" scope="col">
            Service Recipients
          </th>
          <th role="columnheader" class="" scope="col">
            ODS code
          </th>
      </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>29 September 2022
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>ASSURA ER LLP HULL DERMATOLOGY
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>Y03508
              </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>29 September 2022
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>BEVAN LIMITED
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>Y03507
              </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>29 September 2022
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>DERMATOLOGY CLINIC GPSI
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>Y00894
              </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>29 September 2022
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>HAXBY GROUP HULL
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>Y02747
              </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>29 September 2022
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>HULL CCG VOCARENHS111 OOH
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>Y06959
              </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>29 September 2022
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>JAMES ALEXANDER FAMILY PRACTICE
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>B81112
              </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>29th September 2022
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>LAURBEL SURGERY
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>B81635
              </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>29 September 2022
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>PAIN MANAGEMENT GPSI
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>Y01218
              </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>29 September 2022
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>ST ANDREWS SURGERY
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>B81027
              </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>29 September 2022
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>SYDENHAM GROUP PRACTICE
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>B81058
              </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>29 September 2022
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>THE AVENUES MEDICAL CENTRE
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>B81035
              </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>29 September 2022
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>THE BRIDGE GROUP PRACTICE
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>B81046
              </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>29 September 2022
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>THE SUTTON MANOR SURGERY
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>B81020
              </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>29 September 2022
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>WILBERFORCE SURGERY
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>B81032
              </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>29 September 2022
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>WOLSELEY MEDICAL CENTRE
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>B81047
              </td>
        </tr>
      </tbody>
    </table>
  
      </div>
    </details>

    {% if data['datesEdited'] == true %}

    <details class="nhsuk-details nhsuk-expander" open="">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          <b>Other planned delivery dates</b>
        </span>
        <span style="float:right;">
          <a href="planned-delivery-dates-emis" class="nhsuk-link">Edit dates</a>
        <span>
      </span></span></summary>
      <div class="nhsuk-details__text">
        <table role="table" class="nhsuk-table-responsive">
          <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Planned date
            </th>
              <th role="columnheader" class="" scope="col">
                Service Recipients
              </th>
              <th role="columnheader" class="" scope="col">
                ODS code
              </th>
          </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>6 September 2022
              </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading"> </span>ASSURA ER LLP HULL DERMATOLOGY
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading"> </span>Y03508
                  </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>6 September 2022
              </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading"> </span>BEVAN LIMITED
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading"> </span>Y03507
                  </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>6 September 2022
              </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading"> </span>DERMATOLOGY CLINIC GPSI
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading"> </span>Y00894
                  </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>6 September 2022
              </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading"> </span>HAXBY GROUP HULL
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading"> </span>Y02747
                  </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>6 September 2022
              </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading"> </span>HULL CCG VOCARENHS111 OOH
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading"> </span>Y06959
                  </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>6 September 2022
              </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading"> </span>JAMES ALEXANDER FAMILY PRACTICE
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading"> </span>B81112
                  </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>6 September 2022
              </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading"> </span>LAURBEL SURGERY
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading"> </span>B81635
                  </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>6 September 2022
              </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading"> </span>PAIN MANAGEMENT GPSI
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading"> </span>Y01218
                  </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>6 September 2022
              </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading"> </span>ST ANDREWS SURGERY
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading"> </span>B81027
                  </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"> </span>6 September 2022
              </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading"> </span>WOLSELEY MEDICAL CENTRE
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading"> </span>B81047
                  </td>
            </tr>
          </tbody>
        </table>
      </div>
    </details>


    {% endif %}

{# {% include "contracts-testing/planned-delivery-date-mvp/7a-review-planned-delivery-dates-accordions-new.html" %} #}


<br />

<div>
          <div style="display:inline-block;">
            <form method="post" action="order-4-summary-pdd-completed">
              {% from 'button/macro.njk' import button %}

              {{ button({
                "text": "Continue"
              }) }}
            </form>
          </div>
        </div>

    </div>
  </div>

  <br /><br />
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
