{% extends 'layout.html' %}

{% block pageTitle %}
  Buying Catalogue
{% endblock %}

{% block header %}
{% include "includes/header-proxy.html" %}
{% endblock%}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}

{% endblock %}
<!-- Your page content goes inside the content block -->
{% block content %}
<!--
Radio 1: order-2-2-triage-under40
Radio 2: order-2-2-triage-40-250
Radio 3: order-2-2-triage-over250
Radio 4: order-2-4-triage-instructions
-->

<script>
  function sendForm() {
    var opt1 = document.getElementById("bespoke-implementation-1").checked ? document.getElementById("bespoke-implementation-1").value : "";
    var opt2 = document.getElementById("bespoke-implementation-2").checked ? document.getElementById("bespoke-implementation-2").value : "";

    if(opt1=="yes") {
        document.location.href = "implementation-hub";
    }
    else if(opt2=="no") {
        document.location.href = "implementation-plan-standard";
    }
  }
</script>
{% from 'back-link/macro.njk' import backLink %}

{{ backLink({
  "href": "../order-4-summary-security-completed",
  "text": "Go back"
}) }}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Implementation plan
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">
          <span class="nhsuk-u-visually-hidden">
            -
          </span>
          Order C000001-01
        </span>
      </h1>

      <p class="nhsuk-lede-text">Select if you’re using the standard implementation plan or have agreed a bespoke implementation plan with the supplier.</p>

      {{ details({
        "text": "What is the standard implementation plan?",
        "HTML": "
          <p>The typical timescales for the implementation of Caltech Web are around 12 weeks depending on the patient list size.</p>
          <p>An implementation plan is provided and agreed at the beginning of the process outlining all key dates and activities. Where required these dates are negotiable to fit the needs of the customer.</p>
          <h3 class='nhsuk-heading-s'>Key activities</h3>
          <ul>
              <li>Customer supplied with high level implementation plan and welcome pack</li>
              <li>Engineer visit to perform install of client software and check connectivity</li>
              <li>Customer supplied test data loaded into a test system and made available</li>
              <li>Learning needs analysis performed & agreed training plan for go-live</li>
              <li>On site visit to train the customer how to check and cleanse their data</li>
              <li>Any defects and corrections completed on migrated data</li>
              <li>Practice sign-off of test data</li>
              <li>Agreed training provide pre and post go-live in line with results from LNA</li>
              <li>Go-live day, trainers and engineer onsite to support a smooth transition</li>
          </ul>
        "
      }) }}

      {{ radios({
        "idPrefix": "bespoke-implementation",
        "name": "bespoke-implementation-radios",
        "fieldset": {
          "legend": {
            "text": "Have you agreed a bespoke implementation plan?",
            "classes": "nhsuk-fieldset__legend--m"
          }
        },
        "items": [
          {
            "value": "yes",
            "text": "Yes"
          },
          {
            "value": "no",
            "text": "No"
          }
        ]
      }) }}

      {{ button({
        "text": "Save and continue",
        "href":"javascript: sendForm();"
      }) }}

    </div>
  </div>

  <br /><br />
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
