{% extends 'layout.html' %}

{% block pageTitle %}
  Buying Catalogue
{% endblock %}

{% block header %}
  {% include "includes/header-proxy.html" %}
  {% endblock%}

  <!-- Breadcrumb goes inside the beforeContent block -->
  {% block beforeContent %}{% endblock %}
  <!-- Your page content goes inside the content block -->
  {% block content %}

  <script>
    function sendForm() {
      var opt1 = document.getElementById("milestone-billing-1").checked ? document.getElementById("milestone-billing-1").value : "";
      var opt2 = document.getElementById("milestone-billing-2").checked ? document.getElementById("milestone-billing-2").value : "";

      if(opt1=="yes") {
          document.location.href = "associated-service-billing-1";
      }
      else if(opt2=="no") {
          document.location.href = "associated-service-billing-no";
      }
    }
  </script>

    {% from 'back-link/macro.njk' import backLink %}

    {{ backLink({
      "href": "../order-4-summary-implementation-completed",
      "text": "Go back"
    }) }}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <h1>Associated Service billing
          <span class="nhsuk-caption-xl nhsuk-caption--bottom">
            <span class="nhsuk-u-visually-hidden">
              -
            </span>
            Order C000001-01
          </span>
        </h1>

        <p class="nhsuk-lede-text">Select how you’d like to be billed for your Associated Services.</p>

        {{ radios({
          "idPrefix": "milestone-billing",
          "name": "milestone-billing-radios",
          "fieldset": {
            "legend": {
              "text": "Do you require any Associated Services to be billed once a milestone is achieved?",
              "classes": "nhsuk-fieldset__legend--m"
            }
  },
  "hint": {
    "text": "You can bill against milestone achievement or choose to be billed on invoice."
  },
          "items": [
          {
            "value": "yes",
            "text": "Yes"
          },
          {
            "value": "no",
            "text": "No"
          }
          ]
        }) }}

        {{ button({
          "text": "Save and continue",
          "href":"javascript: sendForm();"
        }) }}

      </div>
    </div>

    <br/><br/>
  {% endblock %}

  {% block footer %}
    {% include "includes/footer.html" %}
  {% endblock %}
