{{ checkboxes({
  idPrefix: "nationality",
  name: "nationality",
  fieldset: {
    legend: {
      text: "Foundation Solutions",
      isPageHeading: true,
      classes: "nhsuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "Find solutions that meet the 6 Foundation Capabilities which are the minimum requirement to enable a GP practice to operate."
  },
  items: [
    {
      value: "other",
      text: "Foundation Capabilities"
    }
  ]
}) }}

<!-- <div class="nhsuk-grid-column-full view-results">
  <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
    <path fill="#005eb8" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
  </svg>
  <a href="#header-navigation">
     Back to top
  </a>
</div> -->

{{ checkboxes({
  idPrefix: "nationality",
  name: "nationality",
  fieldset: {
    legend: {
      text: "Appointments",
      isPageHeading: true,
      classes: "nhsuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "Find solutions that enable patients and staff to efficiently manage time and resources."
  },
  items: [
    {
      value: "british",
      text: "Appointments Management – Citizen (4)"
    },
    {
      value: "irish",
      text: "Appointments Management – COVID-19 Vaccinations (2)"
    },
    {
      value: "other",
      text: "Appointments Management – GP (4)"
    }
  ]
}) }}

<!-- <div class="nhsuk-grid-column-full view-results">
  <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
    <path fill="#005eb8" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
  </svg>
  <a href="#header-navigation">
     Back to top
  </a>
</div> -->

{{ checkboxes({
  idPrefix: "nationality",
  name: "nationality",
  fieldset: {
    legend: {
      text: "Consultations and communication",
      isPageHeading: true,
      classes: "nhsuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "Find solutions that support the delivery of remote consultations and digital care."
  },
  items: [
    {
      value: "british",
      text: "Clinical Decision Support (3)"
    },
    {
      value: "irish",
      text: "Communicate With Practice – Citizen (5)"
    },
    {
      value: "other",
      text: "Communication Managemen (2)"
    },
    {
      value: "other",
      text: "e-Consultations: Patient/Service User to Professional (1)"
    },
    {
      value: "other",
      text: "e-Consultations: Professional to Professional (3)"
    },
    {
      value: "other",
      text: "Online Consultation (7)"
    },
    {
      value: "other",
      text: "Recording Consultations (2)"
    },
    {
      value: "other",
      text: "Telecare (3)"
    },
    {
      value: "other",
      text: "Telehealth (2)"
    },
    {
      value: "other",
      text: "Video Consultation (2)"
    }
  ]
}) }}

<!-- <div class="nhsuk-grid-column-full view-results">
  <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
    <path fill="#005eb8" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
  </svg>
  <a href="#header-navigation">
     Back to top
  </a>
</div> -->

{{ checkboxes({
  idPrefix: "nationality",
  name: "nationality",
  fieldset: {
    legend: {
      text: "Cross-organisation practice management",
      isPageHeading: true,
      classes: "nhsuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "Find solutions that help improve how data is shared across care settings."
  },
  items: [
    {
      value: "british",
      text: "Cross-organisation Appointment Booking (2)"
    },
    {
      value: "irish",
      text: "Cross-organisation Workflow Tools (4)"
    },
    {
      value: "other",
      text: "Cross-organisation Workforce Management (5)"
    },
    {
      value: "irish",
      text: "Digital Diagnostics (2)"
    },
    {
      value: "other",
      text: "Unified Care Record (1)"
    }
  ]
}) }}

<!-- <div class="nhsuk-grid-column-full view-results">
  <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
    <path fill="#005eb8" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
  </svg>
  <a href="#header-navigation">
     Back to top
  </a>
</div> -->

{{ checkboxes({
  idPrefix: "nationality",
  name: "nationality",
  fieldset: {
    legend: {
      text: "Document and artefact management",
      isPageHeading: true,
      classes: "nhsuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "Find solutions that support the management of electronic documents."
  },
  items: [
    {
      value: "british",
      text: "Document Management (4)"
    },
    {
      value: "irish",
      text: "Scanning (2)"
    },
    {
      value: "other",
      text: "Unstructured Data Extraction (4)"
    }
  ]
}) }}

<!-- <div class="nhsuk-grid-column-full view-results">
  <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
    <path fill="#005eb8" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
  </svg>
  <a href="#header-navigation">
     Back to top
  </a>
</div> -->

{{ checkboxes({
  idPrefix: "nationality",
  name: "nationality",
  fieldset: {
    legend: {
      text: "Medicines management",
      isPageHeading: true,
      classes: "nhsuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "Find solutions that allow the safe prescribing and dispensing of medicines."
  },
  items: [
    {
      value: "british",
      text: "Dispensing (4)"
    },
    {
      value: "irish",
      text: "Medicines Optimisation (4)"
    },
    {
      value: "other",
      text: "Medicines Verification (4)"
    },
    {
      value: "irish",
      text: "Prescribing (2)"
    },
    {
      value: "other",
      text: "Prescription Ordering – Citizen (3)"
    },
    {
      value: "other",
      text: "Social Prescribing (4)"
    }
  ]
}) }}

<!-- <div class="nhsuk-grid-column-full view-results">
  <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
    <path fill="#005eb8" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
  </svg>
  <a href="#header-navigation">
     Back to top
  </a>
</div> -->


{{ checkboxes({
  idPrefix: "nationality",
  name: "nationality",
  fieldset: {
    legend: {
      text: "Patient record",
      isPageHeading: true,
      classes: "nhsuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "Find solutions that support the maintenance and sharing of patient information."
  },
  items: [
    {
      value: "british",
      text: "Cohort Identification (1)"
    },
    {
      value: "british",
      text: "Patient Information Maintenance (2)"
    },
    {
      value: "irish",
      text: "Personal Health Budget (2)"
    },
    {
      value: "other",
      text: "Personal Health Record (3)"
    },
    {
      value: "other",
      text: "Referral Management (2)"
    },
    {
      value: "other",
      text: "Shared Care Plans (3)"
    },
    {
      value: "other",
      text: "Vaccination and Adverse Reaction Recording (2)"
    },
    {
      value: "other",
      text: "View Record – Citizen (2)"
    }
  ]
}) }}

<!-- <div class="nhsuk-grid-column-full view-results">
  <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
    <path fill="#005eb8" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
  </svg>
  <a href="#header-navigation">
     Back to top
  </a>
</div> -->

{{ checkboxes({
  idPrefix: "nationality",
  name: "nationality",
  fieldset: {
    legend: {
      text: "Practice management",
      isPageHeading: true,
      classes: "nhsuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "Find solutions that support the efficient running of a GP practice."
  },
  items: [
    {
      value: "british",
      text: "Care Homes (2)"
    },
    {
      value: "irish",
      text: "Caseload Management (2)"
    },
    {
      value: "other",
      text: "Domiciliary Care (3)"
    },
    {
      value: "other",
      text: "Resource Management (3)"
    },
    {
      value: "other",
      text: "Workflow (2)"
    }
  ]
}) }}

<!-- <div class="nhsuk-grid-column-full view-results">
  <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
    <path fill="#005eb8" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
  </svg>
  <a href="#header-navigation">
     Back to top
  </a>
</div> -->

{{ checkboxes({
  idPrefix: "nationality",
  name: "nationality",
  fieldset: {
    legend: {
      text: "Reporting and data analytics",
      isPageHeading: true,
      classes: "nhsuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "Find solutions that allow local data analysis across all aspects of a GP practice."
  },
  items: [
    {
      value: "british",
      text: "Data Analytics for Integrated and Federated Care (2)"
    },
    {
      value: "irish",
      text: "GP Extracts Verification (3)"
    },
    {
      value: "other",
      text: "Population Health Management (4)"
    },
    {
      value: "irish",
      text: "Reporting (5)"
    },
    {
      value: "irish",
      text: "Risk Stratification (2)"
    }
  ]
}) }}

<!-- <div class="nhsuk-grid-column-full view-results">
  <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
    <path fill="#005eb8" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
  </svg>
  <a href="#header-navigation">
     Back to top
  </a>
</div> -->
