{{ checkboxes({
  idPrefix: "nationality",
  name: "nationality",
  fieldset: {
    legend: {
      text: "Appointments",
      isPageHeading: true,
      classes: "nhsuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "british",
      text: "Manage Appointments (4)"
    },
    {
      value: "irish",
      text: "Manage Appointments by Proxy (2)"
    },
    {
      value: "other",
      text: "Manage Session templates (4)"
    },
    {
      value: "other",
      text: "Manage Sessions (4)"
    },
    {
      value: "other",
      text: "Configure Appointments (4)"
    },
    {
      value: "other",
      text: "Practice configuration (2)"
    },
    {
      value: "other",
      text: "Manage Appointments (4)"
    },
    {
      value: "other",
      text: "View Appointment reports (4)"
    },
    {
      value: "other",
      text: "Access Patient Record (4)"
    }
  ]
}) }}

<!-- <div class="nhsuk-grid-column-full view-results">
  <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
    <path fill="#005eb8" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
  </svg>
  <a href="#header-navigation">
     Back to top
  </a>
</div> -->

{{ checkboxes({
  idPrefix: "nationality",
  name: "nationality",
  fieldset: {
    legend: {
      text: "Consultations and communication",
      isPageHeading: true,
      classes: "nhsuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "british",
      text: "Manage communications - Patient (3)"
    },
    {
      value: "irish",
      text: "Manage communications - Proxy (5)"
    },
    {
      value: "other",
      text: "Manage communication consents for a Patient (2)"
    },
    {
      value: "other",
      text: "Manage communication preferences for a Patient (1)"
    },
    {
      value: "other",
      text: "Manage communication templates (3)"
    },
    {
      value: "other",
      text: "Create communicationsn (7)"
    },
    {
      value: "other",
      text: "Manage automated communications (2)"
    },
    {
      value: "other",
      text: "View communication reports (3)"
    },
    {
      value: "other",
      text: "Access Patient Record (2)"
    },
    {
      value: "other",
      text: "Manage communication consents for a Proxy (2)"
    },
    {
      value: "other",
      text: "Manage communication preferences for a Proxy (2)"
    },
    {
      value: "other",
      text: "Manage incoming communications (2)"
    },
    {
      value: "other",
      text: "Share monitoring data with my General Practice (2)"
    },
    {
      value: "other",
      text: "Configure Telehealth for the Practice (2)"
    },
    {
      value: "other",
      text: "Configure Telehealth for the Patient (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    }
  ]
}) }}

<!-- <div class="nhsuk-grid-column-full view-results">
  <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
    <path fill="#005eb8" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
  </svg>
  <a href="#header-navigation">
     Back to top
  </a>
</div> -->

{{ checkboxes({
  idPrefix: "nationality",
  name: "nationality",
  fieldset: {
    legend: {
      text: "Cross-organisation practice management",
      isPageHeading: true,
      classes: "nhsuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "british",
      text: "Cross-organisation Appointment Booking (2)"
    },
    {
      value: "irish",
      text: "Cross-organisation Workflow Tools (4)"
    },
    {
      value: "other",
      text: "Cross-organisation Workforce Management (5)"
    },
    {
      value: "irish",
      text: "Digital Diagnostics (2)"
    },
    {
      value: "other",
      text: "Unified Care Record (1)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    }
  ]
}) }}

<!-- <div class="nhsuk-grid-column-full view-results">
  <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
    <path fill="#005eb8" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
  </svg>
  <a href="#header-navigation">
     Back to top
  </a>
</div> -->

{{ checkboxes({
  idPrefix: "nationality",
  name: "nationality",
  fieldset: {
    legend: {
      text: "Document and artefact management",
      isPageHeading: true,
      classes: "nhsuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "british",
      text: "Document Management (4)"
    },
    {
      value: "irish",
      text: "Scanning (2)"
    },
    {
      value: "other",
      text: "Unstructured Data Extraction (4)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    }
  ]
}) }}

<!-- <div class="nhsuk-grid-column-full view-results">
  <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
    <path fill="#005eb8" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
  </svg>
  <a href="#header-navigation">
     Back to top
  </a>
</div> -->

{{ checkboxes({
  idPrefix: "nationality",
  name: "nationality",
  fieldset: {
    legend: {
      text: "Medicines management",
      isPageHeading: true,
      classes: "nhsuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "british",
      text: "Dispensing (4)"
    },
    {
      value: "irish",
      text: "Medicines Optimisation (4)"
    },
    {
      value: "other",
      text: "Medicines Verification (4)"
    },
    {
      value: "irish",
      text: "Prescribing (2)"
    },
    {
      value: "other",
      text: "Prescription Ordering – Citizen (3)"
    },
    {
      value: "other",
      text: "Social Prescribing (4)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    }
  ]
}) }}

<!-- <div class="nhsuk-grid-column-full view-results">
  <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
    <path fill="#005eb8" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
  </svg>
  <a href="#header-navigation">
     Back to top
  </a>
</div> -->


{{ checkboxes({
  idPrefix: "nationality",
  name: "nationality",
  fieldset: {
    legend: {
      text: "Patient record",
      isPageHeading: true,
      classes: "nhsuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "british",
      text: "Cohort Identification (1)"
    },
    {
      value: "british",
      text: "Patient Information Maintenance (2)"
    },
    {
      value: "irish",
      text: "Personal Health Budget (2)"
    },
    {
      value: "other",
      text: "Personal Health Record (3)"
    },
    {
      value: "other",
      text: "Referral Management (2)"
    },
    {
      value: "other",
      text: "Shared Care Plans (3)"
    },
    {
      value: "other",
      text: "Vaccination and Adverse Reaction Recording (2)"
    },
    {
      value: "other",
      text: "View Record – Citizen (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    }
  ]
}) }}

<!-- <div class="nhsuk-grid-column-full view-results">
  <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
    <path fill="#005eb8" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
  </svg>
  <a href="#header-navigation">
     Back to top
  </a>
</div> -->

{{ checkboxes({
  idPrefix: "nationality",
  name: "nationality",
  fieldset: {
    legend: {
      text: "Practice management",
      isPageHeading: true,
      classes: "nhsuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "british",
      text: "Care Homes (2)"
    },
    {
      value: "irish",
      text: "Caseload Management (2)"
    },
    {
      value: "other",
      text: "Domiciliary Care (3)"
    },
    {
      value: "other",
      text: "Resource Management (3)"
    },
    {
      value: "other",
      text: "Workflow (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    }
  ]
}) }}

<!-- <div class="nhsuk-grid-column-full view-results">
  <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
    <path fill="#005eb8" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
  </svg>
  <a href="#header-navigation">
     Back to top
  </a>
</div> -->

{{ checkboxes({
  idPrefix: "nationality",
  name: "nationality",
  fieldset: {
    legend: {
      text: "Reporting and data analytics",
      isPageHeading: true,
      classes: "nhsuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "british",
      text: "Data Analytics for Integrated and Federated Care (2)"
    },
    {
      value: "irish",
      text: "GP Extracts Verification (3)"
    },
    {
      value: "other",
      text: "Population Health Management (4)"
    },
    {
      value: "irish",
      text: "Reporting (5)"
    },
    {
      value: "irish",
      text: "Risk Stratification (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    },
    {
      value: "other",
      text: "Manage incoming Telehealth data (2)"
    }
  ]
}) }}

<!-- <div class="nhsuk-grid-column-full view-results">
  <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
    <path fill="#005eb8" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
  </svg>
  <a href="#header-navigation">
     Back to top
  </a>
</div> -->
