<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Buying Catalogue
{% endblock %}

{% block header %}
<script>
  var list = false;
  function filterList() {
    document.getElementById("list").style.display = "none";
  }
  function filterListReverse() {
    document.getElementById("list").style.display = "block";
  }
</script>
{% include "includes/header.html" %}
{% endblock%}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}

{% from 'breadcrumb/macro.njk' import breadcrumb %}

  {{ breadcrumb({
  items: [
  ],
  href: "/",
  text: "Home"
  }) }}

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1>Find Buying Catalogue Solutions</h1>
      <p class="nhsuk-lede-text">
        Search for Catalogue Solutions that match the needs of your organisation.
      </p>

      <div class="app-search__contents">
        <label class="c-search__label visually-hidden" for="query">Filter Catalogue Solutions</label>
        <input class="app-search__input ui-autocomplete-input" id="query" placeholder="Search by supplier, solution name or Capabilities" autocomplete="off" name="query" type="search" maxlength="50">
        <button type="submit" class="app-search__submit">
            <svg class="icon icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
                <image class="icon__search icon__search--fallback" src="/apps-library/static/apps_library/images/icon-search-blue.352e1118d687.png" xlink:href="">
            </image></svg>
            <span class="visually-hidden">Search</span>
        </button>
    </div>

      {{ warningCallout({
        "heading": "GP IT Futures framework expired",
        "HTML": "<p>Lot 1 of the GP IT Futures framework expired on 31 March 2023. This means you can no longer carry out new procurements of solutions and services offered under that framework.</p>
                <p>Continuity contracts have been put in place to ensure that you continue to have access to solutions and services purchased between 1 April 2023 and the go live date of the replacement framework, which is scheduled for summer 2023.</p>
                <p>You’ll still be able to use the Buying Catalogue to browse and procure solutions and services from the Digital First Online Consultation and Video Consultation (DFOCVC) framework.</p>
                <p>However, orders placed under the GP IT Futures framework will not be completed until the replacement framework is live.</p>"
        }) }}

        {{ actionLink({
            "text": "Filter Catalogue Solutions",
            "href": "#"
          }) }}


          {{ select({
            "id": "select-1",
            "name": "select-1",
            "label": {
              "text": "Sort by:"
            },
            "items": [
              {
                "value": 1,
                "text": "A to Z"
              },
              {
                "value": 2,
                "text": "Z to A",
                "selected": true
              },
              {
                "value": 3,
                "text": "Last published",
                "disabled": true
              }
            ]
          }) }}

       {% from 'components/bc-list-item/macro.njk' import bcListItem %}
       {{ bcListItem({
         "solution": "Online and Video Consult",
         "supplier": "Caltech Health",
         "text": "Our online triaging system allows patients to easily access self-help advice, and fill out forms containing their requests and queries that go into their practice's workflow. Helping to improve access to services, Online Consult is configurable, and integrates with all leading GP Clinical Systems.",
         "capabilities": [
           {
             "text": "e-Consultations (Patient/Service User to Professional)"
           },
           {
             "text": "Appointments Management – COVID-19 Vaccinations"
           }
         ]
       }) }}

       {{ bcListItem({
         "solution": "Q Doctor",
         "supplier": "MyMed Ltd",
         "text": "Q health is a secure video consultation platform and appointment booking platform used around the NHS, enabling digital appointment booking (including COVID-19 vaccination appointment management) and remote consultations between clinicians and patients.",
         "capabilities": [
           {
             "text": "e-Consultations (Patient/Service User to Professional)"
           },
           {
             "text": "Appointments Management – COVID-19 Vaccinations"
           }
         ]
       }) }}

       {{ bcListItem({
         "solution": "healthya Online and Video Consultation",
         "supplier": "ADDVantage Technologies",
         "text": "Healthya provides a seamless and flexible secure online video consultation platform to supplement NHS Systems. Patients connect to the NHS Health / Care Professional using the user friendly healthya app. The intuitive app is free for NHS patients and integrates with NHS provider services.",
         "capabilities": [
           {
             "text": "e-Consultations (Patient/Service User to Professional)"
           }
         ]
       }) }}

       {{ bcListItem({
         "solution": "Engage Consult",
         "supplier": "Engage Health Systems Limited",
         "text": "Engage Consult allows patients to communicate securely and safely online with their practice about non-emergency medical conditions or admin questions. The solution offers 24/7 access to self-help information, other local NHS and self-care services.",
         "capabilities": [
           {
             "text": "e-Consultations (Patient/Service User to Professional)"
           },
           {
             "text": "e-Consultations (Professional to Professional)"
           }
         ]
       }) }}

       {{ bcListItem({
         "solution": "PATCHS Online Consultation",
         "supplier": "Advanced Health and Care Limited",
         "text": "PATCHS is a complete online consultation and triage solution designed by GPs and academics to help manage patient workload. It enables practices to implement a Total Triage model, and set up Virtual Hubs / eHubs for federated working.",
         "capabilities": [
           {
             "text": "e-Consultations (Patient/Service User to Professional)"
           }
         ]
       }) }}

       <div id="list">
       {{ bcListItem({
         "solution": "askmyGP",
         "supplier": "Salvie Ltd",
         "text": "askmyGP provides online consultation and workflow tools to maintain doctor-patient relationships and keeps patients in touch with their registered practice. Clinicians use askmyGP to prioritise and deliver care by secure message, telephone, video or face-to-face appointment.",
         "capabilities": [
           {
             "text": "e-Consultations (Patient/Service User to Professional)"
           }
         ]
       }) }}

       {{ bcListItem({
         "solution": "FootFall",
         "supplier": "Silicon Practice",
         "text": "FootFall is a complete digital practice that enables patients to engage with all areas of the practice online. With the option to operate in Digital Triage mode, FootFall can transform the way your patients access care and how you manage demands on the practice.",
         "capabilities": [
           {
             "text": "e-Consultations (Patient/Service User to Professional)"
           },
           {
             "text": "Appointments Management – COVID-19 Vaccinations"
           }
         ]
       }) }}

       {{ bcListItem({
         "solution": "Online and Video Consult",
         "supplier": "Caltech Health",
         "text": "Our online triaging system allows patients to easily access self-help advice, and fill out forms containing their requests and queries that go into their practice's workflow. Helping to improve access to services, Online Consult is configurable, and integrates with all leading GP Clinical Systems.",
         "capabilities": [
           {
             "text": "e-Consultations (Patient/Service User to Professional)"
           },
           {
             "text": "Appointments Management – COVID-19 Vaccinations"
           }
         ]
       }) }}

       {{ bcListItem({
         "solution": "Q Doctor",
         "supplier": "MyMed Ltd",
         "text": "Q health is a secure video consultation platform and appointment booking platform used around the NHS, enabling digital appointment booking (including COVID-19 vaccination appointment management) and remote consultations between clinicians and patients.",
         "capabilities": [
           {
             "text": "e-Consultations (Patient/Service User to Professional)"
           },
           {
             "text": "Appointments Management – COVID-19 Vaccinations"
           }
         ]
       }) }}

       {{ bcListItem({
         "solution": "healthya Online and Video Consultation",
         "supplier": "ADDVantage Technologies",
         "text": "Healthya provides a seamless and flexible secure online video consultation platform to supplement NHS Systems. Patients connect to the NHS Health / Care Professional using the user friendly healthya app. The intuitive app is free for NHS patients and integrates with NHS provider services.",
         "capabilities": [
           {
             "text": "e-Consultations (Patient/Service User to Professional)"
           }
         ]
       }) }}

       {{ bcListItem({
         "solution": "Engage Consult",
         "supplier": "Engage Health Systems Limited",
         "text": "Engage Consult allows patients to communicate securely and safely online with their practice about non-emergency medical conditions or admin questions. The solution offers 24/7 access to self-help information, other local NHS and self-care services.",
         "capabilities": [
           {
             "text": "e-Consultations (Patient/Service User to Professional)"
           },
           {
             "text": "e-Consultations (Professional to Professional)"
           }
         ]
       }) }}

       {{ bcListItem({
         "solution": "PATCHS Online Consultation",
         "supplier": "Advanced Health and Care Limited",
         "text": "PATCHS is a complete online consultation and triage solution designed by GPs and academics to help manage patient workload. It enables practices to implement a Total Triage model, and set up Virtual Hubs / eHubs for federated working.",
         "capabilities": [
           {
             "text": "e-Consultations (Patient/Service User to Professional)"
           }
         ]
       }) }}

       {{ bcListItem({
         "solution": "askmyGP",
         "supplier": "Salvie Ltd",
         "text": "askmyGP provides online consultation and workflow tools to maintain doctor-patient relationships and keeps patients in touch with their registered practice. Clinicians use askmyGP to prioritise and deliver care by secure message, telephone, video or face-to-face appointment.",
         "capabilities": [
           {
             "text": "e-Consultations (Patient/Service User to Professional)"
           }
         ]
       }) }}

       {{ bcListItem({
         "solution": "FootFall",
         "supplier": "Silicon Practice",
         "text": "FootFall is a complete digital practice that enables patients to engage with all areas of the practice online. With the option to operate in Digital Triage mode, FootFall can transform the way your patients access care and how you manage demands on the practice.",
         "capabilities": [
           {
             "text": "e-Consultations (Patient/Service User to Professional)"
           },
           {
             "text": "Appointments Management – COVID-19 Vaccinations"
           }
         ]
       }) }}
       </div>

       <hr style="margin-top: 0.5em;" />

       <form action="catalogue-solutions-compare">
         {% from 'button/macro.njk' import button %}
         {{ button({
           "text": "Compare selected",
           "classes": "nhsuk-button--secondary"
         }) }}
       </form>

      <hr style="margin-top: 0.5em;" />

      {% from 'pagination/macro.njk' import pagination %}
      {{ pagination({
        "previousUrl": "#",
        "previousPage": "1 of 20",
        "nextUrl": "#",
        "nextPage": "3 of 20"
      }) }}

  </div>
</div>
<br /><br />

{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
