{% extends 'layout.html' %}

{% block pageTitle %}
  Buying Catalogue
{% endblock %}

{% block header %}
{% include "includes/header-proxy.html" %}
{% endblock%}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}

{% endblock %}
<!-- Your page content goes inside the content block -->
{% block content %}
{% from 'back-link/macro.njk' import backLink %}

{{ backLink({
  "href": "order-dashboard",
  "text": "Go back"
}) }}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

{% from 'radios/macro.njk' import radios %}
{% from 'fieldset/macro.njk' import fieldset %}
{% from 'hint/macro.njk' import hint %}
{% from 'input/macro.njk' import input %}

<h1>Lorem ipsum dolor sit amet.
  <span class="nhsuk-caption-xl nhsuk-caption--bottom">
      <span class="nhsuk-u-visually-hidden"> - </span>
      Order C10001-01
  </span>
</h1>
<p class="nhsuk-lede-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, repellat.</p>
<!-- {% from 'inset-text/macro.njk' import insetText %}

{{ insetText({
  "HTML": "<p>You will not be able to retrieve you order once confirmed.</p>"
}) }} -->

{% from 'warning-callout/macro.njk' import warningCallout %}

{{ warningCallout({
  "heading": "Lorem ipsum",
  "HTML": "<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat totam facilis officiis facere, nostrum ex enim! Eligendi asperiores optio rem deleniti corporis debitis. Recusandae, qui. </p>"
}) }}

<p class="nhsuk-body">Additional paragraph if needed.</p>

<form>
  {{ button({
    "text": "Lorem ipsum",
    "href":"#"
  }) }}
</form>

    </div>
  </div>

  <br /><br />
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
