{% extends 'layout.html' %}

{% block pageTitle %}
  Buying Catalogue
{% endblock %}

{% block header %}
{% include "includes/header-proxy.html" %}
{% endblock%}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}

{% endblock %}

<!-- Your page content goes inside the content block -->
{% block content %}
{% from 'back-link/macro.njk' import backLink %}

{{ backLink({
  "href": "order-5-10-1-supplier-selected",
  "text": "Go back"
}) }}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>Confirm Service Recipients
      <span class="nhsuk-caption-xl nhsuk-caption--bottom">
        <span class="nhsuk-u-visually-hidden"> - </span>
        EMIS Web GP
      </span>
    </h1>

    <p class="nhsuk-lede-text">Review the organisations you’ve selected to receive this Additional Service.</p>


    <h2>Selected Service Recipients</h2>
    <p>You’ve selected 10 Service Recipients.</p>
    <ol class="nhsuk-list nhsuk-list--bullet">
      <li>Assura ER LLP Hull Dermatology</li>
      <li>Bevan Ltd</li>
      <li>Burnbrae Medical Practice</li>
      <li>Cook BF</li>
      <li>Dermatology Clinic GPSI</li>
      <li>East Park Practice</li>
      <li>Kingston Health (Hull)</li>
      <li>Princes Medical Centre</li>
      <li>St Andrew's Surgery</li>
      <li>Wilberforce Surgery</li>
    </ol>
  <br/>

  <p>You can <a href="serv-rec-test-1">add or remove Service Recipients</a> if needed, or edit them later if you continue with your order.</p>

      <br />

            <form action="order-5-4-2-add-additional-service-price-1">
            {{ button({
              "text": "Continue"
            }) }}
            </form>

          </div>
        </div>

      <br /><br />
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
