{% extends 'layout.html' %}

{% block pageTitle %}
  Buying Catalogue
{% endblock %}

{% block header %}
  {% include "includes/header-proxy.html" %}
  {% endblock%}

  <!-- Breadcrumb goes inside the beforeContent block -->
  {% block beforeContent %}{% endblock %}
  <!-- Your page content goes inside the content block -->
  {% block content %}

  <script>
    function sendForm() {
      var opt1 = document.getElementById("default-payment-schedule-1").checked ? document.getElementById("default-payment-schedule-1").value : "";
      var opt2 = document.getElementById("default-payment-schedule-2").checked ? document.getElementById("default-payment-schedule-2").value : "";

      if(opt1=="yes") {
          document.location.href = "associated-service-requirements";
      }
      else if(opt2=="no") {
          document.location.href = "associated-service-billing-1";
      }
    }
  </script>

    {% from 'back-link/macro.njk' import backLink %}

    {{ backLink({
      "href": "associated-service-billing",
      "text": "Go back"
    }) }}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <h1>Review Associated Services billing
          <span class="nhsuk-caption-xl nhsuk-caption--bottom">
            <span class="nhsuk-u-visually-hidden">
              -
            </span>
            Order C000001-01
          </span>
        </h1>

        <p class="nhsuk-lede-text">Make sure you’re happy with how you’ll be billed for your Associated Services.</p>


        {{ table({
          responsive: true,
          panel: false,
          caption: "Associated Services billing",
          tableClasses: "nhsuk-u-margin-bottom-7",
          firstCellIsHeader: false,
          head: [
            {
              text: "Name"
            },
            {
              text: "Quantity"
            },
            {
              text: "Payment trigger"
            }
          ],
          rows: [
            [
              {
                header: "Associated Service name",
                text: "Training"
              },
              {
                header: "Quantity",
                text: "100"
              },
              {
                header: "Payment trigger and conditions",
                text: "Bill on invoice"
              }
            ],
            [
              {
                header: "Associated Service name",
                text: "Implementation"
              },
              {
                header: "Quantity",
                text: "100"
              },
              {
                header: "Payment trigger and conditions",
                text: "Bill on invoice"
              }
            ]
          ]
        }) }}

        {{ radios({
          "idPrefix": "default-payment-schedule",
          "name": "default-payment-schedule-radios",
          "classes": "nhsuk-u-margin-bottom-3",
          "fieldset": {
            "legend": {
              "text": "Are you happy with this payment schedule?",
              "classes": "nhsuk-fieldset__legend--s",
              "isPageHeading": false
            }
          },
          "items": [
            {
              "value": "yes",
              "text": "Yes"
            },
            {
              "value": "no",
              "text": "No, I would like some Associated Services to be billed once a milestone is achieved"
            }
          ]
        }) }}

        {{ button({
          "text": "Continue",
          "href":"javascript: sendForm();"
        }) }}

      </div>
    </div>

    <br/><br/>
  {% endblock %}

  {% block footer %}
    {% include "includes/footer.html" %}
  {% endblock %}
