{% extends 'layout.html' %}

{% block pageTitle %}
  Buying Catalogue
{% endblock %}

{% block header %}
  {% include "includes/header-proxy.html" %}
  {% endblock%}

  <!-- Breadcrumb goes inside the beforeContent block -->
  {% block beforeContent %}{% endblock %}
  <!-- Your page content goes inside the content block -->
  {% block content %}

    {% from 'back-link/macro.njk' import backLink %}

    {{ backLink({
      "href": "associated-service-billing-2",
      "text": "Go back"
    }) }}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <h1>Assign milestone to Associated Service
          <span class="nhsuk-caption-xl nhsuk-caption--bottom">
            <span class="nhsuk-u-visually-hidden">
              -
            </span>
            Implementation
          </span>
        </h1>
        <p class="nhsuk-lede-text">Select the Associated Services you want to be billed for on milestone achievement.</p>
        {{ insetText({
          "HTML": "<p>You've <strong>assigned 5 units</strong> of this Additional Service and have <strong>5 more units</strong> to assign.</p><p>Select the milestone and the number of units you want to be billed against it.</p>"
        }) }}

        {{ details({
          "text": "View milestone information",
          "HTML": '
          <table role="table" class="nhsuk-table-responsive">
          <caption class="nhsuk-table__caption">Milestone M1: Go Live</caption>
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">
                Milestone ID
              </th>
              <th role="columnheader" class="" scope="col">
                Milestone description
              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Milestone ID </span>M1-1
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Milestone description</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Milestone ID </span>M1-2
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Milestone description</span>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Milestone ID </span>M1-3
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Milestone description</span>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Milestone ID </span>M1-4
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Milestone description</span>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </td>
            </tr>
          </tbody>
        </table>

        <br />

        <table role="table" class="nhsuk-table-responsive">
        <caption class="nhsuk-table__caption">Milestone M2: Service Stability</caption>
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Milestone ID
            </th>
            <th role="columnheader" class="" scope="col">
              Milestone description
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Milestone ID </span>M1-1
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Milestone description</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Milestone ID </span>M1-2
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Milestone description</span>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Milestone ID </span>M1-3
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Milestone description</span>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Milestone ID </span>M1-4
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Milestone description</span>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </td>
          </tr>
        </tbody>
        </table>
        '
        }) }}

        {{ select({
          "id": "select-1",
          "name": "select-1",
          "label": {
            "text": "Which milestone would you like to bill against?"
          },
          "items": [
            {
              "value": 1,
              "text": "Milestone 1"
            },
            {
              "value": 2,
              "text": "Milestone 2"
            },
            {
              "value": 3,
              "text": "Milestone 3"
            },
            {
              "value": 4,
              "text": "Milestone 4"
            },
            {
              "value": 5,
              "text": "Milestone 5"
            },
            {
              "value": 6,
              "text": "Milestone 6"
            }
          ]
        }) }}

        {{ input({
          "label": {
            "text": "How many units do you want to bill against the milestone you’ve selected?"
          },
          "id": "number-units",
          "name": "number-of-units",
            "classes": "nhsuk-input--width-3"
        }) }}

        <form>
          {{ checkboxes({
            "idPrefix": "example",
            "name": "example",
            "fieldset": {
              "legend": {
                "text": "I do not want to assign any more units",
                "classes": "nhsuk-fieldset__legend--s",
                isPageHeading: false
              }
            },
            "items": [
              {
                "value": "surplus",
                "text": "I’d like any unassigned units to be billed on invoice "
              }
            ]
          }) }}
        </form>

        {{ button({
          "text": "Save and continue",
          "href":"associated-service-billing-4"
        }) }}

      </div>
    </div>

    <br/><br/>
  {% endblock %}

  {% block footer %}
    {% include "includes/footer.html" %}
  {% endblock %}
