{% extends 'layout.html' %}

{% block pageTitle %}
  Buying Catalogue
{% endblock %}

{% block header %}
  {% include "includes/header-proxy.html" %}
  {% endblock%}

  <!-- Breadcrumb goes inside the beforeContent block -->
  {% block beforeContent %}{% endblock %}
  <!-- Your page content goes inside the content block -->
  {% block content %}

    {% from 'back-link/macro.njk' import backLink %}

    {{ backLink({
  "href": "../order-4-summary-completed",
  "text": "Go back"
}) }}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <h1>Security measures
          <span class="nhsuk-caption-xl nhsuk-caption--bottom">
            <span class="nhsuk-u-visually-hidden">
              -
            </span>
            Order C000001-01
          </span>
        </h1>

        <p class="nhsuk-lede-text">Select if you require any special security measures such as practice staff using the solution in private.</p>

        {{ actionLink({
          "text": "Edit security measures",
          "href": "security-measures"
        }) }}

        <hr />

        {{ summaryList({
          rows: [
            {
              key: {
                text: "Security measures required?"
              },
              value: {
                text: "Yes"
              }
            },
            {
              key: {
                text: "Security measures description"
              },
              value: {
                text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
              }
            }
          ]
        }) }}

        {{ button({
          "text": "Continue",
          "href":"../order-4-summary-security-completed"
        }) }}

      </div>
    </div>

    <br/><br/>
  {% endblock %}

  {% block footer %}
    {% include "includes/footer.html" %}
  {% endblock %}
