{% extends 'layout.html' %}

{% block pageTitle %}
  Buying Catalogue
{% endblock %}

{% block header %}
  {% include "includes/header-proxy.html" %}
  {% endblock%}

  <!-- Breadcrumb goes inside the beforeContent block -->
  {% block beforeContent %}{% endblock %}
  <!-- Your page content goes inside the content block -->
  {% block content %}
    {% from 'back-link/macro.njk' import backLink %}

    {{ backLink({
  "href": "order-5-4-2-add-solution-service-recipient",
  "text": "Go back"
}) }}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <h1>Price of Catalogue Solution<span class="nhsuk-caption-xl nhsuk-caption--bottom">
            <span class="nhsuk-u-visually-hidden">
              -
            </span>
            EMIS Web GP
          </span>
        </h1>
        <p class="nhsuk-lede-text">Confirm the price you'll be paying. We've included the list price, but this can be changed if you’ve agreed a different rate with the supplier.</p>

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xs">
            <h2 class="nhsuk-fieldset__heading">
              What price have you agreed, in pounds per patient per year?
            <h2/>
            <div class="nhsuk-hint" id="example-with-hint-text-hint">
              You can change the list price if you’ve agreed a different rate with the supplier.
            </div>
          </legend>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="tier-1-cost">
              For Tier 1
            </label>
            <div class="nhsuk-hint" id="example-with-hint-text-hint">
              1 to 89,999 patients.
            </div>
            <div class="govuk-input__wrapper">
              <div class="govuk-input__prefix" aria-hidden="true">£</div>
              <input class="nhsuk-input nhsuk-input--width-5" id="tier-1-cost" type="text" spellcheck="false" value="1.10">
              <div class="govuk-input__suffix" aria-hidden="true">per patient per year</div>
            </div>
          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="tier-2-cost">
              For Tier 2
            </label>
            <div class="nhsuk-hint" id="example-with-hint-text-hint">
              90,000 to 899,999 patients.
            </div>
            <div class="govuk-input__wrapper">
              <div class="govuk-input__prefix" aria-hidden="true">£</div>
              <input class="nhsuk-input nhsuk-input--width-5" id="tier-2-cost" type="text" spellcheck="false" value="0.99">
              <div class="govuk-input__suffix" aria-hidden="true">per patient per year</div>
            </div>
          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="tier-3-cost">
              For Tier 3
            </label>
            <div class="nhsuk-hint" id="example-with-hint-text-hint">
              900,000+ patients.
            </div>
            <div class="govuk-input__wrapper">
              <div class="govuk-input__prefix" aria-hidden="true">£</div>
              <input class="nhsuk-input nhsuk-input--width-5" id="tier-3-cost" type="text" spellcheck="false" value="0.75">
              <div class="govuk-input__suffix" aria-hidden="true">per patient per year</div>
            </div>
          </div>

        </fieldset>

        <p>The total price for this Catalogue Solution will be calculated cumulatively. </p>

        {{ details({
          "text": "What does calculated cumulatively mean?",
          "HTML": "
          <p>The total cost will be determined by the tiers and the number of items you buy. For example:</p>
          <h2 class='nhsuk-heading-m'>Quantity</h2>
          <p>Service Recipient 1 needs 5 licences</p>
            <p>Service Recipient 2 needs 5 licences</p>
            <p>Service Recipient 3 needs 15 licences</p>
            <p>Total quantity: 25</p>
          <h2 class='nhsuk-heading-m'>Tier</h2>
          <p>Tier 1: 1-9 licences cost £5</p>
          <p>Tier 2: 10-19 licences cost £2.50</p>
          <p>Tier 3: 20+ licences cost £1</p>
          <h2 class='nhsuk-heading-m'>Price</h2>
          <p>Tier 1: 9 licences cost £45</p>
          <p>Tier 2: 9 licences cost £22.50</p>
          <p>Tier 3: 7 licences cost £7</p>
          <p>Total cost: £74.50"
}) }}

        <br/>
        <br/>

        <form action="order-5-4-2-select-solution-confirm-quantity">
          {{ button({
            "text": "Save and continue"
          }) }}
        </form>

      </div>
    </div>

    <br/><br/>
  {% endblock %}

  {% block footer %}
    {% include "includes/footer.html" %}
  {% endblock %}
