{% extends 'layout.html' %}

{% block pageTitle %}
  Buying Catalogue
{% endblock %}

{% block header %}
{% include "includes/header-proxy.html" %}
{% endblock%}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}

{% endblock %}

<!-- Your page content goes inside the content block -->
{% block content %}

<script>
  function sendForm() {
    var radioYes = document.getElementById("contact-1").checked ? document.getElementById("contact-1").value : "";
    var radioNo = document.getElementById("contact-2").checked ? document.getElementById("contact-2").value : "";

    if(radioNo=="no") {
        document.location.href = "order-2-4-triage-instructions";
    }
    else if(radioYes=="yes") {
        document.location.href = "order-3-description";
    }
  }
</script>
{% from 'back-link/macro.njk' import backLink %}

{{ backLink({
  "href": "order-2-2-triage",
  "text": "Go back"
}) }}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% from 'radios/macro.njk' import radios %}


      {{ radios({
        "idPrefix": "contact",
        "name": "contact",
        "fieldset": {
          "legend": {
            "text": "Have you carried out the procedure?",
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": "true"
          }
        },
        "hint": {
          "text": "Lorem ipsum."
        },
        "items": [
          {
            "value": "yes",
            "text": "Yes"
          },
          {
            "value": "no",
            "text": "No"
          }
        ]
      }) }}


{{ button({
  "text": "Continue",
  "href":"javascript: sendForm();"
}) }}

    </div>
  </div>

  <br /><br />
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
