<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Buying Catalogue
{% endblock %}

{% block header %}
{% include "includes/header-admin.html" %}
{% endblock%}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}

<!-- {% from 'breadcrumb/macro.njk' import breadcrumb %}

  {{ breadcrumb({
  items: [
  ],
  href: "/",
  text: "Home"
  }) }} -->

{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  {% from 'back-link/macro.njk' import backLink %}

  {{ backLink({
    "href": "cookies-policy",
    "text": "Go back"
  }) }}

    <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">


            <h1>
              <span role="text">Cookies that measure website use (analytics cookies)</h1>

            <p class="nhsuk-lede-text">These cookies store information about how you use our website, such as the links you click on. We use them to help make our website better.</p>

            <form action="index" method="post">

              {% from 'radios/macro.njk' import radios %}
  {% from 'fieldset/macro.njk' import fieldset %}
  {% from 'hint/macro.njk' import hint %}

  {% call fieldset({
    legend: {
      "text": "What settings do you want for analytics cookies?",
      "classes": "nhsuk-fieldset__legend--l",
      "isPageHeading": true
    }
    }) %}
    {{ hint({
      "text": "We'll use a cookie to save your settings.",
      "classes": "nhsuk-u-margin-bottom-2"
    }) }}

    {{ radios({
      "idPrefix": "example-hints",
      "name": "example-hints",
      "items": [
    {
      "value": "yes",
      "text": "Use cookies to measure my website use"
    },
    {
      "value": "no",
      "text": "Do not use cookies to measure my website use"
    }
  ]
  }) }}
  {% endcall %}
            <br />

            {% from 'button/macro.njk' import button %}

            {{ button({
              "text": "Save and continue"
            }) }}

            <!--br /><br />
            <a href="admin-solution-interoperability">Return</a-->

            </form>
          </div>
        </div>


{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
