<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Buying Catalogue
{% endblock %}

{% block header %}
<script>
  var list = false;
  function filterList() {
    document.getElementById("list").style.display = "none";
  }
  function filterListReverse() {
    document.getElementById("list").style.display = "block";
  }
</script>
{% include "includes/header-fc-testing.html" %}

{% endblock%}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}

{% from 'breadcrumb/macro.njk' import breadcrumb %}

{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    {{ backLink({
      "href": "competition-name",
      "text": "Go back"
    }) }}

    <h1>Compare the solutions for this filter</h1>
    <p class="nhsuk-lede-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, inventore.
    </p>

    <!--{{ insetText({
      "HTML": "<p class='nhsuk-body'>Once you’re happy with your results, you can save your filters to create a shortlist.</p>"
    }) }}-->

    <hr>

    <h2>Selected Capabilities and Epics</h3>

    <ul>
      <li>Appointments Management - Citizen and 2 epics</li>
      <li>Video Consultation and 5 epics</li>
    </ul>

    <hr>

    <div class="nhsuk-grid-row">

      <div class="nhsuk-grid-column-one-third">

        <h2 class="nhsuk-heading-s">Additional filters</h2>

        <details class="nhsuk-details nhsuk-expander" open>
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Framework
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul>
              <li>DFOCVC (2)</li>
            </ul>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander" open>
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Client application type
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul>
              <li>Browser based</li>
              <li>Mobile or tablet</li>
            </ul>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander" open>
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Hosting type
            </span>
          </summary>
          <div class="nhsuk-details__text">
            None selected
          </div>
        </details>

        <a class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-3" style="width:100%;" href="/compare/current/compare-solutions">Compare selected solutions (opens in a new tab)</a>

        <a class="nhsuk-button" style="width:100%;" href="view-solutions-alt">Continue</a>



      </div>

      <div class="nhsuk-grid-column-two-thirds">

        <h2 class="nhsuk-heading-s">Results</h2>

        <h3 class="nhsuk-heading-m">
          <a href="#">Online and Video Consult</a>
          <span class="nhsuk-caption-m nhsuk-caption--bottom">
            <span class="nhsuk-u-visually-hidden"> - </span>
            Caltech Health
          </span>
        </h3>

        <p class="nhsuk-body-s">Our online triaging system allows patients to easily access self-help advice, and fill
          out forms containing their requests and queries that go into their practice's workflow. Helping to improve
          access to services, Online Consult is configurable, and integrates with all leading GP Clinical Systems.</p>

        <h4 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2">Required Additional Services:</h4>

        <p class="nhsuk-body-s"><a href="#">Document Management</a>, <a href="#">Caltech Mobile</a></p>

        <h4 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2">Framework</h4>

        <p class="nhsuk-body-s">DFOCVC</p>

        {{ checkboxes({
          "idPrefix": "sol1",
          "name": "sol1",
          "fieldset": {
            "legend": {
              "text": "Compare this Catalogue Solution",
              "classes": "nhsuk-fieldset__legend--s",
              "isPageHeading": "false"
            }
          },
          "items": [
            {
              "value": "email",
              "text": "Compare Online and Video Consult"
            }
          ]
        }) }}


        <hr />

        <h3 class="nhsuk-heading-m">
          <a href="#">healthya Online and Video Consultation</a>
          <span class="nhsuk-caption-m nhsuk-caption--bottom">
            <span class="nhsuk-u-visually-hidden"> - </span>
            ADDVantage Technologies
          </span>
        </h3>

        <p class="nhsuk-body-s">Healthya provides a seamless and flexible secure online video consultation platform to
          supplement NHS Systems. Patients connect to the NHS Health / Care Professional using the user friendly
          healthya app. The intuitive app is free for NHS patients and integrates with NHS provider services. </p>

        <h4 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2">Framework</h4>

        <p class="nhsuk-body-s">DFOCVC</p>

        {{ checkboxes({
          "idPrefix": "sol2",
          "name": "sol2",
          "fieldset": {
            "legend": {
              "text": "Compare this Catalogue Solution",
              "classes": "nhsuk-fieldset__legend--s",
              "isPageHeading": "false"
            }
          },
          "items": [
            {
              "value": "email",
              "text": "Compare healthya Online and Video Consult"
            }
          ]
        }) }}

      </div>

    </div>

    <hr style="margin-top: 0.5em;" />

  </div>
</div>
<br /><br />

{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}