{% extends 'layout.html' %}

{% block pageTitle %}
  Buying Catalogue
{% endblock %}

{% block header %}
{% include "includes/header-proxy.html" %}
{% endblock%}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}

{% endblock %}
<!-- Your page content goes inside the content block -->
{% block content %}
{% from 'back-link/macro.njk' import backLink %}

{{ backLink({
  "href": "view-order",
  "text": "Go back"
}) }}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

{% from 'radios/macro.njk' import radios %}
{% from 'fieldset/macro.njk' import fieldset %}
{% from 'hint/macro.njk' import hint %}
{% from 'input/macro.njk' import input %}

<h1>This order cannot be deleted
  <span class="nhsuk-caption-xl nhsuk-caption--bottom">
      <span class="nhsuk-u-visually-hidden"> - </span>
      Order C000001-01
  </span>
</h1>
<p class="nhsuk-lede-text">This order cannot be deleted as there is an amendment in progress. To delete this order you must first delete the amendment.</p>


<br />

<form>
  {{ button({
    "text": "Return to orders dashboard",
    "href":"view-order"
  }) }}
</form>

    </div>
  </div>

  <br />
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
